//-----------------------------
// Tabs
//-----------------------------

@import '../../globals/scss/vars';
@import '../../globals/scss/colors';
@import '../../globals/scss/spacing';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/layer';
@import '../../globals/scss/typography';
@import '../../globals/scss/layout';
@import '../../globals/scss/import-once';
@import '../../globals/scss/css--typography';

@include exports('step-navigation') {
  .#{$prefix}--step-navigation {
    @include typescale('zeta');
    @include font-smoothing;
    @include font-family;
    color: $text-01;
    font-weight: 600;
    height: auto;
    width: 100%;
    position: relative;

    @include breakpoint(bp--sm--major) {
      background: none;
      min-height: rem(49px);
    }
  }

  .#{$prefix}--step-navigation-trigger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    //padding: 0 $spacing-md;
    height: 2em;
    cursor: pointer;
    //background-color: $field-02;

    svg {
      width: 1em;
      height: 1em;
      fill: $interactive-01;
    }

    @include breakpoint(bp--sm--major) {
      display: none;
    }
  }

  .#{$prefix}--step-navigation-trigger-text {
    text-decoration: none;
    font-weight: 600;
    color: $text-01;
    &:focus {
      @include focus-outline('border');
    }
  }

  .#{$prefix}--step-navigation__nav {
    margin: 0;
    padding: 0;
    //position: absolute;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    a {
      text-decoration: none;
    }

    /* @include breakpoint(bp--sm--major) {
      @include typescale('epsilon');
      flex-direction: column;
      margin-right: $spacing-md;
      margin-left: $spacing-md;
      background: none;
      box-shadow: none;
      z-index: auto;
    }*/
  }

  .#{$prefix}--step-navigation__nav--inline {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }

  .#{$prefix}--step-navigation__nav--hidden {
    display: none;

    @include breakpoint(bp--sm--major) {
      display: flex;
    }
  }

  // Small StepNavigation
  .#{$prefix}--step-navigation--small {
    font-size: 0.5rem;
    .#{$prefix}--step-navigation__nav-item__text {
      display: none;
    }
  }

  // Vertical StepNavigation
  .#{$prefix}--step-navigation--vertical {
    ul {
      flex-direction: row;
    }
    .#{$prefix}--step-navigation__nav-item__text {
      margin-right: 0.5em;
    }
  }

  // Skeleton state
  .#{$prefix}--step-navigation.#{$prefix}--skeleton {
    pointer-events: none;
    cursor: default;
  }

  .#{$prefix}--step-navigation.#{$prefix}--skeleton
    .#{$prefix}--step-navigation__nav-link {
    @include skeleton;
    width: rem(75px);
    height: rem(12px);
  }

  .#{$prefix}--step-navigation.#{$prefix}--skeleton
    .#{$prefix}--step-navigation-trigger {
    @include skeleton;
    width: rem(100px);
  }

  .#{$prefix}--step-navigation.#{$prefix}--skeleton
    .#{$prefix}--step-navigation-trigger
    svg {
    @include hidden;
  }
}
