//-----------------------------
// Tabs
//-----------------------------

@import '../../globals/scss/vars';
@import '../../globals/scss/colors';
@import '../../globals/scss/spacing';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/layer';
@import '../../globals/scss/typography';
@import '../../globals/scss/layout';
@import '../../globals/scss/import-once';
@import '../../globals/scss/css--typography';

@include exports('step-navigation') {
  .#{$prefix}--step-navigation {
    @include typescale('zeta');
    @include font-smoothing;
    @include font-family;
    color: $text-01;
    font-weight: 600;
    height: auto;
    width: 100%;
    position: relative;

    @include breakpoint(bp--sm--major) {
      background: none;
      min-height: rem(49px);
    }
  }

  .#{$prefix}--step-navigation-trigger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 $spacing-md;
    height: rem(40px);
    cursor: pointer;
    //background-color: $field-02;

    svg {
      width: rem(12px);
      height: rem(12px);
      fill: $brand-01;
    }

    &:focus {
      @include focus-outline('border');
    }

    @include breakpoint(bp--sm--major) {
      display: none;
    }
  }

  .#{$prefix}--step-navigation-trigger-text {
    text-decoration: none;
    font-weight: 600;
    color: $text-01;

    &:focus {
      @include focus-outline('border');
    }
  }

  .#{$prefix}--step-navigation__nav {
    @include layer('overlay');
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    z-index: z('dropdown');
    background: $ui-01;

    a {
      text-decoration: none;
    }

    @include breakpoint(bp--sm--major) {
      @include typescale('epsilon');
      flex-direction: column;
      margin-right: $spacing-md;
      margin-left: $spacing-md;
      background: none;
      box-shadow: none;
      z-index: auto;
    }

    @include breakpoint(bp--lg--major) {
      margin-left: 0;
    }
  }

  .#{$prefix}--step-navigation__nav--inline {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }

  .#{$prefix}--step-navigation__nav--hidden {
    display: none;

    @include breakpoint(bp--sm--major) {
      display: flex;
    }
  }

  .#{$prefix}--step-navigation__nav-item {
    @include typescale('zeta');
    background-color: $ui-01;
    margin: 0;
    padding: 0;
    cursor: pointer;
    &:hover,
    &:focus {
      //background-color: $hover-row;

      @include breakpoint(bp--sm--major) {
        outline: 1px solid transparent;
        background: transparent;
      }
    }

    @include breakpoint(bp--sm--major) {
      background: transparent;
      padding: $spacing-sm 0 $spacing-sm;

      /*& + & {
        margin-left: rem(48px);
      }*/
    }

    &:first-child {
      .#{$prefix}--step-navigation__nav-item__indicator {
        &:after {
          top: -16px;
          height: 16px;
        }
      }
    }
  }

  .#{$prefix}--step-navigation__nav-item--selected {
    .#{$prefix}--step-navigation__nav-item__indicator {
      background: $brand-01;
      color: $ui-01;
      &:after {
        background-color: $brand-01;
      }
    }
  }

  .#{$prefix}--step-navigation__section {
    margin-bottom: rem(4px);
    > .#{$prefix}--step-navigation__nav-link {
      margin-bottom: rem(2px);
    }
  }

  .#{$prefix}--step-navigation__section__indicator {
    display: block;
    border: 2px solid $ui-05;
    border-radius: 30px;
    flex-shrink: 0;
    width: rem(34px);
    height: rem(34px);
    line-height: rem(30px);
    margin-right: rem(8px);
    text-align: center;
  }

  .#{$prefix}--step-navigation__nav-item__indicator {
    display: block;
    position: relative;
    background: $ui-04;
    flex-shrink: 0;
    border-radius: 30px;
    width: rem(24px);
    height: rem(24px);
    line-height: rem(24px);
    margin: 0 rem(14px) 0 rem(5px);
    text-align: center;
    &:after {
      display: block;
      width: 2px;
      height: 24px;
      position: absolute;
      z-index: -100;
      //z-index: -1px;
      top: -24px;
      left: 50%;
      margin-left: -1px;
      content: '';
      background: $ui-04;
    }
  }

  .#{$prefix}--step-navigation__nav-item:hover
    .#{$prefix}--step-navigation__nav-link {
    color: $text-01;

    @include breakpoint(bp--sm--major) {
      //color: $hover-secondary;
    }
  }

  .#{$prefix}--step-navigation__nav-link {
    display: flex;
    align-items: center;
    color: $text-01;
    text-decoration: none;
    padding: $spacing-md;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;

    &:focus {
      outline: 1px solid transparent;
      background-color: $brand-01;
      color: $inverse-01;
    }

    @include breakpoint(bp--sm--major) {
      padding: 0 $spacing-3xs;
      width: auto;

      &:hover {
        color: $brand-01;
      }

      &:focus {
        background-color: transparent;
        color: $text-01;
        outline: 1px solid transparent;
        box-shadow: 0 0 0 1px $brand-01;
      }
    }
  }

  // Skeleton state
  .#{$prefix}--step-navigation.#{$prefix}--skeleton {
    pointer-events: none;
    cursor: default;
  }

  .#{$prefix}--step-navigation.#{$prefix}--skeleton
    .#{$prefix}--step-navigation__nav-link {
    @include skeleton;
    width: rem(75px);
    height: rem(12px);
  }

  .#{$prefix}--step-navigation.#{$prefix}--skeleton
    .#{$prefix}--step-navigation-trigger {
    @include skeleton;
    width: rem(100px);
  }

  .#{$prefix}--step-navigation.#{$prefix}--skeleton
    .#{$prefix}--step-navigation-trigger
    svg {
    @include hidden;
  }
}
