// Core SCSS-only
// Project: WFP UI

// Dependencies
@import "math.scss";

// Variables
@import "init";

// Base modules
@import "modules/mixins";
@import "modules/flexbox";
@import "modules/icons";
@import "modules/utility";
@import "modules/grid";

// Typography
@import "modules/typography/alignment";
@import "modules/typography/decoration";
@import "modules/typography/leading";
@import "modules/typography/size";
@import "modules/typography/style";
@import "modules/typography/tracking";
@import "modules/typography/transform";
@import "modules/typography/vertical-align";
@import "modules/typography/weight";
@import "modules/typography/white-space";

// Layout
@import "modules/layout/box-sizing";
@import "modules/layout/clearfix";
@import "modules/layout/floats";
@import "modules/layout/position";
@import "modules/layout/spacing";
@import "modules/layout/display";
@import "modules/layout/widths";
@import "modules/layout/max-widths";
@import "modules/layout/heights";
@import "modules/layout/max-heights";

// Elements
@import "modules/elements/headings";

// Theme
@import "modules/theme/colours";
@import "modules/theme/box-shadow";
