// Project Variables
// Project: WFPUI
// Author: Matthew Morek (me@matthewmorek.com)
// URL: http://matthewmorek.com

$sans-serif-stack:    "lato", sans-serif;
$serif-stack:         "aleo", serif;
$mono-stack:          monospace;
$base-font-size:      16px;
$base-line-height:    1.562;
$small-font-size:     $base-font-size * 0.875;

$spacing-unit:        32px;

$text-color:          #404040;
$background-color:    #ffffff;

$primary:             #2A93FC;
$accent:              #1F6EBC;

// Greys gradation
$grey:                #8c8c8c;
$grey-darkest:        darken($grey, 42%);
$grey-darker:         darken($grey, 36%);
$grey-dark:           darken($grey, 18%);
$grey-light:          lighten($grey, 18%);
$grey-lighter:        lighten($grey, 36%);
$grey-lightest:       lighten($grey, 42%);

// Blue gradation
$blue:                lighten($primary, 9%);
$blue-darkest:        darken($blue, 36%);
$blue-darker:         darken($blue, 18%);
$blue-dark:           darken($blue, 9%);
$blue-light:          lighten($blue, 9%);
$blue-lighter:        lighten($blue, 18%);
$blue-lightest:       lighten($blue, 36%);

$grey-contrast:       #EAEAEA;

$white:               #ffffff;
$red:                 #FF5252;
$orange:              #FFC759;
$yellow:              #FCDC5D;
$green:               #00A878;

// Width of the content area
$content-width:       1000px;

$sm-screen:           568px;
$md-screen:           768px;
$lg-screen:           1024px;
$xl-screen:           1280px;