// Project Mixins
// Project: WFPUI
// Author: Matthew Morek (me@matthewmorek.com)
// URL: http://matthewmorek.com

@import "mixins/_flexbox";

@mixin media-query($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

@mixin box-shadow($shadows...) {
  -webkit-box-shadow: $shadows;
     -moz-box-shadow: $shadows;
          box-shadow: $shadows;
}

@mixin transform($property...) {
  -webkit-transform: $property;
     -moz-transform: $property;
      -ms-transform: $property;
       -o-transform: $property;
          transform: $property;
}

@mixin transform($transforms) {
  -webkit-transform: $transforms;
     -moz-transform: $transforms;
      -ms-transform: $transforms;
          transform: $transforms;
}

@mixin transition($transition) {
  -webkit-transition: -webkit- + $transition;
     -moz-transition: -moz- + $transition;
      -ms-transition: -ms- + $transition;
          transition: $transition;
}