/*!
  WFP UI v0.4.0
  URL:      https://github.com/wfp/ui
  Author:   Matthew Morek (me@matthewmorek.com)
  License:  MIT (https://github.com/wfp/ui/blob/master/LICENSE)
*/

@charset "UTF-8";

// Normalize.css
@import "../_components/modularized-normalize-scss/normalize";

// Import SCSS mixins, variables, modules, etc.
@import "init";

// Import modules
@import "modules/mixins";
@import "modules/base";
@import "modules/utility";
@import "modules/icons";

// Import components
@import "components/buttons";
@import "components/forms";
@import "components/tables";
@import "components/navigation/menu";
@import "components/navigation/flyout";
@import "components/navigation/segmented-control";
@import "components/navigation/breadcrumbs";
@import "components/navigation/pagination";

// Import layouts
@import "layouts/layout";
@import "layouts/header";
@import "layouts/footer";
