/*!
 * WFP UI sans grids, v0.8.0
 * Copyright 2016 WFP/Matthew Morek
 * License: https://github.com/wfp/ui/blob/master/LICENSE
 */

@charset "UTF-8";

// Normalize.css
@import "../_components/modularized-normalize-scss/normalize";

// Import SCSS mixins, variables, modules, etc.
@import "init";

// Import modules
@import "modules/mixins";
@import "modules/base";
@import "modules/utility";
@import "modules/icons";

// Import components
@import "components/buttons";
@import "components/forms";
@import "components/tables";
@import "components/navigation/menu";
@import "components/navigation/flyout";
@import "components/navigation/segmented-control";
@import "components/navigation/breadcrumbs";
@import "components/navigation/pagination";

// Import layouts
@import "layouts/primer";
@import "layouts/header";
@import "layouts/footer";
