.#{$rt-namespace}__toast {
  position: relative;
  min-height: $rt-toast-min-height;
  box-sizing: border-box;
  margin-bottom: 1rem;
  padding: 8px 10px 8px 20px;
  border-radius: 1px;
  //box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .1), 0 2px 15px 0 rgba(0, 0, 0, .05);
  //box-shadow: box-shadow('large');
  box-shadow: 0px 1px 6px rgba(#000000, 0.08),
    0px 25px 30px -15px rgba(#000000, 0.1);
  display: flex;
  justify-content: space-between;
  max-height: $rt-toast-max-height;
  overflow: hidden;
  font-family: $rt-font-family;
  cursor: pointer;
  direction: ltr;
  border-left: 4px solid $brand-01;
  color: $rt-text-color-default;
  &--rtl {
    direction: rtl;
  }
  &--default {
    background: $rt-color-default;
  }
  &--info {
    background: $rt-color-info;
  }
  &--success {
    background: $rt-color-success;
    border-left-color: $support-02;
    svg {
      width: 20px;
      height: 20px;
      margin: -1em 0;
      line-height: 1em;
      vertical-align: middle;
      margin-right: 0.5rem;
      fill: $support-02;
    }
  }
  &--warning {
    background: $rt-color-warning;
    border-left-color: $support-03;
  }
  &--error {
    background: $rt-color-error;
    border-left-color: $support-01;
  }
  &-body {
    margin: auto 0;
    flex: 1;
  }
}

@media #{$rt-mobile} {
  .#{$rt-namespace}__toast {
    margin-bottom: 0;
  }
}
