// Module: Base
// Project: WFP UI
// Author: Matthew Morek (me@matthewmorek.com)
// URL: http://matthewmorek.com

// Always hide an element when it has the `hidden` HTML attribute.
%hidden,
.hidden,
[hidden] {
  display: none;
}

// Reset box-sizing
html,
body,
div,
article,
section,
main,
footer,
header,
form,
fieldset,
pre,
code,
p,
ul,
ol,
li,
dl,
dt,
dd,
textarea,
input[type="email"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="text"],
input[type="url"] {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

// If using grids, reset font-stack for all affected elements
html, button, input, select, textarea,
.grid [class *= "unit"] {
  font-family: $sans-serif-stack;
}

// -----------------------------------------------------------------------------
// Typography
// -----------------------------------------------------------------------------
body {
  margin: 0;
  font-family: $sans-serif-stack;
  font-size: $base-font-size;
  font-weight: normal;
  line-height: 1.500;
  background-color: $background-color;
  color: $text-color;

  @include media-query($xl-screen) {
    font-size: $base-font-size * 1.125;
  };
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: $base-line-height * 0.75;
  margin: 0.25rem 0;
}

h1 {
  font-size: 3rem;
  letter-spacing: -0.05rem;
  line-height: $base-line-height * 0.5;
  margin: 0.5rem 0;
}

h2 {
  font-size: 2.5rem;
  letter-spacing: -0.025rem;
  line-height: $base-line-height * 0.75;
  margin: 0.25rem 0;
}

h3 {
  font-size: 2rem;
  line-height: $base-line-height * 0.875;
  margin: 0.25rem 0;
}

h4 {
  font-size: 1.75rem;
  line-height: $base-line-height;
  margin: 0.25rem 0;
}

h5 {
  font-size: 1.5rem;
  line-height: $base-line-height;
  margin: 0.25rem 0;
}

h6 {
  font-size: 1.25rem;
  line-height: $base-line-height;
  margin: 0.25rem 0;
}

// Fluid image to fit a lfuid parent container while maintaining aspect ratio
img {
  max-width: 100%;
  height: auto;
  display: block;
  vertical-align: middle;
}

// A better looking horizontal rule
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $grey-lighter;
  margin: 1em 0;
  padding: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

// Allow only vertical resizing of textareas
textarea {
  resize: vertical;
}

// -----------------------------------------------------------------------------
// Vertical rhythm
// -----------------------------------------------------------------------------
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin: 0.5rem 0;
}

// -----------------------------------------------------------------------------
// Lists
// -----------------------------------------------------------------------------
menu, ol, ul, dl {
  padding: 0 0 0 $spacing-unit * 4;
}

li {
  margin: 0.25rem 0;
}

// -----------------------------------------------------------------------------
// Figures
// -----------------------------------------------------------------------------
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

// -----------------------------------------------------------------------------
// Links
// -----------------------------------------------------------------------------
a {
  color: darken($blue-darker, 5%);
  text-decoration: none;
  border-bottom: 1px solid $grey-lighter;

  &:visited {
    color: $blue-darkest;
  }

  &:hover {
    border-bottom-color: $orange;
  }

  &:focus {
    outline: thin dotted;
  }
}

// -----------------------------------------------------------------------------
// Blockquotes
// -----------------------------------------------------------------------------
blockquote {
  color: $grey-dark;
  border-left: 6px solid $grey-light;
  border-radius: 2px;
  padding: 0.25rem 0 0.25rem 1rem;
  font-style: italic;
}

// -----------------------------------------------------------------------------
// Code formatting
// -----------------------------------------------------------------------------
pre,
code,
samp {
  color: $grey-dark;
  // font-size: 1em;
  font-style: normal;
  font-family: $mono-stack;
  background-color: $grey-lightest;
  border-radius: 2px;
  padding: 0.125rem 0.25rem;
  line-height: 1.4;
}

code {
  color: $text-color;
  background-color: lighten($yellow, 15%);
  padding: 0.125rem 0.25rem;
}

pre {
  padding: 0.5rem 0.75rem;
  overflow-x: scroll;
  border-left: 6px solid $blue-light;
  word-wrap: normal;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
  }
}
