// CSS: Grid Units
// Project: WFPUI

.wfp-u-1,
.wfp-u-1-1,
.wfp-u-1-2,
.wfp-u-1-3,
.wfp-u-2-3,
.wfp-u-1-4,
.wfp-u-3-4,
.wfp-u-1-5,
.wfp-u-2-5,
.wfp-u-3-5,
.wfp-u-4-5,
.wfp-u-5-5,
.wfp-u-1-6,
.wfp-u-5-6,
.wfp-u-1-8,
.wfp-u-3-8,
.wfp-u-5-8,
.wfp-u-7-8,
.wfp-u-1-12,
.wfp-u-2-12,
.wfp-u-3-12,
.wfp-u-4-12,
.wfp-u-5-12,
.wfp-u-6-12,
.wfp-u-7-12,
.wfp-u-8-12,
.wfp-u-9-12,
.wfp-u-10-12,
.wfp-u-11-12,
.wfp-u-12-12,
.wfp-u-1-24,
.wfp-u-2-24,
.wfp-u-3-24,
.wfp-u-4-24,
.wfp-u-5-24,
.wfp-u-6-24,
.wfp-u-7-24,
.wfp-u-8-24,
.wfp-u-9-24,
.wfp-u-10-24,
.wfp-u-11-24,
.wfp-u-12-24,
.wfp-u-13-24,
.wfp-u-14-24,
.wfp-u-15-24,
.wfp-u-16-24,
.wfp-u-17-24,
.wfp-u-18-24,
.wfp-u-19-24,
.wfp-u-20-24,
.wfp-u-21-24,
.wfp-u-22-24,
.wfp-u-23-24,
.wfp-u-24-24 {
    display: inline-block;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

.wfp-u-1-24 {
    width: 4.1667%;
}

.wfp-u-1-12,
.wfp-u-2-24 {
    width: 8.3333%;
}

.wfp-u-1-8,
.wfp-u-3-24 {
    width: 12.5000%;
}

.wfp-u-1-6,
.wfp-u-2-12,
.wfp-u-4-24 {
    width: 16.6667%;
}

.wfp-u-1-5 {
    width: 20%;
}

.wfp-u-5-24 {
    width: 20.8333%;
}

.wfp-u-1-4,
.wfp-u-3-12,
.wfp-u-6-24 {
    width: 25%;
}

.wfp-u-7-24 {
    width: 29.1667%;
}

.wfp-u-1-3,
.wfp-u-4-12,
.wfp-u-8-24 {
    width: 33.3333%;
}

.wfp-u-3-8,
.wfp-u-9-24 {
    width: 37.5000%;
}

.wfp-u-2-5 {
    width: 40%;
}

.wfp-u-5-12,
.wfp-u-10-24 {
    width: 41.6667%;
}

.wfp-u-11-24 {
    width: 45.8333%;
}

.wfp-u-1-2,
.wfp-u-6-12,
.wfp-u-12-24 {
    width: 50%;
}

.wfp-u-13-24 {
    width: 54.1667%;
}

.wfp-u-7-12,
.wfp-u-14-24 {
    width: 58.3333%;
}

.wfp-u-3-5 {
    width: 60%;
}

.wfp-u-5-8,
.wfp-u-15-24 {
    width: 62.5000%;
}

.wfp-u-2-3,
.wfp-u-8-12,
.wfp-u-16-24 {
    width: 66.6667%;
}

.wfp-u-17-24 {
    width: 70.8333%;
}

.wfp-u-3-4,
.wfp-u-9-12,
.wfp-u-18-24 {
    width: 75%;
}

.wfp-u-19-24 {
    width: 79.1667%;
}

.wfp-u-4-5 {
    width: 80%;
}

.wfp-u-5-6,
.wfp-u-10-12,
.wfp-u-20-24 {
    width: 83.3333%;
}

.wfp-u-7-8,
.wfp-u-21-24 {
    width: 87.5000%;
}

.wfp-u-11-12,
.wfp-u-22-24 {
    width: 91.6667%;
}

.wfp-u-23-24 {
    width: 95.8333%;
}

.wfp-u-1,
.wfp-u-1-1,
.wfp-u-5-5,
.wfp-u-12-12,
.wfp-u-24-24 {
    width: 100%;
}

@media screen and (min-width: 36.5em) {
    .wfp-u-sm-1,
    .wfp-u-sm-1-1,
    .wfp-u-sm-1-2,
    .wfp-u-sm-1-3,
    .wfp-u-sm-2-3,
    .wfp-u-sm-1-4,
    .wfp-u-sm-3-4,
    .wfp-u-sm-1-5,
    .wfp-u-sm-2-5,
    .wfp-u-sm-3-5,
    .wfp-u-sm-4-5,
    .wfp-u-sm-5-5,
    .wfp-u-sm-1-6,
    .wfp-u-sm-5-6,
    .wfp-u-sm-1-8,
    .wfp-u-sm-3-8,
    .wfp-u-sm-5-8,
    .wfp-u-sm-7-8,
    .wfp-u-sm-1-12,
    .wfp-u-sm-2-12,
    .wfp-u-sm-3-12,
    .wfp-u-sm-4-12,
    .wfp-u-sm-5-12,
    .wfp-u-sm-6-12,
    .wfp-u-sm-7-12,
    .wfp-u-sm-8-12,
    .wfp-u-sm-9-12,
    .wfp-u-sm-10-12,
    .wfp-u-sm-11-12,
    .wfp-u-sm-12-12,
    .wfp-u-sm-1-24,
    .wfp-u-sm-2-24,
    .wfp-u-sm-3-24,
    .wfp-u-sm-4-24,
    .wfp-u-sm-5-24,
    .wfp-u-sm-6-24,
    .wfp-u-sm-7-24,
    .wfp-u-sm-8-24,
    .wfp-u-sm-9-24,
    .wfp-u-sm-10-24,
    .wfp-u-sm-11-24,
    .wfp-u-sm-12-24,
    .wfp-u-sm-13-24,
    .wfp-u-sm-14-24,
    .wfp-u-sm-15-24,
    .wfp-u-sm-16-24,
    .wfp-u-sm-17-24,
    .wfp-u-sm-18-24,
    .wfp-u-sm-19-24,
    .wfp-u-sm-20-24,
    .wfp-u-sm-21-24,
    .wfp-u-sm-22-24,
    .wfp-u-sm-23-24,
    .wfp-u-sm-24-24 {
        display: inline-block;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    .wfp-u-sm-1-24 {
        width: 4.1667%;
    }

    .wfp-u-sm-1-12,
    .wfp-u-sm-2-24 {
        width: 8.3333%;
    }

    .wfp-u-sm-1-8,
    .wfp-u-sm-3-24 {
        width: 12.5000%;
    }

    .wfp-u-sm-1-6,
    .wfp-u-sm-2-12,
    .wfp-u-sm-4-24 {
        width: 16.6667%;
    }

    .wfp-u-sm-1-5 {
        width: 20%;
    }

    .wfp-u-sm-5-24 {
        width: 20.8333%;
    }

    .wfp-u-sm-1-4,
    .wfp-u-sm-3-12,
    .wfp-u-sm-6-24 {
        width: 25%;
    }

    .wfp-u-sm-7-24 {
        width: 29.1667%;
    }

    .wfp-u-sm-1-3,
    .wfp-u-sm-4-12,
    .wfp-u-sm-8-24 {
        width: 33.3333%;
    }

    .wfp-u-sm-3-8,
    .wfp-u-sm-9-24 {
        width: 37.5000%;
    }

    .wfp-u-sm-2-5 {
        width: 40%;
    }

    .wfp-u-sm-5-12,
    .wfp-u-sm-10-24 {
        width: 41.6667%;
    }

    .wfp-u-sm-11-24 {
        width: 45.8333%;
    }

    .wfp-u-sm-1-2,
    .wfp-u-sm-6-12,
    .wfp-u-sm-12-24 {
        width: 50%;
    }

    .wfp-u-sm-13-24 {
        width: 54.1667%;
    }

    .wfp-u-sm-7-12,
    .wfp-u-sm-14-24 {
        width: 58.3333%;
    }

    .wfp-u-sm-3-5 {
        width: 60%;
    }

    .wfp-u-sm-5-8,
    .wfp-u-sm-15-24 {
        width: 62.5000%;
    }

    .wfp-u-sm-2-3,
    .wfp-u-sm-8-12,
    .wfp-u-sm-16-24 {
        width: 66.6667%;
    }

    .wfp-u-sm-17-24 {
        width: 70.8333%;
    }

    .wfp-u-sm-3-4,
    .wfp-u-sm-9-12,
    .wfp-u-sm-18-24 {
        width: 75%;
    }

    .wfp-u-sm-19-24 {
        width: 79.1667%;
    }

    .wfp-u-sm-4-5 {
        width: 80%;
    }

    .wfp-u-sm-5-6,
    .wfp-u-sm-10-12,
    .wfp-u-sm-20-24 {
        width: 83.3333%;
    }

    .wfp-u-sm-7-8,
    .wfp-u-sm-21-24 {
        width: 87.5000%;
    }

    .wfp-u-sm-11-12,
    .wfp-u-sm-22-24 {
        width: 91.6667%;
    }

    .wfp-u-sm-23-24 {
        width: 95.8333%;
    }

    .wfp-u-sm-1,
    .wfp-u-sm-1-1,
    .wfp-u-sm-5-5,
    .wfp-u-sm-12-12,
    .wfp-u-sm-24-24 {
        width: 100%;
    }
}

@media screen and (min-width: 48em) {
    .wfp-u-md-1,
    .wfp-u-md-1-1,
    .wfp-u-md-1-2,
    .wfp-u-md-1-3,
    .wfp-u-md-2-3,
    .wfp-u-md-1-4,
    .wfp-u-md-3-4,
    .wfp-u-md-1-5,
    .wfp-u-md-2-5,
    .wfp-u-md-3-5,
    .wfp-u-md-4-5,
    .wfp-u-md-5-5,
    .wfp-u-md-1-6,
    .wfp-u-md-5-6,
    .wfp-u-md-1-8,
    .wfp-u-md-3-8,
    .wfp-u-md-5-8,
    .wfp-u-md-7-8,
    .wfp-u-md-1-12,
    .wfp-u-md-2-12,
    .wfp-u-md-3-12,
    .wfp-u-md-4-12,
    .wfp-u-md-5-12,
    .wfp-u-md-6-12,
    .wfp-u-md-7-12,
    .wfp-u-md-8-12,
    .wfp-u-md-9-12,
    .wfp-u-md-10-12,
    .wfp-u-md-11-12,
    .wfp-u-md-12-12,
    .wfp-u-md-1-24,
    .wfp-u-md-2-24,
    .wfp-u-md-3-24,
    .wfp-u-md-4-24,
    .wfp-u-md-5-24,
    .wfp-u-md-6-24,
    .wfp-u-md-7-24,
    .wfp-u-md-8-24,
    .wfp-u-md-9-24,
    .wfp-u-md-10-24,
    .wfp-u-md-11-24,
    .wfp-u-md-12-24,
    .wfp-u-md-13-24,
    .wfp-u-md-14-24,
    .wfp-u-md-15-24,
    .wfp-u-md-16-24,
    .wfp-u-md-17-24,
    .wfp-u-md-18-24,
    .wfp-u-md-19-24,
    .wfp-u-md-20-24,
    .wfp-u-md-21-24,
    .wfp-u-md-22-24,
    .wfp-u-md-23-24,
    .wfp-u-md-24-24 {
        display: inline-block;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    .wfp-u-md-1-24 {
        width: 4.1667%;
    }

    .wfp-u-md-1-12,
    .wfp-u-md-2-24 {
        width: 8.3333%;
    }

    .wfp-u-md-1-8,
    .wfp-u-md-3-24 {
        width: 12.5000%;
    }

    .wfp-u-md-1-6,
    .wfp-u-md-2-12,
    .wfp-u-md-4-24 {
        width: 16.6667%;
    }

    .wfp-u-md-1-5 {
        width: 20%;
    }

    .wfp-u-md-5-24 {
        width: 20.8333%;
    }

    .wfp-u-md-1-4,
    .wfp-u-md-3-12,
    .wfp-u-md-6-24 {
        width: 25%;
    }

    .wfp-u-md-7-24 {
        width: 29.1667%;
    }

    .wfp-u-md-1-3,
    .wfp-u-md-4-12,
    .wfp-u-md-8-24 {
        width: 33.3333%;
    }

    .wfp-u-md-3-8,
    .wfp-u-md-9-24 {
        width: 37.5000%;
    }

    .wfp-u-md-2-5 {
        width: 40%;
    }

    .wfp-u-md-5-12,
    .wfp-u-md-10-24 {
        width: 41.6667%;
    }

    .wfp-u-md-11-24 {
        width: 45.8333%;
    }

    .wfp-u-md-1-2,
    .wfp-u-md-6-12,
    .wfp-u-md-12-24 {
        width: 50%;
    }

    .wfp-u-md-13-24 {
        width: 54.1667%;
    }

    .wfp-u-md-7-12,
    .wfp-u-md-14-24 {
        width: 58.3333%;
    }

    .wfp-u-md-3-5 {
        width: 60%;
    }

    .wfp-u-md-5-8,
    .wfp-u-md-15-24 {
        width: 62.5000%;
    }

    .wfp-u-md-2-3,
    .wfp-u-md-8-12,
    .wfp-u-md-16-24 {
        width: 66.6667%;
    }

    .wfp-u-md-17-24 {
        width: 70.8333%;
    }

    .wfp-u-md-3-4,
    .wfp-u-md-9-12,
    .wfp-u-md-18-24 {
        width: 75%;
    }

    .wfp-u-md-19-24 {
        width: 79.1667%;
    }

    .wfp-u-md-4-5 {
        width: 80%;
    }

    .wfp-u-md-5-6,
    .wfp-u-md-10-12,
    .wfp-u-md-20-24 {
        width: 83.3333%;
    }

    .wfp-u-md-7-8,
    .wfp-u-md-21-24 {
        width: 87.5000%;
    }

    .wfp-u-md-11-12,
    .wfp-u-md-22-24 {
        width: 91.6667%;
    }

    .wfp-u-md-23-24 {
        width: 95.8333%;
    }

    .wfp-u-md-1,
    .wfp-u-md-1-1,
    .wfp-u-md-5-5,
    .wfp-u-md-12-12,
    .wfp-u-md-24-24 {
        width: 100%;
    }
}

@media screen and (min-width: 64em) {
    .wfp-u-lg-1,
    .wfp-u-lg-1-1,
    .wfp-u-lg-1-2,
    .wfp-u-lg-1-3,
    .wfp-u-lg-2-3,
    .wfp-u-lg-1-4,
    .wfp-u-lg-3-4,
    .wfp-u-lg-1-5,
    .wfp-u-lg-2-5,
    .wfp-u-lg-3-5,
    .wfp-u-lg-4-5,
    .wfp-u-lg-5-5,
    .wfp-u-lg-1-6,
    .wfp-u-lg-5-6,
    .wfp-u-lg-1-8,
    .wfp-u-lg-3-8,
    .wfp-u-lg-5-8,
    .wfp-u-lg-7-8,
    .wfp-u-lg-1-12,
    .wfp-u-lg-2-12,
    .wfp-u-lg-3-12,
    .wfp-u-lg-4-12,
    .wfp-u-lg-5-12,
    .wfp-u-lg-6-12,
    .wfp-u-lg-7-12,
    .wfp-u-lg-8-12,
    .wfp-u-lg-9-12,
    .wfp-u-lg-10-12,
    .wfp-u-lg-11-12,
    .wfp-u-lg-12-12,
    .wfp-u-lg-1-24,
    .wfp-u-lg-2-24,
    .wfp-u-lg-3-24,
    .wfp-u-lg-4-24,
    .wfp-u-lg-5-24,
    .wfp-u-lg-6-24,
    .wfp-u-lg-7-24,
    .wfp-u-lg-8-24,
    .wfp-u-lg-9-24,
    .wfp-u-lg-10-24,
    .wfp-u-lg-11-24,
    .wfp-u-lg-12-24,
    .wfp-u-lg-13-24,
    .wfp-u-lg-14-24,
    .wfp-u-lg-15-24,
    .wfp-u-lg-16-24,
    .wfp-u-lg-17-24,
    .wfp-u-lg-18-24,
    .wfp-u-lg-19-24,
    .wfp-u-lg-20-24,
    .wfp-u-lg-21-24,
    .wfp-u-lg-22-24,
    .wfp-u-lg-23-24,
    .wfp-u-lg-24-24 {
        display: inline-block;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    .wfp-u-lg-1-24 {
        width: 4.1667%;
    }

    .wfp-u-lg-1-12,
    .wfp-u-lg-2-24 {
        width: 8.3333%;
    }

    .wfp-u-lg-1-8,
    .wfp-u-lg-3-24 {
        width: 12.5000%;
    }

    .wfp-u-lg-1-6,
    .wfp-u-lg-2-12,
    .wfp-u-lg-4-24 {
        width: 16.6667%;
    }

    .wfp-u-lg-1-5 {
        width: 20%;
    }

    .wfp-u-lg-5-24 {
        width: 20.8333%;
    }

    .wfp-u-lg-1-4,
    .wfp-u-lg-3-12,
    .wfp-u-lg-6-24 {
        width: 25%;
    }

    .wfp-u-lg-7-24 {
        width: 29.1667%;
    }

    .wfp-u-lg-1-3,
    .wfp-u-lg-4-12,
    .wfp-u-lg-8-24 {
        width: 33.3333%;
    }

    .wfp-u-lg-3-8,
    .wfp-u-lg-9-24 {
        width: 37.5000%;
    }

    .wfp-u-lg-2-5 {
        width: 40%;
    }

    .wfp-u-lg-5-12,
    .wfp-u-lg-10-24 {
        width: 41.6667%;
    }

    .wfp-u-lg-11-24 {
        width: 45.8333%;
    }

    .wfp-u-lg-1-2,
    .wfp-u-lg-6-12,
    .wfp-u-lg-12-24 {
        width: 50%;
    }

    .wfp-u-lg-13-24 {
        width: 54.1667%;
    }

    .wfp-u-lg-7-12,
    .wfp-u-lg-14-24 {
        width: 58.3333%;
    }

    .wfp-u-lg-3-5 {
        width: 60%;
    }

    .wfp-u-lg-5-8,
    .wfp-u-lg-15-24 {
        width: 62.5000%;
    }

    .wfp-u-lg-2-3,
    .wfp-u-lg-8-12,
    .wfp-u-lg-16-24 {
        width: 66.6667%;
    }

    .wfp-u-lg-17-24 {
        width: 70.8333%;
    }

    .wfp-u-lg-3-4,
    .wfp-u-lg-9-12,
    .wfp-u-lg-18-24 {
        width: 75%;
    }

    .wfp-u-lg-19-24 {
        width: 79.1667%;
    }

    .wfp-u-lg-4-5 {
        width: 80%;
    }

    .wfp-u-lg-5-6,
    .wfp-u-lg-10-12,
    .wfp-u-lg-20-24 {
        width: 83.3333%;
    }

    .wfp-u-lg-7-8,
    .wfp-u-lg-21-24 {
        width: 87.5000%;
    }

    .wfp-u-lg-11-12,
    .wfp-u-lg-22-24 {
        width: 91.6667%;
    }

    .wfp-u-lg-23-24 {
        width: 95.8333%;
    }

    .wfp-u-lg-1,
    .wfp-u-lg-1-1,
    .wfp-u-lg-5-5,
    .wfp-u-lg-12-12,
    .wfp-u-lg-24-24 {
        width: 100%;
    }
}

@media screen and (min-width: 80em) {
    .wfp-u-xl-1,
    .wfp-u-xl-1-1,
    .wfp-u-xl-1-2,
    .wfp-u-xl-1-3,
    .wfp-u-xl-2-3,
    .wfp-u-xl-1-4,
    .wfp-u-xl-3-4,
    .wfp-u-xl-1-5,
    .wfp-u-xl-2-5,
    .wfp-u-xl-3-5,
    .wfp-u-xl-4-5,
    .wfp-u-xl-5-5,
    .wfp-u-xl-1-6,
    .wfp-u-xl-5-6,
    .wfp-u-xl-1-8,
    .wfp-u-xl-3-8,
    .wfp-u-xl-5-8,
    .wfp-u-xl-7-8,
    .wfp-u-xl-1-12,
    .wfp-u-xl-2-12,
    .wfp-u-xl-3-12,
    .wfp-u-xl-4-12,
    .wfp-u-xl-5-12,
    .wfp-u-xl-6-12,
    .wfp-u-xl-7-12,
    .wfp-u-xl-8-12,
    .wfp-u-xl-9-12,
    .wfp-u-xl-10-12,
    .wfp-u-xl-11-12,
    .wfp-u-xl-12-12,
    .wfp-u-xl-1-24,
    .wfp-u-xl-2-24,
    .wfp-u-xl-3-24,
    .wfp-u-xl-4-24,
    .wfp-u-xl-5-24,
    .wfp-u-xl-6-24,
    .wfp-u-xl-7-24,
    .wfp-u-xl-8-24,
    .wfp-u-xl-9-24,
    .wfp-u-xl-10-24,
    .wfp-u-xl-11-24,
    .wfp-u-xl-12-24,
    .wfp-u-xl-13-24,
    .wfp-u-xl-14-24,
    .wfp-u-xl-15-24,
    .wfp-u-xl-16-24,
    .wfp-u-xl-17-24,
    .wfp-u-xl-18-24,
    .wfp-u-xl-19-24,
    .wfp-u-xl-20-24,
    .wfp-u-xl-21-24,
    .wfp-u-xl-22-24,
    .wfp-u-xl-23-24,
    .wfp-u-xl-24-24 {
        display: inline-block;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    .wfp-u-xl-1-24 {
        width: 4.1667%;
    }

    .wfp-u-xl-1-12,
    .wfp-u-xl-2-24 {
        width: 8.3333%;
    }

    .wfp-u-xl-1-8,
    .wfp-u-xl-3-24 {
        width: 12.5000%;
    }

    .wfp-u-xl-1-6,
    .wfp-u-xl-2-12,
    .wfp-u-xl-4-24 {
        width: 16.6667%;
    }

    .wfp-u-xl-1-5 {
        width: 20%;
    }

    .wfp-u-xl-5-24 {
        width: 20.8333%;
    }

    .wfp-u-xl-1-4,
    .wfp-u-xl-3-12,
    .wfp-u-xl-6-24 {
        width: 25%;
    }

    .wfp-u-xl-7-24 {
        width: 29.1667%;
    }

    .wfp-u-xl-1-3,
    .wfp-u-xl-4-12,
    .wfp-u-xl-8-24 {
        width: 33.3333%;
    }

    .wfp-u-xl-3-8,
    .wfp-u-xl-9-24 {
        width: 37.5000%;
    }

    .wfp-u-xl-2-5 {
        width: 40%;
    }

    .wfp-u-xl-5-12,
    .wfp-u-xl-10-24 {
        width: 41.6667%;
    }

    .wfp-u-xl-11-24 {
        width: 45.8333%;
    }

    .wfp-u-xl-1-2,
    .wfp-u-xl-6-12,
    .wfp-u-xl-12-24 {
        width: 50%;
    }

    .wfp-u-xl-13-24 {
        width: 54.1667%;
    }

    .wfp-u-xl-7-12,
    .wfp-u-xl-14-24 {
        width: 58.3333%;
    }

    .wfp-u-xl-3-5 {
        width: 60%;
    }

    .wfp-u-xl-5-8,
    .wfp-u-xl-15-24 {
        width: 62.5000%;
    }

    .wfp-u-xl-2-3,
    .wfp-u-xl-8-12,
    .wfp-u-xl-16-24 {
        width: 66.6667%;
    }

    .wfp-u-xl-17-24 {
        width: 70.8333%;
    }

    .wfp-u-xl-3-4,
    .wfp-u-xl-9-12,
    .wfp-u-xl-18-24 {
        width: 75%;
    }

    .wfp-u-xl-19-24 {
        width: 79.1667%;
    }

    .wfp-u-xl-4-5 {
        width: 80%;
    }

    .wfp-u-xl-5-6,
    .wfp-u-xl-10-12,
    .wfp-u-xl-20-24 {
        width: 83.3333%;
    }

    .wfp-u-xl-7-8,
    .wfp-u-xl-21-24 {
        width: 87.5000%;
    }

    .wfp-u-xl-11-12,
    .wfp-u-xl-22-24 {
        width: 91.6667%;
    }

    .wfp-u-xl-23-24 {
        width: 95.8333%;
    }

    .wfp-u-xl-1,
    .wfp-u-xl-1-1,
    .wfp-u-xl-5-5,
    .wfp-u-xl-12-12,
    .wfp-u-xl-24-24 {
        width: 100%;
    }
}
