// CSS: Icons
// Project: WFPUI
// Author: Matthew Morek (me@matthewmorek.com)
// URL: http://matthewmorek.com

@mixin icon-sizes {
  &.xsmall {
    @include icon-size(xsmall);
  }

  &.small {
    @include icon-size(small);
  }

  &.medium {
    @include icon-size(medium);
  }

  &.large {
    @include icon-size(large);
  }

  &.xlarge {
    @include icon-size(xlarge);
  }
}

[class^="icon-"] {
  @include icon;
  @include icon-sizes;
  width: 24px;
  height: 24px;
}

[class^="thematic-"] {
  @include icon;
  @include icon-sizes;
  width: 64px;
  height: 64px;
}

// Make icon-only links accessible (i.e.: breadcrumb "home" link)
.screen-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
