// CSS: Layout
// Project: WFP UI

// ----------------------------------------------------------------------------
// Box Sizing
// ----------------------------------------------------------------------------
.border-box { @include box-sizing; }

// ----------------------------------------------------------------------------
// Clearfix
// ----------------------------------------------------------------------------
.cf { @include clearfix; }

// ----------------------------------------------------------------------------
// Display
// ----------------------------------------------------------------------------
.dn           { @include display(none); }
.di           { @include display(inline); }
.db           { @include display(block); }
.dib          { @include display(inline-block); }
.dit          { @include display(inline-table); }
.dt           { @include display(table); }
.dtc          { @include display(table-cell); }
.dt-row       { @include display(table-row); }
.dt-row-group { @include display(table-row-group); }
.dt-col       { @include display(table-column); }
.dt-col-group { @include display(table-column-group); }

// Sets table to 100% width and all cells to equal width
.dt--fixed {
  width: 100%;
  table-layout: fixed;
}

// ----------------------------------------------------------------------------
// Floats
// ----------------------------------------------------------------------------
.fl { @include float(left); }
.fr { @include float(right); }
.fn { @include float(none); }

// ----------------------------------------------------------------------------
// Heights
// ----------------------------------------------------------------------------
// Define height scale steps
// E.g.: .h-1 { height: 1rem; }
@for $i from 1 through 5 {
  .h-#{$i} { @include h($i); }
}

// CSS heights
.h-25       { @include height(25%); }
.h-50       { @include height(50%); }
.h-75       { @include height(75%); }
.h-100      { @include height(100%); }
.h-auto     { @include height(auto); }
.h-inherit  { @include height(inherit); }

// ----------------------------------------------------------------------------
// Widths
// ----------------------------------------------------------------------------
// Define width scale steps
// E.g.: .w1 { width: 1rem; }
@for $i from 1 through 5 {
  .w#{$i} { @include width-scale($i); }
}

.w-100  { @include width(100);}
.w-auto { @include width(auto);}

// ----------------------------------------------------------------------------
// Max Widths
// ----------------------------------------------------------------------------
// Define width scale steps
// E.g.: .w1 { width: 1rem; }
@for $i from 1 through 9 {
  .mw-#{$i} { @include mw($i); }
}

// Full width
.mw-100  { @include mw(10); }

// Disable max-width
.mw-none { @include max-width(none); }

// ----------------------------------------------------------------------------
// Spacing (Padding)
// ----------------------------------------------------------------------------
// padding (all)
@for $i from 0 through 7 {
  .pa-#{$i} {
    padding: map-get($spacer, $i);
  }
}

// padding-left
@for $i from 0 through 7 {
  .pl-#{$i} {
    padding-left: map-get($spacer, $i);
  }
}

// padding-right
@for $i from 0 through 7 {
  .pr-#{$i} {
    padding-right: map-get($spacer, $i);
  }
}

// padding-top
@for $i from 0 through 7 {
  .pt-#{$i} {
    padding-top: map-get($spacer, $i);
  }
}

// padding-bottom
@for $i from 0 through 7 {
  .pb-#{$i} {
    padding-bottom: map-get($spacer, $i);
  }
}

// horizontal padding
@for $i from 0 through 7 {
  .ph-#{$i} {
    padding-left: map-get($spacer, $i);
    padding-right: map-get($spacer, $i);
  }
}

// vertical padding
@for $i from 0 through 7 {
  .pv-#{$i} {
    padding-top: map-get($spacer, $i);
    padding-bottom: map-get($spacer, $i);
  }
}

// ----------------------------------------------------------------------------
// Spacing (Margins)
// ----------------------------------------------------------------------------
// margin (all)
@for $i from 0 through 7 {
  .ma-#{$i} {
    margin: map-get($spacer, $i);
  }
}

// margin-left
@for $i from 0 through 7 {
  .ml-#{$i} {
    margin-left: map-get($spacer, $i);
  }
}

// margin-right
@for $i from 0 through 7 {
  .mr-#{$i} {
    margin-right: map-get($spacer, $i);
  }
}

// margin-top
@for $i from 0 through 7 {
  .mt-#{$i} {
    margin-top: map-get($spacer, $i);
  }
}

// margin-bottom
@for $i from 0 through 7 {
  .mb-#{$i} {
    margin-bottom: map-get($spacer, $i);
  }
}

// horizontal margin
@for $i from 0 through 7 {
  .mh-#{$i} {
    margin-left: map-get($spacer, $i);
    margin-right: map-get($spacer, $i);
  }
}

// vertical margin
@for $i from 0 through 7 {
  .mv-#{$i} {
    margin-top: map-get($spacer, $i);
    margin-bottom: map-get($spacer, $i);
  }
}

.mc {
  @include margin(0 auto);
}

// ----------------------------------------------------------------------------
// Position
// ----------------------------------------------------------------------------

.absolute  { @include pos--absolute; }
.relative  { @include pos--relative; }
.static    { @include pos--static; }
.fixed     { @include pos--fixed; }

// ----------------------------------------------------------------------------
// Coordinates
// ----------------------------------------------------------------------------

.top-0  { @include pos--top-0; }
.top-1  { @include pos--top-1; }
.top-2  { @include pos--top-2; }
.top--1 { @include pos--top--1; }
.top--2 { @include pos--top--2; }

.bottom-0  { @include pos--bottom-0; }
.bottom-1  { @include pos--bottom-1; }
.bottom-2  { @include pos--bottom-2; }
.bottom--1 { @include pos--bottom--1; }
.bottom--2 { @include pos--bottom--2; }

.left-0  { @include pos--left-0; }
.left-1  { @include pos--left-1; }
.left-2  { @include pos--left-2; }
.left--1 { @include pos--left--1; }
.left--2 { @include pos--left--2; }

.right-0  { @include pos--right-0; }
.right-1  { @include pos--right-1; }
.right-2  { @include pos--right-2; }
.right--1 { @include pos--right--1; }
.right--2 { @include pos--right--2; }

.fill-h { @include pos--fill-h; }
.fill-v { @include pos--fill-v; }
.fill   { @include pos--fill; }
