// CSS: Elements
// Project: WFP UI

// ----------------------------------------------------------------------------
// Colours
// ----------------------------------------------------------------------------

.c-light    { @include color--light; }
.c-dark     { @include color--dark; }
.c-primary  { @include color--primary; }

// ----------------------------------------------------------------------------
// Background Colours
// ----------------------------------------------------------------------------

// Tints
.bg-tint-0  { @include bg-color($black, transparent, 0); }
.bg-tint-1  { @include bg-color($black, $black, 0.1); }
.bg-tint-2  { @include bg-color($black, $black, 0.2); }
.bg-tint-3  { @include bg-color($black, $black, 0.3); }
.bg-tint-4  { @include bg-color($black, $black, 0.4); }
.bg-tint-5  { @include bg-color($black, $black, 0.5); }
.bg-tint-6  { @include bg-color($black, $black, 0.6); }
.bg-tint-7  { @include bg-color($black, $black, 0.7); }
.bg-tint-8  { @include bg-color($black, $black, 0.8); }
.bg-tint-9  { @include bg-color($black, $black, 0.9); }

// Solid colours
.bg-black   { @include bg-color($black, $black, 1); }
.bg-white   { @include bg-color($white, $white, 1); }
.bg-grey    { @include bg-color($grey, $grey, 1); }
.bg-blue    { @include bg-color($primary, $primary, 1); }
// Temporary declaration
.bg-blue-brand { @include bg-color($brand, $brand, 1); }
// ---
.bg-red     { @include bg-color($red, $red, 1); }
.bg-orange  { @include bg-color($orange, $orange, 1); }
.bg-yellow  { @include bg-color($yellow, $yellow, 1); }
.bg-green   { @include bg-color($green, $green, 1); }

// Grey Gradation
.bg-grey-1 { @include bg-color($grey-lightest, $grey-lightest, 0.9); }
.bg-grey-2 { @include bg-color($grey-lighter, $grey-lighter, 0.9); }
.bg-grey-3 { @include bg-color($grey-light, $grey-light, 0.9); }
.bg-grey-4 { @include bg-color($grey, $grey, 0.9); }
.bg-grey-5 { @include bg-color($grey-dark, $grey-dark, 0.9); }
.bg-grey-6 { @include bg-color($grey-darker, $grey-darker, 0.9); }
.bg-grey-7 { @include bg-color($grey-darkest, $grey-darkest, 0.9); }

// Blue Gradation
.bg-blue-1 { @include bg-color($blue-lightest, $blue-lightest, 0.9); }
.bg-blue-2 { @include bg-color($blue-lighter, $blue-lighter, 0.9); }
.bg-blue-3 { @include bg-color($blue-light, $blue-light, 0.9); }
.bg-blue-4 { @include bg-color($blue, $blue, 0.9); }
.bg-blue-5 { @include bg-color($blue-dark, $blue-dark, 0.9); }
.bg-blue-6 { @include bg-color($blue-darker, $blue-darker, 0.9); }
.bg-blue-7 { @include bg-color($blue-darkest, $blue-darkest, 0.9); }

// ----------------------------------------------------------------------------
// Shadows
// ----------------------------------------------------------------------------

@for $i from 1 through length($shadows) {
  .shadow-#{$i} { @include box-shadow($i); }
}
