// CSS: Typography
// Project: WFP UI

// ----------------------------------------------------------------------------
// Alignment
// ----------------------------------------------------------------------------
.ta-left,
.tl {
  @include ta(left);
}

.ta-right,
.tr {
  @include ta(right);
}

.ta-center,
.tc {
  @include ta(center);
}

@each $mq, $viewport in $mqs {
  @include media-query($viewport) {
    .ta-left-#{$mq}, .tl-#{$mq}   { @include ta(left); }
    .ta-right-#{$mq}, .tr-#{$mq}  { @include ta(right); }
    .ta-center-#{$mq}, .tc-#{$mq} { @include ta(center); }
  }
}

// ----------------------------------------------------------------------------
// Decoration
// ----------------------------------------------------------------------------
.strike     { @include t-decor(line-through); }
.underline  { @include t-decor(underline); }
.no-decor   { @include t-decor(none); }

// ----------------------------------------------------------------------------
// Leading
// ----------------------------------------------------------------------------
.lh-default { @include lh-default; }
.lh-heading { @include lh-heading; }
.lh-body    { @include lh-body; }

@each $mq, $viewport in $mqs {
  @include media-query($viewport) {
    .lh-default-#{$mq} { @include lh-default; }
    .lh-heading-#{$mq} { @include lh-heading; }
    .lh-body-#{$mq}    { @include lh-body; }
  }
}

// ----------------------------------------------------------------------------
// Type Scale
// ----------------------------------------------------------------------------
.fs1 { @include fs(1); }
.fs2 { @include fs(2); }
.fs3 { @include fs(3); }
.fs4 { @include fs(4); }
.fs5 { @include fs(5); }
.fs6 { @include fs(6); }

@each $mq, $viewport in $mqs {
  @include media-query($viewport) {
    .fs1-#{$mq} { @include fs(1); }
    .fs2-#{$mq} { @include fs(2); }
    .fs3-#{$mq} { @include fs(3); }
    .fs4-#{$mq} { @include fs(4); }
    .fs5-#{$mq} { @include fs(5); }
    .fs6-#{$mq} { @include fs(6); }
  }
}

// ----------------------------------------------------------------------------
// Style
// ----------------------------------------------------------------------------
.fst-normal { @include fst-normal; }
.fst-i      { @include fst-italic; }

// ----------------------------------------------------------------------------
// Tracking
// ----------------------------------------------------------------------------
.tr-tight  { @include tracking(tight); }
.tr-loose  { @include tracking(loose); }
.tr-xloose { @include tracking(xloose); }

// ----------------------------------------------------------------------------
// Transform
// ----------------------------------------------------------------------------
.t-caps     { @include t-caps; }
.t-allcaps  { @include t-allcaps; }
.t-lowcase  { @include t-lowcase; }
.t-firstcap { @include t-firstcap; }

// ----------------------------------------------------------------------------
// Vertical Align
// ----------------------------------------------------------------------------
// Inline alignment
.va-base { @include v-align(baseline); }
.va-sub { @include v-align(sub); }
.va-sup { @include v-align(super); }
.va-texttop { @include v-align(text-top); }
.va-textbottom { @include v-align(text-bottom); }

// ----------------------------------------------------------------------------
// Table alignment
// ----------------------------------------------------------------------------
.va-mid { @include v-align(middle); }
.va-top { @include v-align(top); }
.va-bottom { @include v-align(bottom); }

// ----------------------------------------------------------------------------
// Weight
// ----------------------------------------------------------------------------
.normal { @include fw-normal; }
.bold   { @include fw-bold; }

@for $i from 1 through 9 {
  .fw#{$i} { @include fw(#{$i}00); }
}

// ----------------------------------------------------------------------------
// White Space
// ----------------------------------------------------------------------------
.ws-normal  { @include ws(normal); }
.ws-nowrap  { @include ws(nowrap); }
.ws-pre     { @include ws(pre); }
