// CSS: Utilities
// Project: WFP UI

.tint-static  { @include tint--static; }
.tint-dynamic { @include tint--dynamic; }


// Object Fit
.of-fit   { object-fit: fill; }
.of-con   { object-fit: contain; }
.of-cov   { object-fit: cover; }
.of-sd    { object-fit: scale-down; }
.of-none  { object-fit: none; }

@each $mq, $viewport in $mqs {
  @include media-query($viewport) {
    .of-fit-#{$mq}   { object-fit: fill; }
    .of-con-#{$mq}   { object-fit: contain; }
    .of-cov-#{$mq}   { object-fit: cover; }
    .of-sd-#{$mq}    { object-fit: scale-down; }
    .of-none-#{$mq}  { object-fit: none; }
  }
}


.wfp-wrapper {
  @include wrapper;
}

.wfp-wrapper--tight {
  @include wrapper;
}

.wfp-wrapper--narrow {
  @include wrapper--narrow;
}

.wfp-logo-wrapper {
  @include logo-wrapper;
}

.wfp-content-wrapper {
  @include content-wrapper;
}

.wfp-overflow-wrapper {
  @include overflow-wrapper;
}

@include media-query($md-screen) {
  .wfp-box {
    padding: 1rem;

    &:only-child {
      padding-left: 0;
      padding-right: 0;
    }

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  .wfp-box--flat {
    padding: 0 1rem;

    &:only-child {
      padding-left: 0;
      padding-right: 0;
    }

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}

// -----------------------------------------------------------------------------
// CSS Declarations
// -----------------------------------------------------------------------------
.clearfix {
  @include clearfix;
}

.wfp-nolist {
  @include nolist;
}

.wfp-band {
  @include band;
}

// -----------------------------------------------------------------------------
// Accessibility
// -----------------------------------------------------------------------------


// Show for screen reader only
.wfp-sr {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
