//-----------------------------
// Tabs
//-----------------------------

@import '../../globals/scss/vars';
@import '../../globals/scss/colors';
@import '../../globals/scss/spacing';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/layer';
@import '../../globals/scss/typography';
@import '../../globals/scss/layout';
@import '@carbon/import-once/scss/import-once';
@import '../../globals/scss/css--typography';

@include exports('form-wizard') {
  .#{$prefix}--form-wizard {
    display: flex;
    @include breakpoint(bp--sm--major) {
      background: none;
    }
    &--sticky {
      .#{$prefix}--step-navigation {
        @include breakpoint(bp--sm--major) {
          position: sticky;
          top: 0;
        }
      }
    }
  }

  .#{$prefix}--form-wizard__sidebar {
    width: rem(300px);
    margin-top: $spacing-md;
    margin-right: $spacing-lg;
  }

  .#{$prefix}--form-wizard__content {
    flex-grow: 1;
    width: 100%;
  }
  .#{$prefix}--form-controls {
    margin: $spacing-sm 0;
  }
}
