//-----------------------------
// value
//-----------------------------
/*
@import '../../globals/scss/colors';
@import '../../globals/scss/vars';
@import '../../globals/scss/layout';
@import '../../globals/scss/typography';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/vendor/@unitednations/import-once/scss/import-once';
@import '../../globals/scss/css--reset';

@include exports('value') {
  .#{$prefix}--value {
    @include reset;
    @include font-family;
    //@include typescale('epsilon');
    @include font-smoothing;
  }
  .#{$prefix}--title {
    @include typescale('epsilon');
    color: var(--text-02);
    margin-bottom: $spacing-xs;
    font-weight: 600;
  }
  .#{$prefix}--primary-value {
    @include typescale('beta');
    margin-bottom: $spacing-xs;
  }
  .#{$prefix}--secondary-value {
    @include typescale('epsilon');
  }
}
*/
