//-----------------------------
// Text
//-----------------------------

@import '../../globals/scss/vars';
@import '../../globals/scss/colors';
@import '../../globals/scss/css--reset';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/typography';
@import '../../globals/scss/spacing';
@import '../../globals/scss/import-once';
@import '../Form/form';

@include exports('input') {
  .#{$prefix}--input-wrapper {
    display: flex;
    order: 3;
    width: 100%;
  }
  .#{$prefix}--input {
    @include reset;
    @include font-family;
    @include typescale('zeta');
    display: block;
    width: 100%;
    height: $input-height;
    min-width: 7rem;
    padding: 0 $spacing-xs;
    color: $text-01;
    appearance: none;
    background-color: $field-01;
    order: 2;
    border: $input-border;
    border-radius: $input-border-radius;

    &::-webkit-input-placeholder {
      @include placeholder-colors;
    }

    &:focus {
      @include focus-outline('border');
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &:disabled:hover {
      border: $input-border;
    }

    &:read-only {
      @include read-only('border');
    }
  }
  .#{$prefix}--input-addon-before,
  .#{$prefix}--input-addon-after {
    height: $input-height;
    line-height: $input-height;
    padding: 0 $spacing-xs;
    background-color: $ui-04;
    border: $input-border;
    order: 2;
  }

  .#{$prefix}--input-addon-after {
    border-left: 0;
  }

  .#{$prefix}--input-addon-before {
    padding: 0 $spacing-xs;
    background-color: $ui-04;
    border-right: 0;
    order: 1;
  }
}
