<div class="wfp--theme-light wfp--theme-en">
  <div class="wfp--form-item wfp--form-item--invalid"><label for="" class="wfp--label">{{labelText}}</label>
    <div class="wfp--form__helper-text">{{helperText}}</div>
    <div class="wfp--input-wrapper"><input placeholder="{{placeholder}}" /></div>
  </div>
</div>