@import '../../globals/scss/vars';
@import '../../globals/scss/colors';
@import '../../globals/scss/typography';
@import '../../globals/scss/spacing';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/vendor/@wfp/import-once/scss/import-once';
@import '../../globals/scss/css--reset';
@import '../Form/form';

@include exports('sub-navigation') {
  .#{$prefix}--sub-navigation {
  }

  .#{$prefix}--sub-navigation {
    //margin-bottom: $spacing-lg;
  }

  .#{$prefix}--sub-navigation__header {
    width: 100%;
    padding: $spacing-md;
    border-bottom: 1px solid var(--ui-04);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .#{$prefix}--sub-navigation__link {
    @include breakpoint(bp--md--major) {
      margin-left: $spacing-md;
      flex-grow: 1;
    }
  }

  .#{$prefix}--sub-navigation__title {
    //font-weight: bold;
    @include typescale('epsilon');
    @include font-smoothing;
    letter-spacing: 0;
    font-weight: 600;
    color: var(--text-01);

    @include breakpointMax(bp--md--major) {
      display: none;
    }
  }

  .#{$prefix}--sub-navigation__filter {
    display: flex;
    align-items: center;

    @include breakpointMax(bp--md--major) {
      width: 35%;
    }
  }

  .#{$prefix}--sub-navigation__content {
    padding: $spacing-md;
  }

  .#{$prefix}--sub-navigation__list {
    //padding: $spacing-2xs 0;
    padding: 0;
  }

  .#{$prefix}--sub-navigation__group {
    //padding: $spacing-2xs 0;
    padding: 0;
    &:first-child {
      .#{$prefix}--sub-navigation__group__title {
        margin-top: 0;
      }
    }
  }

  .#{$prefix}--sub-navigation__group--columns {
    @include breakpoint(bp--md--major) {
      > div {
        column-count: 4;
      }
    }
  }

  .#{$prefix}--sub-navigation__group__title {
    @include typescale('delta');
    margin-top: $spacing-md;
    margin-bottom: $spacing-xs;
  }

  .#{$prefix}--sub-navigation__item {
    line-height: 2;
    //line-height: 1.6;
    a {
      text-decoration: none;
    }
    i {
      font-style: italic;
    }
  }
}
