<div class="wfp--theme-light wfp--theme-en">
  <div style="display:flex;border-top:1px solid #EFEFEF;border-bottom:2px solid #EFEFEF">
    <h1 class="wfp--text wfp--story__{{kind}}">{{children}}</h1>
  </div>
</div>