
@use '../../breakpoint' as *;
@use '../../config' as *;
@use '../../motion' as *;
@use '../../theme' as *;
@use '../../spacing' as *;
@use '../../type' as *;
@use '../../utilities/convert';
@use '../../utilities/visually-hidden' as *;
@use '../../utilities/focus-outline' as *;
@use '../../utilities/skeleton' as *;

// TODO review why type-style is not applied line 16
@mixin step-navigation-item{
  #{$prefix}--step-navigation__nav-item {
    @include type-style('body-short-01');
    margin: 0;
    padding: $spacing-04 0 $spacing-04;
    cursor: pointer;
    display: flex;
    align-items: center;

    &:focus {
      outline: none;
    }

    &:first-child {
      .#{$prefix}--step-navigation__nav-item__indicator {
        &:after {
          display: none;
          top: -18px;
          height: 18px;
        }
      }
    }
  }

  .#{$prefix}--step-navigation__nav-item__text {
    text-decoration: underline;
    color: $interactive;
  }

  .#{$prefix}--step-navigation__nav-item__helper-text {
    @include type-style('label-01');
    display: block;
    margin-top: $spacing-02;
    text-decoration: none;
    color: $border-inverse; //ui-05
  }

  /*
  .#{$prefix}--step-navigation__section {
    margin-bottom: rem(4px);
    > .#{$prefix}--step-navigation__nav-link {
      margin-bottom: rem(2px);
    }
  }

  .#{$prefix}--step-navigation__section__indicator {
    display: block;
    border: 2px solid var(--ui-05);
    border-radius: 30px;
    flex-shrink: 0;
    width: rem(34px);
    height: rem(34px);
    line-height: rem(30px);
    margin-right: rem(8px);
    text-align: center;
  }*/

  .#{$prefix}--step-navigation__nav-item__indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    //background: var(--ui-01);
    border: 2px solid $interactive;
    flex-shrink: 0;
    border-radius: 3em;
    width: 3em;
    height: 3em;

    .#{$prefix}--step-navigation--small & {
      width: 1.5em;
      height: 1.5em;
    }

    line-height: 1em;
    margin: 0.7em 1em 0.7em 0;
    text-align: center;
    z-index: 2;
    color: $interactive;
    transition: all 0.1s;

    > svg {
      position: relative;
      top: 1px;
      fill: $interactive;
      width: 1em;
      height: 1em;

      .#{$prefix}--step-navigation--small & {
        width: 0.8em;
        height: 0.8em;
      }
    }

    &:after {
      display: block;
      width: 2px;
      height: 1.1em;
      bottom: 3em;

      .#{$prefix}--step-navigation--small & {
        bottom: 1.5em;
      }

      .#{$prefix}--step-navigation--vertical.#{$prefix}--step-navigation--regular
        & {
        display: none;
      }

      .#{$prefix}--step-navigation--vertical.#{$prefix}--step-navigation--small
        & {
        height: 2px;
        width: 1em;
        left: inherit;
        right: 1.5em;
        bottom: 50%;
      }

      position: absolute;
      z-index: 1;
      //z-index: -1px;

      left: calc(50% - 0px);
      margin-left: -1px;
      content: '';
      background: var(--ui-04);
    }
  }

  .#{$prefix}--step-navigation__nav-item {
    display: flex;
    align-items: center;
    color: $text-primary;
    text-decoration: none;
    padding: $spacing-05;
    width: 100%;
    position: relative;
    z-index: 2;

    &:focus {
      outline: none;
    }

    @include breakpoint('md') {
      padding: 0 0.2em;
      width: auto;

      &:focus {
        background-color: transparent;
        color: $text-primary;
        outline: 1px solid transparent;
      }
    }
  }

  /* Before State */
  .#{$prefix}--step-navigation__nav-item--before {
    .#{$prefix}--step-navigation__nav-item__indicator {
      //background: var(--interactive-01);
      //color: var(--ui-01);
      &:after {
        background-color: $interactive;
      }
    }
  }

  /* Selected State */
  .#{$prefix}--step-navigation__nav-item--selected {
    .#{$prefix}--step-navigation__nav-item__text {
      text-decoration: none;
      color: $text-primary;
    }

    .#{$prefix}--step-navigation__nav-item__indicator {
      background: $interactive;
      border-color: $border-interactive !important;
      color: $field;

      > svg {
        fill: $field !important;
      }

      &:after {
        background-color: $interactive;
      }
    }
  }

  .#{$prefix}--step-navigation__nav-item--warning {
    .#{$prefix}--step-navigation__nav-item__indicator {
      border-color: $support-warning;

      .#{$prefix}--step-navigation--small & {
        border-color: $support-warning;
        background: $support-warning;

        > svg {
          top: -0.05em;
          fill: $field !important;
        }
      }

      > svg {
        fill: $support-warning !important;
        top: -1px;
      }
    }

    /*&.#{$prefix}--step-navigation__nav-item--selected {
      .#{$prefix}--step-navigation__nav-item__indicator {
        background: $support-warning;
        border-color: $support-warning;
        > svg {
          fill: var(--ui-01) !important;
        }
      }
    }*/
  }

  .#{$prefix}--step-navigation__nav-item--complete {
    .#{$prefix}--step-navigation__nav-item__indicator {
      border-color: $support-success;

      .#{$prefix}--step-navigation--small & {
        border-color: $support-success;
        background: $support-success;

        > svg {
          fill: $field !important;
        }
      }

      > svg {
        fill: $support-success !important;
        position: relative;
        top: 1px;
      }
    }

    /*&.#{$prefix}--step-navigation__nav-item--selected {
      .#{$prefix}--step-navigation__nav-item__indicator {
        background: $support-success;
        border-color: $support-success;
        > svg {
          fill: var(--ui-01) !important;
        }
      }
    }*/
  }

  /* Not started State */
  .#{$prefix}--step-navigation__nav-item--not-started {
    .#{$prefix}--step-navigation__nav-item__indicator {
      > svg {
        top: -1px;
      }
    }
  }

  /* Locked State */
  .#{$prefix}--step-navigation__nav-item--locked {
    cursor: not-allowed;
    color: var(--ui-03);

    .#{$prefix}--step-navigation__nav-item__text {
      color: $text-secondary;
      text-decoration: none;
    }

    .#{$prefix}--step-navigation__nav-item__indicator {
      border-color: $border-inverse;

      > svg {
        top: 0px;
        fill: var(--ui-05) !important;
      }
    }
  }

  /* Summary State */
  .#{$prefix}--step-navigation__nav-item--summary {
    //color: var(--ui-03);
    //margin-top: 1rem;

    .#{$prefix}--step-navigation__nav-item__text {
      //color: $text-secondary;
      //text-decoration: none;
    }

    .#{$prefix}--step-navigation__nav-item__indicator {
      //border-color: var(--ui-05);
      /* &:after {
        display: none !important;
      } */

      > svg {
        top: -1px;
        //fill: var(--ui-05) !important;
      }
    }
  }

  /* Skipped State */
  .#{$prefix}--step-navigation__nav-item--skip {
    color: var(--ui-03);

    .#{$prefix}--step-navigation__nav-item__text {
      color: $text-secondary;
      text-decoration: none;
    }

    .#{$prefix}--step-navigation__nav-item__indicator {
      border-color: var(--ui-04);

      .#{$prefix}--step-navigation--regular & {
        clip-path: polygon(
          0 -100%,
          56% -100%,
          56% 14%,
          93% 50%,
          56% 90%,
          56% 100%,
          0 100%
        );
      }

      > svg {
        top: 0px;
        fill: var(--ui-05) !important;
      }
    }
  }

  /* Disabled State */
  .#{$prefix}--step-navigation__nav-item--disabled {
    cursor: not-allowed;
    color: var(--ui-03);

    .#{$prefix}--step-navigation__nav-item__text {
      color: $text-secondary;
      text-decoration: none;
    }

    .#{$prefix}--step-navigation__nav-item__indicator {
      border-color: $border-strong;

      .#{$prefix}--step-navigation--regular & {
        clip-path: polygon(
          0 -100%,
          56% -100%,
          56% 14%,
          93% 50%,
          56% 90%,
          56% 100%,
          0 100%
        );
      }

      > svg {
        top: 0px;
        fill: var(--ui-05) !important;
      }
    }
  }
}

