@use 'scss/meta' as *;

.hero {
  width: 100%;
}

.content {
  line-height: 1.7em;
  width: 100%;
  max-width: 700px;
  //margin: auto;
  padding-top: 2rem;
  font-size: 1.1rem;

  .title {
    font-size: 1.9rem;
    @include breakpoint-down(md) {
      font-weight: 600;
    }

    max-width: 100vw;
    @include breakpoint-up(md) {
      font-size: 5rem;
      //width: 70%;
    }
    line-height: 1em;
    //text-decoration: underline;
    //text-decoration-color: var(--interactive-01);
    //color: var(--interactive-01);
  }
  .subTitle {
    font-weight: 400;
    font-size: 1.2rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    @include breakpoint-up(md) {
      font-size: 1.7rem;
      margin-top: 2rem;
      margin-bottom: 3rem;
    }
    line-height: 1.5em;

    opacity: 0.7;
  }

  .date {
    font-size: 0.9em;
    font-style: italic;
    opacity: 0.7;
    margin-bottom: 2em;
  }
}

.articleFooter {
  display: flex;
  justify-content: center;
  padding: 3rem 0;
  @include breakpoint-up(md) {
    padding: 10rem 0;
  }
}

.returnLinkTop {
  // display: flex;

  font-weight: 600;
  font-size: 1em;
  position: relative;
  color: $link-primary;
  text-decoration: none;
  > svg {
    margin-right: 0.3em;
    //font-size: 1rem;
  }
}

.returnLink {
  // display: flex;
  margin: auto;
  font-weight: 600;
  font-size: 1.4em;
  @include breakpoint-up(md) {
    font-size: 2em;
  }
  position: relative;
  color: $link-primary;
  text-decoration: none;
  > svg {
    margin-right: 0.3em;
    //font-size: 1rem;
  }
  /*&:after {
      content: "";
      display: block;
      height: 5px;
      background: var(--interactive-01);
      position: absolute;
      bottom: -12px;
      left: 0;
      right: 0;
    }*/
}

.sidebar {
  position: sticky;
  top: 0;
  margin: 2em;
  margin-top: 4em;
  margin-right: 0em;
  padding-top: 1em;
  overflow: auto;
  max-height: 100vh;
  width: 220px;
}

.sidebarAddition {
  position: sticky;
  top: 0;
  margin: 2em;
  margin-top: 4em;
  padding-top: 1em;
  //margin-left: 2em;
  margin-inline-start: 2em;
  width: 15em;
}

.sidebarList {
  li {
    margin: 1em 0.3em;
  }
  .level-1 {
    //margin-left: 0;
    margin-inline-start: 0;
  }
  .level-2 {
    font-size: 0.95em;
    //margin-left: 0.6em;
    margin-inline-start: 0.6em;
  }
  .level-3 {
    font-size: 0.95em;
    //margin-left: 0.6em;
    margin-inline-start: 0.6em;
  }
}

.level-closed {
  ul {
    display: none;
  }
}

.level-open {
  > .sidebarTitle {
    > .iconOpen {
      transform: rotate(90deg);
    }
  }
}
.item {
  display: flex;
}
.sidebarTitle {
  font-weight: 600;
  display: flex;
  cursor: pointer;
  margin: 1.5em 0;
  display: block;
  user-select: none;
}

.sidebarTitleText {
  // margin-right: 0.3em;
  margin-inline-end: 0.3em;
}

.icon {
  color: $interactive;
  font-size: 0.8em;
  margin-top: 0.1em;
  //margin-right: 1em;
  margin-inline-end: 1em;
  width: 1px;
  height: 3em;
  margin-top: -1em;
  margin-bottom: -1em;
  background: $border-strong;
}

.iconOpen {
  color: $interactive;
  font-size: 0.8em;
  margin-top: 0.1em;
  margin-left: 0;
  //margin-right: 0.7em;
  margin-inline-end: 0.7em;
}

.sidebarWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 1500px;
}

.meta {
  display: flex;
  font-size: 0.9rem;
  .metaEntry {
    flex: 1;
    margin-right: 3rem;
  }
  .metaTitle {
    font-weight: bold;
    &:after {
      content: ':';
    }
  }
  .metaContent {
    margin-top: -0.5rem;
  }
}

.detailImage {
  width: 100%;
}

.breadcrumb {
  margin-bottom: 2em;
}

.editOnGitHub {
  margin-top: 2em;
  display: inline-block;
  font-size: 0.8em;
}

.excerpt {
  font-size: 1.1em;
  color: $text-secondary;
  font-style: italic;
}

.lastLevel {
  &.active {
    a {
      font-weight: 600;
    }
    .icon {
      background: $interactive;
    }
  }
}
