@font-face {
	font-family: 'wfpui';
	src:url('ui-icons.eot?-zg426g');
	src:url('ui-icons.eot?#iefix-zg426g') format('embedded-opentype'),
		url('ui-icons.woff?-zg426g') format('woff'),
		url('ui-icons.ttf?-zg426g') format('truetype'),
		url('ui-icons.svg?-zg426g#wfpui') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon {
	font-family: 'wfpui';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-account-box:before {
	content: "\e600";
}

.icon-announcement:before {
	content: "\e601";
}

.icon-assignment:before {
	content: "\e602";
}

.icon-assignment-ind:before {
	content: "\e603";
}

.icon-assignment-late:before {
	content: "\e604";
}

.icon-bookmark:before {
	content: "\e605";
}

.icon-bookmark-outline:before {
	content: "\e606";
}

.icon-bug-report:before {
	content: "\e607";
}

.icon-cached:before {
	content: "\e608";
}

.icon-credit-card:before {
	content: "\e609";
}

.icon-delete:before {
	content: "\e60a";
}

.icon-done:before {
	content: "\e60b";
}

.icon-done-all:before {
	content: "\e60c";
}

.icon-event:before {
	content: "\e60d";
}

.icon-exit-to-app:before {
	content: "\e60e";
}

.icon-explore:before {
	content: "\e60f";
}

.icon-extension:before {
	content: "\e610";
}

.icon-favorite:before {
	content: "\e611";
}

.icon-favorite-outline:before {
	content: "\e612";
}

.icon-find-in-page:before {
	content: "\e613";
}

.icon-get-app:before {
	content: "\e614";
}

.icon-grade:before {
	content: "\e615";
}

.icon-help:before {
	content: "\e616";
}

.icon-highlight-remove:before {
	content: "\e617";
}

.icon-history:before {
	content: "\e618";
}

.icon-home:before {
	content: "\e619";
}

.icon-info:before {
	content: "\e61a";
}

.icon-info-outline:before {
	content: "\e61b";
}

.icon-label:before {
	content: "\e61c";
}

.icon-label-outline:before {
	content: "\e61d";
}

.icon-list:before {
	content: "\e61e";
}

.icon-lock:before {
	content: "\e61f";
}

.icon-lock-open:before {
	content: "\e620";
}

.icon-lock-outline:before {
	content: "\e621";
}

.icon-pageview:before {
	content: "\e622";
}

.icon-query-builder:before {
	content: "\e623";
}

.icon-question-answer:before {
	content: "\e624";
}

.icon-reorder:before {
	content: "\e625";
}

.icon-report-problem:before {
	content: "\e626";
}

.icon-room:before {
	content: "\e627";
}

.icon-search:before {
	content: "\e628";
}

.icon-settings:before {
	content: "\e629";
}

.icon-speaker-notes:before {
	content: "\e62a";
}

.icon-thumb-down:before {
	content: "\e62b";
}

.icon-thumb-up:before {
	content: "\e62c";
}

.icon-visibility:before {
	content: "\e62d";
}

.icon-visibility-off:before {
	content: "\e62e";
}

.icon-error:before {
	content: "\e62f";
}

.icon-warning:before {
	content: "\e630";
}

.icon-equalizer:before {
	content: "\e631";
}

.icon-repeat:before {
	content: "\e632";
}

.icon-replay:before {
	content: "\e633";
}

.icon-chat:before {
	content: "\e634";
}

.icon-comment:before {
	content: "\e635";
}

.icon-dnd-on:before {
	content: "\e636";
}

.icon-email:before {
	content: "\e637";
}

.icon-live-help:before {
	content: "\e638";
}

.icon-textsms:before {
	content: "\e639";
}

.icon-vpn-key:before {
	content: "\e63a";
}

.icon-add-box:before {
	content: "\e63b";
}

.icon-archive:before {
	content: "\e63c";
}

.icon-backspace:before {
	content: "\e63d";
}

.icon-block:before {
	content: "\e63e";
}

.icon-clear:before {
	content: "\e63f";
}

.icon-flag:before {
	content: "\e640";
}

.icon-inbox:before {
	content: "\e641";
}

.icon-remove-circle:before {
	content: "\e642";
}

.icon-remove-circle-outline:before {
	content: "\e643";
}

.icon-attach-file:before {
	content: "\e644";
}

.icon-attach-money:before {
	content: "\e645";
}

.icon-arrow-drop-down:before {
	content: "\e646";
}

.icon-arrow-drop-up:before {
	content: "\e647";
}

.icon-chevron-left:before {
	content: "\e648";
}

.icon-chevron-right:before {
	content: "\e649";
}

.icon-close:before {
	content: "\e64a";
}

.icon-expand-less:before {
	content: "\e64b";
}

.icon-expand-more:before {
	content: "\e64c";
}

.icon-more-horiz:before {
	content: "\e64d";
}

.icon-more-vert:before {
	content: "\e64e";
}

.icon-refresh:before {
	content: "\e64f";
}

.icon-unfold-less:before {
	content: "\e650";
}

.icon-unfold-more:before {
	content: "\e651";
}

.icon-vpn-lock:before {
	content: "\e652";
}

.icon-group:before {
	content: "\e653";
}

.icon-people:before {
	content: "\e654";
}

.icon-people-outline:before {
	content: "\e655";
}

.icon-person:before {
	content: "\e656";
}

.icon-person-add:before {
	content: "\e657";
}

.icon-poll:before {
	content: "\e658";
}

.icon-publ:before {
	content: "\e659";
}

.icon-school:before {
	content: "\e65a";
}

.icon-share:before {
	content: "\e65b";
}

.icon-check-box:before {
	content: "\e65c";
}

.icon-check-box-outline-blank:before {
	content: "\e65d";
}

.icon-radio-button-off:before {
	content: "\e65e";
}

.icon-radio-button-on:before {
	content: "\e65f";
}

