$brand: var(--brand, "#007dbcff") !default;
$field: var(--field, "#262e34ff") !default;
$field-border: var(--field-border, "#3e4c54ff") !default;
$background-main: var(--background-main, "#121517ff") !default;
$background-inverse-hover: var(--background-inverse-hover, "#222b32ff") !default;
$background-inverse: var(--background-inverse, "#121a1eff") !default;
$text-primary: var(--text-primary, "#ffffffff") !default;
$text-on-color: var(--text-on-color, "#fafafaff") !default;
$text-secondary: var(--text-secondary, "#5a6872ff") !default;
$layer-primary: var(--layer-primary, "#1b2327ff") !default;
$button-primary: var(--button-primary, "#0779f1ff") !default;
$button-primary-hover: var(--button-primary-hover, "#2889ccff") !default;
$button-secondary-hover: var(--button-secondary-hover, "#2889ccff") !default;
$button-tertiary: var(--button-tertiary, "#263443ff") !default;
$button-tertiary-hover: var(--button-tertiary-hover, "#2e3e4fff") !default;
$border-subtle: var(--border-subtle, "#1f262eff") !default;
$border-strong: var(--border-strong, "#2f3943ff") !default;
$link-primary-hover: var(--link-primary-hover, "#369ce3ff") !default;
$link-primary: var(--link-primary, "#0779f1ff") !default;
$support-success-light: var(--support-success-light, "#143416ff") !default;
$support-error-light: var(--support-error-light, "#310d11ff") !default;
$support-warning-light: var(--support-warning-light, "#222d32ff") !default;
$typography-caption-font-size: var(--typography-caption-font-size, "0.875em") !default;
$typography-caption-font-weight: var(--typography-caption-font-weight, "regular") !default;
$typography-helper-font-size: var(--typography-helper-font-size, "0.875em") !default;
$typography-helper-font-weight: var(--typography-helper-font-weight, "regular") !default;
$typography-input-font-size: var(--typography-input-font-size, "1em") !default;
$typography-input-font-weight: var(--typography-input-font-weight, "regular") !default;
$typography-story-title-font-size: var(--typography-story-title-font-size, "3.125em") !default;
$typography-story-title-font-weight: var(--typography-story-title-font-weight, "300") !default;
$typography-story-h1-font-size: var(--typography-story-h1-font-size, "1.8125em") !default;
$typography-story-h1-font-weight: var(--typography-story-h1-font-weight, "600") !default;
$typography-story-h2-font-size: var(--typography-story-h2-font-size, "1.5625em") !default;
$typography-story-h2-font-weight: var(--typography-story-h2-font-weight, "600") !default;
$typography-story-h3-font-size: var(--typography-story-h3-font-size, "1.375em") !default;
$typography-story-h3-font-weight: var(--typography-story-h3-font-weight, "600") !default;
$typography-story-h4-font-size: var(--typography-story-h4-font-size, "1.25em") !default;
$typography-story-h4-font-weight: var(--typography-story-h4-font-weight, "600") !default;
$typography-story-h5-font-size: var(--typography-story-h5-font-size, "1.125em") !default;
$typography-story-h5-font-weight: var(--typography-story-h5-font-weight, "600") !default;
$typography-story-h6-font-size: var(--typography-story-h6-font-size, "1em") !default;
$typography-story-h6-font-weight: var(--typography-story-h6-font-weight, "600") !default;
$typography-story-sub-title-font-size: var(--typography-story-sub-title-font-size, "0.75em") !default;
$typography-story-sub-title-font-weight: var(--typography-story-sub-title-font-weight, "500") !default;
$typography-story-sub-title-letter-spacing: var(--typography-story-sub-title-letter-spacing, "0.05em") !default;
$typography-story-sub-title-text-transform: var(--typography-story-sub-title-text-transform, "uppercase") !default;
$typography-body-regular-font-size: var(--typography-body-regular-font-size, "0.75em") !default;
$typography-body-regular-font-weight: var(--typography-body-regular-font-weight, "regular") !default;