//-----------------------------
// Link
//-----------------------------

@import '../../globals/scss/colors';
@import '../../globals/scss/vars';
@import '../../globals/scss/layout';
@import '../../globals/scss/typography';
@import '../../globals/scss/helper-mixins';
@import '@carbon/import-once/scss/import-once';
@import '../../globals/scss/css--reset';

@include exports('link') {
  .#{$prefix}--link {
    //@include reset;
    @include font-family;
    //@include font-smoothing;
    cursor: pointer;
    color: var(--interactive-01);
    text-decoration: none;
    transition: $transition--base;
    &:hover,
    &.#{$prefix}--link--hover {
      text-decoration: underline;
    }
    &:visited {
      color: var(--interactive-01);
    }

    &:active,
    &:hover,
    &:focus,
    &.#{$prefix}--link--active {
      color: var(--interactive-02);
    }

    &:focus,
    &.#{$prefix}--link--focus {
      @include focus-outline('border-small');
    }

    &[aria-disabled='true'] {
      opacity: 0.5;
      pointer-events: none;
    }
  }
  .#{$prefix}--link--inline {
    text-decoration: underline;
  }
}
