//-----------------------------
// Text area
//-----------------------------

@import '../../globals/scss/vars';
@import '../../globals/scss/theme';
@import '../../globals/scss/colors';
@import '../../globals/scss/typography';
@import '../../globals/scss/spacing';
@import '../../globals/scss/css--reset';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/import-once';
@import '../Form/form';

@include exports('text-area') {
  .#{$prefix}--text-area {
    @include reset;
    @include font-family;
    @include typescale('zeta');
    min-width: 20rem;
    min-height: $input-height;
    padding: $spacing-xs;
    color: var(--text-01);
    background-color: var(--field-01);
    appearance: none;
    border: $input-border;
    border-radius: $input-border-radius;
    order: 2;
    resize: vertical;

    .#{$prefix}--textarea-fullwidth{
      width: 100%;
    }

    & ~ .#{$prefix}--label {
      order: 1;
    }

    &:focus {
      @include focus-outline('border');
    }

    &::placeholder {
      @include placeholder-colors;
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &:disabled:hover {
      border: $input-border;
    }
    &:focus ~ .#{$prefix}--label {
      color: var(--interactive-01);
    }

    &[data-invalid]:focus + .#{$prefix}--label {
      color: var(--support-01);
    }

    &:read-only {
      @include read-only('border');
    }
  }

  .#{$prefix}--text-area--light {
    background: var(--field-02);
  }

  // Skeleton State
  #{$prefix}--text-area.#{$prefix}--skeleton {
    @include skeleton;
    height: rem(100px);

    &::-webkit-input-placeholder {
      color: transparent;
    }
  }

  // Skeleton State
  #{$prefix}--text-area.#{$prefix}--skeleton {
    @include skeleton;
    height: rem(100px);

    &::-webkit-input-placeholder {
      color: transparent;
    }
  }

  // Skeleton State
  #{$prefix}--text-area.#{$prefix}--skeleton {
    @include skeleton;
    height: rem(100px);

    &::-webkit-input-placeholder {
      color: transparent;
    }
  }
}
