@import '../../globals/scss/vars';
@import '../../globals/scss/colors';
@import '../../globals/scss/typography';
@import '../../globals/scss/spacing';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/import-once';
@import '../../globals/scss/css--reset';
@import '../Form/form';

@include exports('banner-navigation') {
  .#{$prefix}--banner-navigation {
    background: $color__main-60;
    @include reset;
    display: flex;

    @include breakpointMax(bp--md--major) {
      display: none;
    }
  }

  .#{$prefix}--banner-navigation__item {
    @include typescale('omega');
    @include font-family;
    padding: 0 $spacing-sm;

    &:last-child {
      padding-right: 0;
    }

    a {
      @include typescale('omega');
      color: rgba($color__white, 0.9);
      text-decoration: none;

      &:hover {
        color: $color__white;
        text-decoration: underline;
      }

      &:focus {
        color: $color__white;
      }

      &:visited,
      &:active {
        color: rgba($color__white, 0.8);
      }
    }
  }

  .#{$prefix}--banner-navigation__list {
    display: flex;
    justify-content: flex-end;
    height: rem(30px);
    align-items: center;
  }
}
