<div class="wfp--theme-light wfp--theme-en">
  <div class="wfp--banner-navigation">
    <div class="wfp--wrapper wfp--wrapper--width-lg">
      <ul class="wfp--banner-navigation__list">
        {% for item in items %}
          <li class="wfp--banner-navigation__item"><a href="{{ item.href }}" class="wfp--link" target="_blank">{{ item.label }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>