@import 'feature-flags';
@import 'import-once';
@import 'functions';
@import 'colors';
@import 'spacing';
@mixin css--variables {
  body {
    --interactive-01: #{$color__main-51}; // Main Link and Button Color
    --hover-primary: #{darken($color__main-51, 10%)};
    --accent-02: #{$color__yellow}; // Darker WFP Blue // $color__teal-20
    --brand-01: #{$color__main}; // Main Link and Button Color
    --interactive-02: #{$color__main-60}; // Main WFP Color //$color__blue-40
    --accent-01: #{$color__yellow};
    --inverse-01: #{$color__white};
    --inverse-02: #{$color__white};
    --inverse-03: #{$color__navy-gray-3};
    --ui-01: #{$color__white};
    --ui-02: #{$color__gray-10};
    --ui-03: #{$color__gray-20};
    --ui-04: #{$color__gray-30};
    --ui-05: #{$color__gray-40};
    --ui-06: #{$color__gray-60};
    --text-01: #{$color__main-80};
    --text-02: #{$color__navy-gray-6};
    --text-03: #{$color__navy-gray-7};
    --field-01: #{$color__white};
    --field-02: #{$color__white};
    --field-border-01: #{$color__gray-30};
    --support-01: #{$color__red};
    --support-light-01: #{$color__red-20};
    --support-02: #{$color__lime-60};
    --support-light-02: #{$color__dark-green-20};
    --support-03: #{$color__yellow};
    --support-light-03: #{$color__yellow-20};
    --support-04: #{$color__main-30};
    --support-light-04: #{$color__main-20};
    --nav-01: #{$color__navy-gray-1};
    --nav-02: #{$color__main-80};
    --nav-03: #{$color__magenta-30};
    --nav-04: #{$color__magenta-60};
    --disabled: #{$color__navy-gray-10};
    --disabled-01: #{$color__navy-gray-10};
    --disabled-02: #{$color__navy-gray-8};
    // Sequential palette #1 (default)
    --sequential-default-01: #{$color__blue-1};
    --sequential-default-02: #{$color__blue-2};
    --sequential-default-03: #{$color__blue-3};
    --sequential-default-04: #{$color__blue-4};
    --sequential-default-05: #{$color__blue-5};
    --sequential-default-06: #{$color__blue-6};
    --sequential-default-07: #{$color__blue-7};
    // Sequential palette #2 (secondary)
    --sequential-secondary-01: #{$color__green-1};
    --sequential-secondary-02: #{$color__green-2};
    --sequential-secondary-03: #{$color__green-3};
    --sequential-secondary-04: #{$color__green-4};
    --sequential-secondary-05: #{$color__green-5};
    --sequential-secondary-06: #{$color__green-6};
    --sequential-secondary-07: #{$color__green-7};
    // Categorical palette (Corporate)
    --categorical-corporate-01: #{$color__main-blue};
    --categorical-corporate-02: #{$color__light-blue};
    --categorical-corporate-03: #{$color__main-green};
    --categorical-corporate-04: #{$color__dark-green-1};
    --categorical-corporate-05: #{$color__dark-blue};
    --categorical-corporate-06: #{$color__dark-pink};
    --categorical-corporate-07: #{$color__bright-red};
    --categorical-corporate-08: #{$color__bright-orange};
    --categorical-corporate-09: #{$color__grey-orange};
    --categorical-corporate-10: #{$color__soft-orange-2};
    // Alert palette
    --alert-01: #{$color__green-5};
    --alert-02: #{$color__lime-green};
    --alert-03: #{$color__soft-yellow-2};
    --alert-04: #{$color__soft-yellow-1};
    --alert-05: #{$color__soft-orange-1};
    --alert-06: #{$color__soft-red};
    --alert-07: #{$color__bright-red};
    // Diverging palette
    --diverging-01: #{$color__cyan};
    --diverging-02: #{$color__soft-orange-2};
    --modal-background: #{$color__modal-background};
  }

  @media (prefers-color-scheme: dark) {
    body {
      &.wfp--theme-dark {
        --interactive-01: #{$color__main-51}; // Main Link and Button Color
        --hover-primary: #{darken($color__main-51, 10%)};
        --accent-02: #{$color__yellow}; // Darker WFP Blue // $color__teal-20
        --brand-01: #{$color__main}; // Main Link and Button Color
        --interactive-02: #{$color__main-60}; // Main WFP Color //$color__blue-40
        --accent-01: #{$color__yellow};
        --inverse-01: #{$color__white};
        --inverse-02: #{$color__white};
        --inverse-03: #{$color__navy-gray-3};
        --ui-01: #{$color__gray-20};
        --ui-02: #{$color__gray-20};
        --ui-03: #{$color__gray-20};
        --ui-04: #{$color__gray-20};
        --ui-05: #{$color__gray-20};
        --ui-06: #{$color__gray-20};
        --text-01: #{$color__white};
        --text-02: #{$color__navy-gray-6};
        --text-03: #{$color__navy-gray-7};
        --field-01: #{$color__navy-gray-7};
        --field-02: #{$color__navy-gray-4};
        --support-01: #{$color__red};
        --support-light-01: #{$color__red-20};
        --support-02: #{$color__lime-60};
        --support-light-02: #{$color__dark-green-20};
        --support-03: #{$color__yellow};
        --support-light-03: #{$color__yellow-20};
        --support-04: #{$color__main-30};
        --support-light-04: #{$color__main-20};
        --nav-01: #{$color__navy-gray-1};
        --nav-02: #{$color__main-80};
        --nav-03: #{$color__magenta-30};
        --nav-04: #{$color__magenta-60};
        --disabled: #{$color__navy-gray-10};
        --disabled-01: #{$color__navy-gray-10};
        --disabled-02: #{$color__navy-gray-8};
      }
    }
  }
}

@include exports('css--variables') {
  @if global-variable-exists(css--variables) ==false or $css--variables==true {
    //@if global-variable-exists('css--variables') == true and $css--variables == true
    @include css--variables;
  }
}

//@mixin theme() {
// Color Theme Variables
$interactive-01: $color__main-51 !default !global;
$bg-color: $color__main-51 !default !global;
$accent-02: $color__yellow !default !global; // Darker WFP Blue // $color__teal-20
$brand-01: $color__main !default !global; // Main Link and Button Color
$interactive-02: $color__main-60 !default !global; // Main WFP Color //$color__blue-40
$accent-01: $color__yellow !default !global;
$inverse-01: $color__white !default !global;
$inverse-02: $color__white !default !global;
$inverse-03: $color__navy-gray-3 !default !global;
/*$ui-01: $color__white !default !global;
$ui-02: $color__navy-gray-9 !default !global;
$ui-03: $color__gray-2 !default !global;
$ui-04: $color__gray-1 !default !global;
$ui-05: $color__navy-gray-7 !default !global;
$ui-06: $color__navy-gray-2 !default !global;
$text-01: $color__main-80 !default !global;
$text-02: $color__navy-gray-6 !default !global;
$text-03: $color__navy-gray-7 !default !global;
$field-01: $ui-01 !default !global;
$field-02: $color__white !default !global;*/
$support-01: $color__red !default !global;
$support-light-01: $color__red-20 !default !global;
$support-02: $color__lime-60 !default !global;
$support-light-02: $color__dark-green-20 !default !global;
$support-03: $color__yellow !default !global;
$support-light-03: $color__yellow-20 !default !global;
$support-04: $color__main-30 !default !global;
$support-light-04: $color__main-20 !default !global;
$nav-01: $color__navy-gray-1 !default !global;
$nav-02: $color__main-80 !default !global;
$nav-03: $color__magenta-30 !default !global;
$nav-04: $color__magenta-60 !default !global;
$disabled: $color__navy-gray-10 !default !global;
$disabled-01: $color__navy-gray-10 !default !global;
$disabled-02: $color__navy-gray-8 !default !global;

$hover-primary: darken($interactive-01, 10%) !default !global;
$hover-primary-text: darken($interactive-01, 15%) !default !global;
$hover-danger: darken($support-01, 10%) !default !global;
$hover-secondary: var(--interactive-01) !default !global;
$hover-row: rgba($interactive-02, 0.1) !default !global;

// Global
$focus: $color__brand-01-20 !default !global;

$input-border: 1px solid var(--field-border-01) !default;
$input-label-weight: 600 !default;
$input-border-radius: 0px !default;
$input-height: 40px !default;

// Button Theme Variables
$button-font-weight: 700 !default !global;
$button-font-size: 0.875rem !default !global;
$button-border-radius: 4px !default !global;
$button-height: 40px !default !global;
$button-padding: 0 $spacing-md * 0.8 !default !global;
$button-padding-sm: 0 $spacing-xs * 0.7 !default !global;
$button-border-width: 2px !default !global;
$button-outline-width: 1px !default !global;

// Checkbox
$checkbox-border-width: 2px !default !global;
$checkbox-border-radius: 4px !default !global;

// Code Snippet
$snippet-background-color: var(--ui-01) !default !global;
$snippet-border-color: var(--ui-03) !default !global;

// Content Switcher
$content-switcher-border-radius: 6px !default !global;
$content-switcher-option-border: 2px solid var(--interactive-01) !default !global;

// Data Table
$data-table-heading-transform: uppercase !default !global;
$data-table-heading-border-bottom: 1px solid var(--interactive-01) !default !global;
$data-table-row-height: 2rem !default !global;

// Modal
$modal-border-top: var(--interactive-01) 4px solid !default !global;
$modal-border-radius: 9px !global;
$modal-footer-background-color: var(--ui-02) !default !global;

// Progress Indicator
$progress-indicator-bar-width: 1px inset transparent !default !global;
$progress-indicator-stroke-width: 5 !default !global;
$progress-indicator-line-offset: 0.625rem !default !global;

// Radio Button
$radio-border-width: 2px !default !global;

// Structured Theme Variables
$structured-list-padding: 2rem !default !global;
$structured-list-text-transform: none !default !global;

$css--font-face: true;
// Skeleton Loading
$skeleton: rgba($color__main-51, 0.1) !default !global; //old $field-01

$sdg-01: $color__red !default !global;
$sdg-02: $color__ochre !default !global;
$sdg-03: #4c9f38 !default !global;
$sdg-04: #c5192d !default !global;
$sdg-05: #ff3a21 !default !global;
$sdg-06: $color__aqua !default !global;
$sdg-07: $color__yellow !default !global;
$sdg-08: $color__dark-red !default !global;
$sdg-09: $color__orange !default !global;
$sdg-10: $color__magenta !default !global;
$sdg-11: #fd9d24 !default !global;
$sdg-12: #bf8b2e !default !global;
$sdg-13: $color__dark-green !default !global;
$sdg-14: #0a97d9 !default !global;
$sdg-15: #56c02b !default !global;
$sdg-16: #00689d !default !global;
$sdg-17: $color__navy !default !global;
//}

/* @include exports('theme') {
  @include theme;
}
*/
