@import 'feature-flags';
@import '@carbon/import-once/scss/import-once';
@import 'functions';
@import 'colors';
@import 'spacing';

@mixin darkTheme {
  --interactive-01: #{$color__main}; // Main Link and Button Color
  --interactive-02: #{$color__main-51}; // Main WFP Color //$color__blue-40
  --hover-primary: #{$color__main-51};
  --accent-02: #{$color__yellow}; // Darker WFP Blue // $color__teal-20
  --brand-01: #{$color__main}; // Main Link and Button Color
  --accent-01: #{$color__yellow};
  --inverse-01: #{$color__white};
  --inverse-02: #{$color__navy-gray-3};
  --ui-01: #{$color__gray-90};
  --ui-02: #{$color__gray-80}; //#{$color__navy-gray-2};
  --ui-03: #{$color__gray-70}; //#{$color__navy-gray-3};
  --ui-04: #{$color__gray-60}; //#{$color__navy-gray-4};
  --ui-05: #{$color__gray-50}; // #{$color__navy-gray-5};
  --ui-06: #{$color__gray-40}; //#{$color__navy-gray-6};
  --text-01: #{$color__white};
  --text-02: #{$color__navy-gray-8};
  --text-03: #{$color__navy-gray-9};
  --field-01: #{$color__gray-80};
  --field-02: #{$color__navy-gray-2};
  --field-border-01: #{$color__gray-50};
  --focus-01: #{$color__navy-gray-1};
  --support-01: #{$color__red};
  --support-light-01: #{saturate(darken($color__red, 20), 40)}; //#{$color__red-60};
  --support-02: #{$color__lime-60};
  --support-light-02: #{saturate(darken($color__lime, 20), 40)};
  --support-03: #{lighten($color__yellow, 5)};
  --support-light-03: #{saturate(darken($color__yellow, 15), 40)};
  --support-04: #{$color__main-30};
  --support-light-04: #{$color__main-20};
  --nav-01: #{$color__navy-gray-1};
  --nav-02: #{$color__main-80};
  --nav-03: #{$color__magenta-30};
  --nav-04: #{$color__magenta-60};
  --disabled: #{$color__navy-gray-10};
  --disabled-01: #{$color__navy-gray-10};
  --disabled-02: #{$color__navy-gray-8};

  --modal-background-01: #{$color__transparent-01};
  --modal-background-02: #{$color__transparent-02};
}

@mixin css--variables {
  body {
    --interactive-01: #{$color__main-51}; // Main Link and Button Color

    // --hover-primary: #{darken($color__main-51, 10%)};
    --accent-02: #{$color__yellow}; // Darker WFP Blue // $color__teal-20
    --brand-01: #{$color__main}; // Main Link and Button Color
    --interactive-02: #{$color__main-60}; //$color__blue-40
    //--hover-primary: #{darken($color__main-51, 10%)}; // Remove
    --hover-primary: #{$color__main-60};
    --accent-02: #{$color__yellow}; // Darker WFP Blue // $color__teal-20 // Remove
    --brand-01: #{$color__main}; // Main Link and Button Color
    --accent-01: #{$color__yellow};
    --inverse-01: #{$color__white}; // Maybe rename to text ?
    //--inverse-02: #{$color__white}; // Remove
    --inverse-02: #{$color__navy-gray-9}; // Review

    //extended primary color
    --brand-01-20: #{$color__main-20};
    --brand-01-30: #{$color__main-30};
    --brand-01-40: #{$color__main-40};
    --brand-01-60: #{$color__main-60};
    --brand-01-70: #{$color__main-70};
    --brand-01-80: #{$color__main-80};

    --ui-01: #{$color__white};
    --ui-02: #{$color__gray-10}; //#{$color__navy-gray-60} //#{$color__gray-10};
    --ui-03: #{$color__gray-20};
    --ui-04: #{$color__gray-30};
    --ui-05: #{$color__gray-40};
    --ui-06: #{$color__gray-60};
    --text-01: #{$color__dark-text-01};
    --text-02: #{$color__navy-gray-6};
    --text-03: #{$color__navy-gray-8};
    --text-04: #{$color__white};
    --field-01: #{$color__white};
    --field-02: #{$color__white}; // Change color
    --field-border-01: #{$color__gray-40};
    --focus-01: #{$color__brand-01-20};
    --support-01: #{$color__red};
    --support-light-01: #{$color__red-20};
    --support-02: #{$color__lime-60};
    --support-light-02: #{$color__dark-green-20};
    --support-03: #{$color__yellow};
    --support-light-03: #{$color__yellow-20};
    --support-04: #{$color__main-30};
    --support-light-04: #{$color__main-20};

    --disabled-01: #{$color__navy-gray-10};
    --disabled-02: #{$color__navy-gray-8};

    // Sequential palette #1 (default)
    --sequential-default-01: #{$color__blue-1};
    --sequential-default-02: #{$color__blue-2};
    --sequential-default-03: #{$color__blue-3};
    --sequential-default-04: #{$color__blue-4};
    --sequential-default-05: #{$color__blue-5};
    --sequential-default-06: #{$color__blue-6};
    --sequential-default-07: #{$color__blue-7};
    // Sequential palette #2 (secondary)
    --sequential-secondary-01: #{$color__green-1};
    --sequential-secondary-02: #{$color__green-2};
    --sequential-secondary-03: #{$color__green-3};
    --sequential-secondary-04: #{$color__green-4};
    --sequential-secondary-05: #{$color__green-5};
    --sequential-secondary-06: #{$color__green-6};
    --sequential-secondary-07: #{$color__green-7};
    // Categorical palette (Corporate)
    --categorical-corporate-01: #{$color__main-blue};
    --categorical-corporate-02: #{$color__light-blue};
    --categorical-corporate-03: #{$color__main-green};
    --categorical-corporate-04: #{$color__dark-green-1};
    --categorical-corporate-05: #{$color__dark-blue};
    --categorical-corporate-06: #{$color__dark-pink};
    --categorical-corporate-07: #{$color__bright-red};
    --categorical-corporate-08: #{$color__bright-orange};
    --categorical-corporate-09: #{$color__grey-orange};
    --categorical-corporate-10: #{$color__soft-orange-2};
    // Alert palette
    --alert-01: #{$color__green-5};
    --alert-02: #{$color__lime-green};
    --alert-03: #{$color__soft-yellow-2};
    --alert-04: #{$color__soft-yellow-1};
    --alert-05: #{$color__soft-orange-1};
    --alert-06: #{$color__soft-red};
    --alert-07: #{$color__bright-red};
    // Diverging palette
    --diverging-01: #{$color__cyan};
    --diverging-02: #{$color__soft-orange-2};

    // Semi-transparent backgrounds
    --modal-background-01: #{$color__transparent-01};
    --modal-background-02: #{$color__transparent-02};
  }

  .wfp--theme-dark {
    @include darkTheme();
    background-color: var(--ui-01) !important;
  }

  @media (prefers-color-scheme: dark) {
    body {
      &.wfp--theme-dark--auto {
        @include darkTheme();
      }
    }
  }
}

@include exports('css--variables') {
  @if global-variable-exists(css--variables) ==false or $css--variables==true {
    //@if global-variable-exists('css--variables') == true and $css--variables == true
    @include css--variables;
  }
}

//@mixin theme() {
// Color Theme Variables
$interactive-01: $color__main-51 !default;
$bg-color: $color__main-51 !default;
$accent-02: $color__yellow !default; // Darker WFP Blue // $color__teal-20
$brand-01: $color__main !default; // Main Link and Button Color
$interactive-02: $color__main-60 !default; // Main WFP Color //$color__blue-40
$accent-01: $color__yellow !default;
$inverse-01: $color__white !default;
$inverse-02: $color__white !default;
$inverse-03: $color__navy-gray-3 !default;
/*$ui-01: $color__white !default /* !global */

$ui-02: $color__navy-gray-9 !default ;
$ui-03: $color__gray-2 !default;
$ui-04: $color__gray-1 !default;
$ui-05: $color__navy-gray-7 !default;
$ui-06: $color__navy-gray-2 !default ;
$text-01: $color__main-80 !default ;
$text-02: $color__navy-gray-6 !default;
$text-03: $color__navy-gray-7 !default;
$field-01: $color__white !default; //TODO: Fix color
$field-02: $color__white !default;

$support-01: $color__red !default;
$support-light-01: $color__red-20 !default;
$support-02: $color__lime-60 !default;
$support-light-02: $color__dark-green-20 !default;
$support-03: $color__yellow !default ;
$support-light-03: $color__yellow-20 !default;
$support-04: $color__main-30 !default ;
$support-light-04: $color__main-20 !default;
$nav-01: $color__navy-gray-1 !default;
$nav-02: $color__main-80 !default;
$nav-03: $color__magenta-30 !default;
$nav-04: $color__magenta-60 !default;
$disabled: $color__navy-gray-10 !default;
$disabled-01: $color__navy-gray-10 !default;
$disabled-02: $color__navy-gray-8 !default;

$hover-primary: darken($interactive-01, 10%) !default;
$hover-primary-text: darken($interactive-01, 15%) !default ;
$hover-danger: darken($support-01, 10%) !default;
$hover-secondary: var(--interactive-01) !default ;
$hover-row: rgba($interactive-02, 0.1) !default ;

// Global
$focus: $color__brand-01-20 !default ;

$input-border: 1px solid var(--field-border-01) !default;
$input-label-weight: 600 !default;
$input-border-radius: 0px !default;
$input-height: 40px !default;

// Button Theme Variables
$button-font-weight: 700 !default;
$button-font-size: 0.875rem !default ;
$button-border-radius: 4px !default ;
$button-height: 40px !default ;
$button-padding: 0 $spacing-md * 0.8 !default ;
$button-padding-sm: 0 $spacing-xs * 0.7 !default ;
$button-border-width: 2px !default ;
$button-outline-width: 1px !default;

// Checkbox
$checkbox-border-width: 2px !default ;
$checkbox-border-radius: 4px !default ;

// Code Snippet
$snippet-background-color: var(--ui-01) !default;
$snippet-border-color: var(--ui-03) !default;

// Content Switcher
$content-switcher-border-radius: 6px !default;
$content-switcher-option-border: 2px solid var(--interactive-01) !default;

// Data Table
$data-table-heading-transform: uppercase !default ;
$data-table-heading-border-bottom: 1px solid var(--interactive-01) !default ;
$data-table-row-height: 2rem !default ;

// Modal
$modal-border-top: var(--interactive-01) 4px solid !default;
$modal-border-radius: 6px;
$modal-footer-background-color: var(--ui-02) !default;

// Progress Indicator
$progress-indicator-bar-width: 1px inset transparent !default;
$progress-indicator-stroke-width: 5 !default;
$progress-indicator-line-offset: 0.625rem !default;

// Radio Button
$radio-border-width: 2px !default;

// Structured Theme Variables
$structured-list-padding: 2rem !default;
$structured-list-text-transform: none !default;

$css--font-face: true;
// Skeleton Loading
$skeleton: rgba($color__main-51, 0.1) !default; //old $field-01

$sdg-01: $color__red !default;
$sdg-02: $color__ochre !default;
$sdg-03: #4c9f38 !default;
$sdg-04: #c5192d !default;
$sdg-05: #ff3a21 !default;
$sdg-06: $color__aqua !default;
$sdg-07: $color__yellow !default;
$sdg-08: $color__dark-red !default;
$sdg-09: $color__orange !default;
$sdg-10: $color__magenta !default;
$sdg-11: #fd9d24 !default;
$sdg-12: #bf8b2e !default;
$sdg-13: $color__dark-green !default;
$sdg-14: #0a97d9 !default;
$sdg-15: #56c02b !default;
$sdg-16: #00689d !default;
$sdg-17: $color__navy !default;
//}

/* @include exports('theme') {
  @include theme;
}
*/
