@import 'colors';
@import 'spacing';
@import 'theme-tokens';

$prefix: 'wfp' !default;

$carbon--ease-in: cubic-bezier(
  0.25,
  0,
  1,
  1
); // Used primarily for removing elements from the screen.
$carbon--ease-out: cubic-bezier(
  0,
  0,
  0.25,
  1
); // Used for adding elements to the screen or changing on-screen states at a users's input.
$carbon--standard-easing: cubic-bezier(
  0.5,
  0,
  0.1,
  1
); // Used for the majority of animations.
// For back-ward compatibility
$wfp--ease-in: $carbon--ease-in;
$wfp--ease-out: $carbon--ease-out;
$wfp--standard-easing: $carbon--standard-easing;
$transition--base: 50ms;
$transition--expansion: 100ms;
// TODO: Align Colors
$hover-primary: darken($brand-01, 10%) !default;
$hover-primary-text: darken($brand-01, 15%) !default;
$hover-danger: darken($support-01, 10%) !default;
$hover-secondary: $brand-01 !default;
$hover-row: rgba($brand-02, 0.1) !default;
// Global
$input-border: 1px solid $color__navy-30 !default;
$input-label-weight: 600 !default;
$input-border-radius: 0px !default;

// Page Padding
$page-padding-mobile: 1em;
$page-padding: 1em;
