@import '../../globals/scss/vars';
@import '../../globals/scss/colors';
@import '../../globals/scss/typography';
@import '../../globals/scss/spacing';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/import-once';
@import '../../globals/scss/css--reset';
@import '../Form/form';

@include exports('main-navigation') {
  .#{$prefix}--main-navigation {
    color: $color__white;
    background: $color__main;
    @include reset;
    //display: flex;
  }

  .#{$prefix}--main-navigation__item {
    @include typescale('epsilon');
    @include font-family;
    &:last-child {
      padding-right: 0;
    }
  }

  .#{$prefix}--main-navigation__sub {
    display: none;
  }

  .#{$prefix}--main-navigation__trigger {
    cursor: pointer;
    user-select: none;
    //vertical-align: middle;
    white-space: nowrap;
    a {
      color: $color__white;
      @include typescale('epsilon');
      text-decoration: none;
      &.active {
        border-bottom: 3px solid rgba($ui-01, 0.2);
      }
      &:hover,
      &:visited,
      &:active {
        color: $color__white;
        text-decoration: underline;
      }
      &:focus {
        color: $color__white;
      }
    }
  }

  .#{$prefix}--main-navigation__trigger--has-sub {
    > div,
    > a,
    > span {
      white-space: nowrap;
      padding-left: 0.3em;
      padding-right: 0.3em;
      /*&:after {
        display: inline-block;
        position: relative;
        top: rem(-1px);
        margin-left: 0.2em;
        @include rtl {
          margin-left: 0;
          margin-right: 0.2em;
        }
        width: rem(15px);
        content: '▾';
      }*/
    }
  }

  .#{$prefix}--main-navigation__trigger__icon {
    display: inline-block;
    position: relative;
    top: rem(-1px);
    vertical-align: middle;
    margin-left: 0.3em;
    @include rtl {
      margin-left: 0;
      margin-right: 0.3em;
    }
  }

  .#{$prefix}--main-navigation__trigger--has-sub.#{$prefix}--main-navigation__trigger--open {
    .#{$prefix}--main-navigation__trigger__icon {
      //top: rem(0px);
    }
  }

  /*.#{$prefix}--main-navigation__item--open {
    &:after {
      position: absolute;
      top:0;
      left:0;
      display: block;
      content: "";
      width: 100%;
      height: 100px;
    }
  }*/

  .#{$prefix}--main-navigation__logo {
    a {
      color: $color__white;
      text-decoration: none;
      &:hover,
      &:visited,
      &:active {
        color: $color__white;
        text-decoration: underline;
      }
      &:focus {
        color: $color__white;
      }
    }
  }

  @include breakpoint(bp--md--major) {
    .#{$prefix}--main-navigation__logo-wrapper {
      flex-grow: 1;
    }

    .#{$prefix}--main-navigation__logo {
      flex-grow: 1;
      font-weight: 600;
      white-space: nowrap;
    }

    .#{$prefix}--main-navigation__wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      position: relative;
    }

    .#{$prefix}--main-navigation__item {
      padding: 0 $spacing-sm;

      // Relate the sub navigation dropdown to the parent navigation item
      &.#{$prefix}--content-width {
        position: relative;

        // Get the width from its navigation content
        & > .#{$prefix}--main-navigation__sub--open {
          left: inherit;
          min-width: 100%;
          right: 0;
          top: 2.5rem;
          width: auto;
        }
      }
    }

    .#{$prefix}--main-navigation__button {
      display: none !important;
    }

    .#{$prefix}--main-navigation__list {
      display: flex;
      justify-content: flex-end;
      height: rem(55px);
      align-items: center;
    }

    .#{$prefix}--main-navigation__sub--open {
      display: block;
      position: absolute;
      top: rem(55px);
      left: 0;
      width: 100%;
      max-height: 80vh;
      overflow: auto;
      overflow-x: hidden;
      z-index: z('modal');
      color: $text-01;
      background: $color__white;
      box-shadow: rgba(desaturate($color__main, 50%), 0.15) 0 3px 12px,
        rgba(desaturate($color__main, 40%), 0.15) 0 32px 78px;
      .#{$prefix}--main-navigation__user & {
        left: inherit;
        right: 0;
        width: 25%;
        min-width: 250px;
      }
    }
  }

  @include breakpointMax(bp--md--major) {
    .#{$prefix}--main-navigation__logo-wrapper {
      display: flex;
      align-items: center;
      height: rem(55px);
      flex-direction: row-reverse;
      justify-content: space-between;
      padding: 0 $page-padding-mobile;
    }

    .#{$prefix}--main-navigation__logo {
      font-weight: 600;
    }

    .#{$prefix}--main-navigation__list {
      display: none;
    }

    .#{$prefix}--main-navigation__list--open {
      display: flex;
      width: 100%;
      flex-direction: column;
    }

    .#{$prefix}--main-navigation__sub--open {
      display: block;
      color: $text-01;
      background: $color__white;
    }

    .#{$prefix}--main-navigation__trigger {
      a {
        display: block;
        width: 100%;
      }
      padding: $spacing-md $page-padding-mobile;
      background-color: $color__blue-60;
      border-bottom: 1px solid lighten($color__blue-60, 5);
    }
  }
}
