<div class="wfp--main-navigation">
  <div class="wfp--wrapper wfp--wrapper--width-lg wfp--wrapper--width-mobile-full wfp--main-navigation__wrapper">
    <div class="wfp--main-navigation__logo-wrapper">
      <button tabindex="0" class="wfp--main-navigation__button wfp--btn wfp--btn--primary" type="button">Menu</button>
      <div class="wfp--main-navigation__logo"><a href="http://www.wfp.org">WFP UI</a></div>
    </div>
    <ul class="wfp--main-navigation__list">
      <li class="wfp--main-navigation__item">
        <div class="wfp--main-navigation__trigger"><a href="http://communities.wfp.org" class="wfp--link" target="_blank">Lorem</a></div>
      </li>
      <li class="wfp--main-navigation__item">
        <div class="wfp--main-navigation__trigger"><a href="https://go.docs.wfp.org" class="wfp--link" target="_blank">Ipsum jomen</a></div>
      </li>
      <li class="wfp--main-navigation__item">
        <div class="wfp--main-navigation__trigger"><a href="http://opweb.wfp.org" class="wfp--link" target="_blank">Bin dualem</a></div>
      </li>
      <li class="wfp--main-navigation__item">
        <div class="wfp--main-navigation__trigger">
          <div class="wfp--search wfp--search--lg wfp--search--main" role="search">
            <svg class="wfp--search-magnifier" fill-rule="evenodd" height="16" name="search" role="img" viewBox="0 0 16 16" width="16" aria-label="Search" alt="Search">
              <title>Search</title>
              <path d="M11.435 10.063h-.728l-.251-.252a5.89 5.89 0 0 0 1.437-3.865 5.946 5.946 0 1 0-5.947 5.947 5.91 5.91 0 0 0 3.865-1.432l.252.251v.723L14.637 16 16 14.637l-4.565-4.574zm-5.489 0a4.117 4.117 0 1 1 0-8.234 4.117 4.117 0 0 1 0 8.234z"></path>
            </svg>
            <label for="search-2" class="wfp--label">Search</label><input type="text" class="wfp--search-input" id="search-2" placeholder="Search">
            <button class="wfp--search-close wfp--search-close--hidden" type="button">
              <svg fill-rule="evenodd" height="16" name="close--solid" role="img" viewBox="0 0 16 16" width="16" aria-label="Provide a description that will be used as the title" alt="Provide a description that will be used as the title">
                <title>Provide a description that will be used as the title</title>
                <path d="M8 6.586L5.879 4.464 4.464 5.88 6.586 8l-2.122 2.121 1.415 1.415L8 9.414l2.121 2.122 1.415-1.415L9.414 8l2.122-2.121-1.415-1.415L8 6.586zM8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"></path>
              </svg>
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>