<div class="wfp--main-navigation">
  <div class="wfp--wrapper wfp--wrapper--width-lg wfp--wrapper--width-mobile-full wfp--main-navigation__wrapper">
    <div class="wfp--main-navigation__logo-wrapper">
      <button tabindex="0" class="wfp--main-navigation__button wfp--btn wfp--btn--primary" type="button">Menu</button>
      <div class="wfp--main-navigation__logo"><a href="http://www.wfp.org">WFP UI</a></div>
    </div>
    <ul class="wfp--main-navigation__list">
      <li class="wfp--main-navigation__item">
        <div class="wfp--main-navigation__trigger"><a href="http://communities.wfp.org" class="wfp--link" target="_blank">Lorem</a></div>
      </li>
      <li class="wfp--main-navigation__item">
        <div class="wfp--main-navigation__trigger"><a href="https://go.docs.wfp.org" class="wfp--link" target="_blank">Ipsum jomen</a></div>
      </li>
      <li class="wfp--main-navigation__item">
        <div class="wfp--main-navigation__trigger"><a href="http://opweb.wfp.org" class="wfp--link" target="_blank">Bin dualem</a></div>
      </li>

      <li class="wfp--main-navigation__item">
        <div class="wfp--main-navigation__trigger wfp--main-navigation__trigger--has-sub"><a href="http://manuals.wfp.org" class="wfp--link" target="_blank">Manuals</a></div>
        <div class="wfp--main-navigation__sub">
          <div>
            <div class="wfp--sub-navigation__header">
              <div class="wfp--sub-navigation__title">The Title</div>
              <div class="wfp--sub-navigation__link"><button tabindex="0" class="wfp--btn wfp--btn--sm wfp--btn--primary" type="button">The SubPage Link</button></div>
              <div class="wfp--sub-navigation__filter">
                <div class="wfp--search wfp--search--sm some-class" role="search">
                  <svg class="wfp--search-magnifier" fill-rule="evenodd" height="16" name="search" role="img" viewBox="0 0 16 16" width="16" aria-label="Provide a description that will be used as the title" alt="Provide a description that will be used as the title">
                    <path d="M11.435 10.063h-.728l-.251-.252a5.89 5.89 0 0 0 1.437-3.865 5.946 5.946 0 1 0-5.947 5.947 5.91 5.91 0 0 0 3.865-1.432l.252.251v.723L14.637 16 16 14.637l-4.565-4.574zm-5.489 0a4.117 4.117 0 1 1 0-8.234 4.117 4.117 0 0 1 0 8.234z"></path>
                  </svg>
                  <label for="search-2" class="wfp--label"></label><input type="text" class="wfp--search-input" id="search-2" placeholder="Filter List">
                  <button class="wfp--search-close wfp--search-close--hidden" type="button">
                    <svg fill-rule="evenodd" height="16" name="close--solid" role="img" viewBox="0 0 16 16" width="16" aria-label="Provide a description that will be used as the title" alt="Provide a description that will be used as the title">
                      <path d="M8 6.586L5.879 4.464 4.464 5.88 6.586 8l-2.122 2.121 1.415 1.415L8 9.414l2.121 2.122 1.415-1.415L9.414 8l2.122-2.121-1.415-1.415L8 6.586zM8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"></path>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
            <div class="wfp--sub-navigation__content">
              <div class="wfp--sub-navigation__list">
                <div class="wfp--sub-navigation__group wfp--sub-navigation__group--columns">
                  <h3 class="wfp--sub-navigation__group__title">First List</h3>
                  <div>
                    <div class="wfp--sub-navigation__item"><a href="https://go.docs.wfp.org" class="wfp--link" target="_blank">Lorem Ipsum et jomen</a></div>
                    <div class="wfp--sub-navigation__item"><a href="https://go.docs.wfp.org" class="wfp--link" target="_blank">At vero eos</a></div>
                    <div class="wfp--sub-navigation__item"><a href="https://go.docs.wfp.org" class="wfp--link" target="_blank">Sadipscing elitr</a></div>
                    <div class="wfp--sub-navigation__item"><a href="https://go.docs.wfp.org" class="wfp--link" target="_blank">At vero eos</a></div>
                    <div class="wfp--sub-navigation__item"><a href="https://go.docs.wfp.org" class="wfp--link" target="_blank">Sadipscing elitr</a></div>
                    <div class="wfp--sub-navigation__item"><a href="https://go.docs.wfp.org" class="wfp--link" target="_blank">Dolore magna</a></div>
                    <div class="wfp--sub-navigation__item"><a href="https://go.docs.wfp.org" class="wfp--link" target="_blank">Sadipscing elitr</a></div>
                    <div class="wfp--sub-navigation__item"><a href="https://go.docs.wfp.org" class="wfp--link" target="_blank">Consetetur sadipscing</a></div>
                    <div class="wfp--sub-navigation__item"><a href="https://go.docs.wfp.org" class="wfp--link" target="_blank">Sadipscing elitr</a></div>
                  </div>
                </div>
                <div class="wfp--sub-navigation__group wfp--sub-navigation__group--columns">
                  <h3 class="wfp--sub-navigation__group__title">Second List of Items</h3>
                  <div>
                    <div class="wfp--sub-navigation__item"><a href="https://go.docs.wfp.org" class="wfp--link" target="_blank">At vero eos</a></div>
                    <div class="wfp--sub-navigation__item"><a href="https://go.docs.wfp.org" class="wfp--link" target="_blank">Sadipscing elitr</a></div>
                    <div class="wfp--sub-navigation__item"><a href="https://go.docs.wfp.org" class="wfp--link" target="_blank">At vero eos</a></div>
                    <div class="wfp--sub-navigation__item"><a href="https://go.docs.wfp.org" class="wfp--link" target="_blank">Nonumy eirmod</a></div>
                    <div class="wfp--sub-navigation__item"><a href="https://go.docs.wfp.org" class="wfp--link" target="_blank">Consetetur sadipscing</a></div>
                    <div class="wfp--sub-navigation__item"><a href="https://go.docs.wfp.org" class="wfp--link" target="_blank">Dolore magna</a></div>
                    <div class="wfp--sub-navigation__item"><a href="https://go.docs.wfp.org" class="wfp--link" target="_blank">Nonumy eirmod</a></div>
                    <div class="wfp--sub-navigation__item"><a href="https://go.docs.wfp.org" class="wfp--link" target="_blank">Dolore magna</a></div>
                    <div class="wfp--sub-navigation__item"><a href="https://go.docs.wfp.org" class="wfp--link" target="_blank">Sadipscing elitr</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>

       <li class="wfp--main-navigation__item">
        <div class="wfp--main-navigation__trigger wfp--main-navigation__trigger--has-sub"><a href="http://manuals.wfp.org" class="wfp--link" target="_blank">Sea takimata</a></div>
        <div class="wfp--main-navigation__sub">
          <div>
            <div class="wfp--sub-navigation__header">
              <div class="wfp--sub-navigation__title">Another Title</div>
              <div class="wfp--sub-navigation__link"><button tabindex="0" class="wfp--btn wfp--btn--sm wfp--btn--primary" type="button">The SubPage Link</button></div>
              <div class="wfp--sub-navigation__filter">
                <div class="wfp--search wfp--search--sm some-class" role="search">
                  <svg class="wfp--search-magnifier" fill-rule="evenodd" height="16" name="search" role="img" viewBox="0 0 16 16" width="16" aria-label="Provide a description that will be used as the title" alt="Provide a description that will be used as the title">
                    <path d="M11.435 10.063h-.728l-.251-.252a5.89 5.89 0 0 0 1.437-3.865 5.946 5.946 0 1 0-5.947 5.947 5.91 5.91 0 0 0 3.865-1.432l.252.251v.723L14.637 16 16 14.637l-4.565-4.574zm-5.489 0a4.117 4.117 0 1 1 0-8.234 4.117 4.117 0 0 1 0 8.234z"></path>
                  </svg>
                  <label for="search-2" class="wfp--label"></label><input type="text" class="wfp--search-input" id="search-2" placeholder="Filter List">
                  <button class="wfp--search-close wfp--search-close--hidden" type="button">
                    <svg fill-rule="evenodd" height="16" name="close--solid" role="img" viewBox="0 0 16 16" width="16" aria-label="Provide a description that will be used as the title" alt="Provide a description that will be used as the title">
                      <path d="M8 6.586L5.879 4.464 4.464 5.88 6.586 8l-2.122 2.121 1.415 1.415L8 9.414l2.121 2.122 1.415-1.415L9.414 8l2.122-2.121-1.415-1.415L8 6.586zM8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"></path>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
            <div class="wfp--sub-navigation__content">
              <div class="wfp--sub-navigation__list">
                <div class="wfp--sub-navigation__group wfp--sub-navigation__group--columns">
                  <h3 class="wfp--sub-navigation__group__title">First List</h3>
                  <div>
                    <div class="wfp--sub-navigation__item"><a href="https://go.docs.wfp.org" class="wfp--link" target="_blank">Lorem Ipsum et jomen</a></div>
                    <div class="wfp--sub-navigation__item"><a href="https://go.docs.wfp.org" class="wfp--link" target="_blank">At vero eos</a></div>
                    <div class="wfp--sub-navigation__item"><a href="https://go.docs.wfp.org" class="wfp--link" target="_blank">Sadipscing elitr</a></div>
                    <div class="wfp--sub-navigation__item"><a href="https://go.docs.wfp.org" class="wfp--link" target="_blank">At vero eos</a></div>
                    <div class="wfp--sub-navigation__item"><a href="https://go.docs.wfp.org" class="wfp--link" target="_blank">Sadipscing elitr</a></div>
                    <div class="wfp--sub-navigation__item"><a href="https://go.docs.wfp.org" class="wfp--link" target="_blank">Dolore magna</a></div>
                    <div class="wfp--sub-navigation__item"><a href="https://go.docs.wfp.org" class="wfp--link" target="_blank">Sadipscing elitr</a></div>
                    <div class="wfp--sub-navigation__item"><a href="https://go.docs.wfp.org" class="wfp--link" target="_blank">Consetetur sadipscing</a></div>
                    <div class="wfp--sub-navigation__item"><a href="https://go.docs.wfp.org" class="wfp--link" target="_blank">Sadipscing elitr</a></div>
                  </div>
                </div>
                <div class="wfp--sub-navigation__group wfp--sub-navigation__group--columns">
                  <h3 class="wfp--sub-navigation__group__title">Second List of Items</h3>
                  <div>
                    <div class="wfp--sub-navigation__item"><a href="https://go.docs.wfp.org" class="wfp--link" target="_blank">At vero eos</a></div>
                    <div class="wfp--sub-navigation__item"><a href="https://go.docs.wfp.org" class="wfp--link" target="_blank">Sadipscing elitr</a></div>
                    <div class="wfp--sub-navigation__item"><a href="https://go.docs.wfp.org" class="wfp--link" target="_blank">At vero eos</a></div>
                    <div class="wfp--sub-navigation__item"><a href="https://go.docs.wfp.org" class="wfp--link" target="_blank">Nonumy eirmod</a></div>
                    <div class="wfp--sub-navigation__item"><a href="https://go.docs.wfp.org" class="wfp--link" target="_blank">Consetetur sadipscing</a></div>
                    <div class="wfp--sub-navigation__item"><a href="https://go.docs.wfp.org" class="wfp--link" target="_blank">Dolore magna</a></div>
                    <div class="wfp--sub-navigation__item"><a href="https://go.docs.wfp.org" class="wfp--link" target="_blank">Nonumy eirmod</a></div>
                    <div class="wfp--sub-navigation__item"><a href="https://go.docs.wfp.org" class="wfp--link" target="_blank">Dolore magna</a></div>
                    <div class="wfp--sub-navigation__item"><a href="https://go.docs.wfp.org" class="wfp--link" target="_blank">Sadipscing elitr</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>

      <li class="wfp--main-navigation__item">
        <div class="wfp--main-navigation__trigger">
          <div class="wfp--search wfp--search--lg wfp--search--main" role="search">
            <svg class="wfp--search-magnifier" fill-rule="evenodd" height="16" name="search" role="img" viewBox="0 0 16 16" width="16" aria-label="Search" alt="Search">
              <title>Search</title>
              <path d="M11.435 10.063h-.728l-.251-.252a5.89 5.89 0 0 0 1.437-3.865 5.946 5.946 0 1 0-5.947 5.947 5.91 5.91 0 0 0 3.865-1.432l.252.251v.723L14.637 16 16 14.637l-4.565-4.574zm-5.489 0a4.117 4.117 0 1 1 0-8.234 4.117 4.117 0 0 1 0 8.234z"></path>
            </svg>
            <label for="search-2" class="wfp--label">Search</label><input type="text" class="wfp--search-input" id="search-2" placeholder="Search">
            <button class="wfp--search-close wfp--search-close--hidden" type="button">
              <svg fill-rule="evenodd" height="16" name="close--solid" role="img" viewBox="0 0 16 16" width="16" aria-label="Provide a description that will be used as the title" alt="Provide a description that will be used as the title">
                <path d="M8 6.586L5.879 4.464 4.464 5.88 6.586 8l-2.122 2.121 1.415 1.415L8 9.414l2.121 2.122 1.415-1.415L9.414 8l2.122-2.121-1.415-1.415L8 6.586zM8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"></path>
              </svg>
            </button>
          </div>
        </div>
      </li>
      <li class="wfp--main-navigation__user wfp--main-navigation__item">
        <div class="wfp--main-navigation__trigger wfp--main-navigation__trigger--has-sub">
          <div class="wfp--user" title="Max Mustermann long name">
            <svg class="wfp--user__icon wfp--user__icon--empty" fill="#ffffff" fill-rule="evenodd" height="14" name="user" role="img" viewBox="0 0 16 16" width="14" title="Max Mustermann long name" aria-label="User Icon" alt="User Icon">
              <title>User Icon</title>
              <path d="M6.123 9.455a3.5 3.5 0 1 1 3.754 0c1.958.97 3.571 3.424 4.436 6.64-5.852-.027-6.488-.027-12.62-.027.867-3.203 2.477-5.645 4.43-6.613z"></path>
            </svg>
          </div>
        </div>
        <div class="wfp--main-navigation__sub">
          <div>
            <div class="wfp--sub-navigation__header">
              <div class="wfp--sub-navigation__title">User Menu</div>
            </div>
            <div class="wfp--sub-navigation__content">
              <div class="wfp--sub-navigation__list">
                <div class="wfp--sub-navigation__group">
                  <h3 class="wfp--sub-navigation__group__title">First List</h3>
                  <div>
                    <div class="wfp--sub-navigation__item"><a href="https://go.docs.wfp.org" class="wfp--link" target="_blank">Lorem Ipsum et jomen</a></div>
                    <div class="wfp--sub-navigation__item"><a href="https://go.docs.wfp.org" class="wfp--link" target="_blank">At vero eos</a></div>
                    <div class="wfp--sub-navigation__item"><a href="https://go.docs.wfp.org" class="wfp--link" target="_blank">Sadipscing elitr</a></div>
                    <div class="wfp--sub-navigation__item"><a href="https://go.docs.wfp.org" class="wfp--link" target="_blank">At vero eos</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>