@import '../../globals/scss/vars';
@import '../../globals/scss/colors';
@import '../../globals/scss/spacing';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/vendor/@wfp/import-once/scss/import-once';
@import '../../globals/scss/css--reset';
@import '../Form/form';

@include exports('form-hint') {
  .#{$prefix}--form-hint {
    display: inline;
    vertical-align: middle;
    margin: 0 $spacing-2xs;
    user-select: none;
    svg {
      fill: var(--interactive-01);
    }
    &:hover {
      box-shadow: 0 1px 0 var(--interactive-01);
    }
  }
}
