//-----------------------------
// Tabs
//-----------------------------

@import '../../globals/scss/vars';
@import '../../globals/scss/colors';
@import '../../globals/scss/spacing';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/layer';
@import '../../globals/scss/typography';
@import '../../globals/scss/layout';
@import '../../globals/scss/import-once';
@import '../../globals/scss/css--typography';

@include exports('tabs') {
  .#{$prefix}--tabs {
    @include typescale('zeta');
    @include font-smoothing;
    @include font-family;
    color: $text-01;
    font-weight: 600;
    height: auto;
    width: 100%;
    position: relative;
    overflow: auto;
    //padding: 1px;
    max-width: 100%;
  }

  .#{$prefix}--tabs__nav__bar {
    position: absolute;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    background: $brand-01;
    z-index: 10;
    height: 3px;
    bottom: 0;
  }

  /*.#{$prefix}--tabs-trigger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 $spacing-md;
    height: $input-height;
    cursor: pointer;
    //background-color: $field-02;

    svg {
      width: rem(12px);
      height: rem(12px);
      fill: $brand-01;
    }

    &:focus {
      @include focus-outline('border');
    }

    @include breakpoint(bp--sm--major) {
      display: none;
    }
  }*/

  .#{$prefix}--tabs-trigger-text {
    text-decoration: none;
    font-weight: 600;
    color: $text-01;

    &:focus {
      //@include focus-outline('border');
    }
  }

  .#{$prefix}--tabs__nav {
    @include layer('overlay');
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    z-index: z('dropdown');
    //background: $ui-01;

    a {
      text-decoration: none;
    }

    //@include breakpoint(bp--sm--major) {
    @include typescale('epsilon');
    flex-direction: row;
    //margin-right: $spacing-md;
    //margin-left: $spacing-md;
    box-shadow: none;
    z-index: auto;
    //}

    @include breakpoint(bp--lg--major) {
      margin-left: 0;
    }
  }

  .#{$prefix}--tabs__nav--inline {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }

  /*.#{$prefix}--tabs__nav--hidden {
    display: none;

    @include breakpoint(bp--sm--major) {
      display: flex;
    }
  }*/

  .#{$prefix}--tabs__nav-item {
    @include typescale('zeta');
    padding: 0;
    cursor: pointer;
    white-space: nowrap;

    &:hover,
    &:focus {
      //background-color: $hover-row;

      //@include breakpoint(bp--sm--major) {
      //outline: 1px solid transparent;
      //background: transparent;
      //}
    }

    > a,
    > span {
      display: block;
      padding: $spacing-sm $spacing-xs;
    }

    & + & {
      margin-left: $spacing-md;
    }
  }

  .#{$prefix}--tabs__nav-item--selected {
    //border: none;

    //@include breakpoint(bp--sm--major) {
    //border-bottom: 2px solid $brand-01;

    .#{$prefix}--tabs__nav-link {
      color: $brand-01;

      &:focus {
        color: $brand-01;
      }
    }

    //}
  }

  .#{$prefix}--tabs__nav-item--disabled {
    //border-bottom: 2px solid $brand-01;

    .#{$prefix}--tabs__nav-link {
      color: $ui-05;
      cursor: not-allowed;

      &:hover,
      &:focus {
        color: $ui-05 !important;
      }
    }
  }

  .#{$prefix}--tabs__nav-item:hover .#{$prefix}--tabs__nav-link {
    //color: $text-01;

    //@include breakpoint(bp--sm--major) {
    color: $hover-secondary;
    //}
  }

  .#{$prefix}--tabs__nav-link {
    display: inline-block;
    color: $text-01;
    text-decoration: none;
    padding: $spacing-md $spacing-xs * 1.2;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;

    /*&:focus {
      outline: 1px solid transparent;
      background-color: $brand-01;
      color: $inverse-01;
    }*/

    //@include breakpoint(bp--sm--major) {
    //padding: 0 $spacing-3xs;
    //width: auto;

    &:focus {
      //background-color: transparent;
      color: $text-01;
      outline: 1px solid transparent;
      //box-shadow: 0 0 0 1px $brand-01;
    }

    &:hover {
      color: $brand-01;
    }

    //}
  }

  // Skeleton state
  .#{$prefix}--tabs.#{$prefix}--skeleton {
    pointer-events: none;
    cursor: default;
  }

  .#{$prefix}--tabs.#{$prefix}--skeleton .#{$prefix}--tabs__nav-link {
    @include skeleton;
    width: rem(75px);
    height: rem(12px);
  }

  .#{$prefix}--tabs.#{$prefix}--skeleton .#{$prefix}--tabs-trigger {
    @include skeleton;
    width: rem(100px);
  }

  .#{$prefix}--tabs.#{$prefix}--skeleton .#{$prefix}--tabs-trigger svg {
    @include hidden;
  }

  .#{$prefix}--tab-content {
    margin-top: $spacing-md;
  }
}
