@import '../../globals/scss/vars';
@import '../../globals/scss/theme';
@import '../../globals/scss/colors';
@import '../../globals/scss/typography';
@import '../../globals/scss/spacing';
@import '../../globals/scss/helper-mixins';

.color--list {
  display: flex;
  flex-wrap: wrap;
  width: 125%;
  > li {
    width: 31.333%;
    width: 22%;
    margin-right: 2%;
    margin-bottom: 2%;
    list-style-type: none;
  }
  h4 {
    margin: 0;
  }

  .wfp--story__sub-heading {
    font-size: 0.9em;
    margin-bottom: 0.5em;
  }

  p {
    font-weight: normal;
    font-style: italic;
    margin: 0;
    font-size: 0.9em;
  }
}

.color__item {
  display: flex;
  //  WebkitColumnBreakInside: 'avoid
  page-break-inside: avoid;
  break-inside: avoid-column;
  flex-wrap: wrap;
  height: 100%;
}

.colour__field {
  width: 100%;
  height: 8.5rem;
  margin-top: 0em;
  margin-right: 1em;
  border-radius: 3px 3px 0 0;
  box-shadow: inset 0 -2px 0 rgba(#000, 0.03);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.colour__contrast {
  text-align: center;
  margin: $spacing-xs;
  min-width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  > span {
    font-weight: 500;
  }
  &.colour__contrast--light {
    color: #fff;
  }
  > div {
    @include typescale('caption');
    font-size: 0.7rem;
    margin-top: $spacing-2xs;
    padding: $spacing-2xs;
    color: #fff;
    width: auto;
    background: rgba(#000, 0.7);
  }
}
