$css--reset: false;
@import '../../globals/scss/vars';
@import '../../globals/scss/spacing';
@import '../../globals/scss/helper-mixins';

.color--list {
  display: flex;
  flex-wrap: wrap;
  width: 80%;

  span {
    > li {
      // width: 31.333%;
      min-width: 100%;
      margin-right: 5%;
      margin-bottom: 5%;
      list-style-type: none;
      outline: none;
    }

    h4 {
      margin: 0;
    }

    .wfp--story__sub-heading {
      font-size: 0.9em;
      margin-bottom: 0.5em;
    }

    p {
      font-weight: normal;
      font-style: italic;
      margin: 0;
      font-size: 0.9em;
    }
  }
}

.color__item {
  display: flex;
  //  WebkitColumnBreakInside: 'avoid
  page-break-inside: avoid;
  break-inside: avoid-column;
  flex-wrap: wrap;
  height: 100%;
}

.colour__field {
  width: 100%;
  height: 8.5rem;
  margin-top: 0em;
  margin-right: 1em;
  border-radius: 3px 3px 0 0;
  box-shadow: inset 0 -2px 0 rgba(#000, 0.03);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 1rem;
}

.colour__contrast {
  text-align: center;
  margin: $spacing-xs;
  min-width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  > span {
    font-weight: 500;
  }
  &.colour__contrast--light {
    color: var(ui-01);
  }
  > div {
    @include typescale('caption');
    font-size: 0.7rem;
    margin-top: $spacing-2xs;
    padding: $spacing-2xs;
    color: var(ui-01);
    width: auto;
    background: rgba(#000, 0.7);
  }
}

.dodonot {
  display: flex;
  margin: 1rem 0;
  > div {
    width: 50%;
  }
}
