@import '../../globals/scss/vars';
@import '../../globals/scss/colors';
@import '../../globals/scss/typography';
@import '../../globals/scss/spacing';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/import-once';
@import '../../globals/scss/css--reset';

@include exports('user-icon') {
  .#{$prefix}--user {
    display: flex;
    align-items: center;
  }

  .#{$prefix}--user__icon {
    @include reset;
    width: rem(25px);
    height: rem(25px);
    border-radius: 50%;
    margin-right: rem(10px);
    .#{$prefix}--user--has-description & {
      width: rem(60px);
      height: rem(60px);
      margin-right: $spacing-lg;
      @include rtl {
        margin-left: $spacing-lg;
        margin-right: inherit;
      }
    }
    @include rtl {
      margin-left: rem(10px);
      margin-right: inherit;
    }
  }

  .#{$prefix}--user__icon--empty {
    border-radius: 50%;
    background-size: 100%;
    background-color: $color__navy-gray-7;
  }

  .#{$prefix}--user__description {
    @include typescale('delta');
    //color: $text-02;
  }

  .#{$prefix}--user__extended-description {
    margin-left: $spacing-lg;
    @include typescale('delta');
    //color: $text-02;
  }

  .#{$prefix}--user__title {
    > span {
      .#{$prefix}--user--has-description & {
        font-weight: bold;
        line-height: 1.4em;
      }
    }
  }

  .#{$prefix}--user__title--ellipsis {
    display: inline-block;
    max-width: 130px;
    overflow: hidden;
    line-height: 1.5;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .#{$prefix}--user__title--small {
    @include breakpoint(bp--md--major) {
      display: none;
    }
  }
}
