@import '../../globals/scss/vars';
@import '../../globals/scss/colors';
@import '../../globals/scss/typography';
@import '../../globals/scss/spacing';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/import-once';
@import '../../globals/scss/css--reset';
@import '../Form/form';

@include exports('info-bar') {
  .#{$prefix}--info-bar {
    background: $support-03;
    @include reset;
    display: flex;
    padding: 0.4em 0;
  }
}
