@import '../../globals/scss/vars';
@import '../../globals/scss/colors';
@import '../../globals/scss/typography';
@import '../../globals/scss/spacing';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/import-once';
@import '../../globals/scss/css--reset';
@import '../Form/form';

@include exports('sub-navigation') {
  .#{$prefix}--sub-navigation {
  }

  .#{$prefix}--sub-navigation {
    //margin-bottom: $spacing-lg;
  }

  .#{$prefix}--sub-navigation__header {
    width: 100%;
    padding: $spacing-md;
    background: $ui-03;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .#{$prefix}--sub-navigation__link {
    flex-grow: 1;
    @include breakpoint(bp--md--major) {
      margin-left: $spacing-md;
    }
  }

  .#{$prefix}--sub-navigation__title {
    //font-weight: bold;
      @include typescale('epsilon');
      @include font-smoothing;
      letter-spacing: 0;
      font-weight: 600;
      color: $text-01;
      @include breakpointMax(bp--md--major) {
        display: none;
      }
  }

  .#{$prefix}--sub-navigation__filter {
    display: flex;
    align-items: center;
    @include breakpointMax(bp--md--major) {
      width: 35%;
    }
  }

  .#{$prefix}--sub-navigation__content {
    padding: $spacing-md;
  }

  .#{$prefix}--sub-navigation__list {
    padding: $spacing-2xs 0;
  }

  .#{$prefix}--sub-navigation__group {
    padding: $spacing-2xs 0;
  }

  .#{$prefix}--sub-navigation__group--columns {
    @include breakpoint(bp--md--major) {
      >div {
        column-count: 4;
      }
    }
  }


  .#{$prefix}--sub-navigation__group__title {
    @include typescale('delta');
    margin-bottom: $spacing-2xs;
  }


  .#{$prefix}--sub-navigation__item {
    line-height: 1.6;
  }
}