@import '../../globals/scss/vars';
@import '../../globals/scss/theme';
@import '../../globals/scss/colors';
@import '../../globals/scss/typography';
@import '../../globals/scss/spacing';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/vendor/@wfp/import-once/scss/import-once';
@import 'mixins';
@import '../../globals/scss/css--reset';

@mixin button {
  // <button> elements cannot be used as flex containers
  button.#{$prefix}--btn {
    display: inline-block;
    line-height: initial;
  }

  // Reset intrisic padding in Firefox (see #731)
  button.#{$prefix}--btn::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  // Vertically center icon inside <button>
  button.#{$prefix}--btn .#{$prefix}--btn__icon {
    position: relative;
    vertical-align: middle;
    top: -1px;
    height: 1em;
    width: 1em;

    // Targets IE10+ browsers: Reset <svg> position for vertical centering
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      top: 0;
    }
  }

  button.#{$prefix}--btn--icon-reverse {
    .#{$prefix}--btn__icon {
      margin-left: 0;
      margin-right: $spacing-xs;
      @include rtl {
        margin-left: $spacing-xs;
        margin-right: 0;
      }
    }
  }

  a.#{$prefix}--btn--icon-reverse {
    display: inline-flex;
    flex-direction: row-reverse;

    .#{$prefix}--btn__icon {
      float: left;
      margin-left: 0;
      margin-right: $spacing-xs;
      @include rtl {
        margin-left: $spacing-xs;
        margin-right: 0;
      }
    }
  }

  a,
  button {
    &.#{$prefix}--btn--icon-only {
      padding: 0 $spacing-sm;

      .#{$prefix}--btn__icon {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  /* Standard syntax */

  .#{$prefix}--btn {
    @include button-base;
  }

  .#{$prefix}--btn--primary {
    @include button-theme(
      var(--interactive-01),
      transparent,
      var(--inverse-01),
      var(--interactive-02),
      var(--ui-01)
    );
  }

  .#{$prefix}--btn--accent {
    @include button-theme(
      var(--accent-01),
      transparent,
      var(--text-01),
      var(--accent-02),
      var(--text-01)
    );

    .#{$prefix}--btn__icon,
    &:hover > .#{$prefix}--btn__icon,
    &:focus > .#{$prefix}--btn__icon {
      fill: var(--text-01);
    }
  }

  @keyframes slidein {
    from {
      box-shadow: 0 0 0 0px rgba(var(--ui-05), 0.7);
    }

    to {
      box-shadow: 0 0 0 7px rgba(var(--ui-05), 0);
    }
  }

  .#{$prefix}--btn--animating {
    animation-duration: 0.5s;
    animation-name: slidein;
  }

  .#{$prefix}--btn--navigation {
    @include button-theme(
      saturate($color__main-40, 10%),
      transparent,
      var(--inverse-01),
      saturate(lighten($color__main-40, 5), 10%),
      var(--ui-01)
    );
  }

  .#{$prefix}--btn--secondary {
    @include button-theme(
      transparent,
      var(--interactive-01),
      var(--interactive-01),
      $hover-secondary,
      var(--interactive-01)
    );

    &:hover,
    &:focus {
      color: var(--inverse-01);
    }

    &:active {
      color: var(--interactive-01);
    }

    &:hover > .#{$prefix}--btn__icon,
    &:focus > .#{$prefix}--btn__icon {
      fill: var(--inverse-01);
    }

    &:hover:disabled,
    &:focus:disabled {
      color: var(--interactive-01);
    }
  }

  .#{$prefix}--btn--tertiary {
    @include button-theme(
      transparent,
      var(--text-02),
      var(--text-02),
      var(--ui-02),
      var(--text-02)
    );

    &:hover,
    &:focus {
      color: var(--text-01);
    }

    &:active {
      color: var(--ui-05);
    }

    &:hover:disabled,
    &:focus:disabled {
      color: var(--ui-05);
    }

    &:hover > .#{$prefix}--btn__icon,
    &:focus > .#{$prefix}--btn__icon {
      fill: var(--text-01);
    }
  }

  .#{$prefix}--btn--ghost {
    @include button-theme(
      transparent,
      transparent,
      var(--interactive-01),
      var(--ui-03),
      var(--ui-05)
    );

    &:hover,
    &:focus {
      //color: var(--inverse-01);

      .#{$prefix}--btn__icon {
        fill: var(--inverse-01);
      }
    }

    &:active {
      color: var(--ui-05);
    }

    .#{$prefix}--btn__icon {
      margin-left: $spacing-xs;
      @include rtl {
        margin-left: initial;
        margin-right: $spacing-xs;
      }
    }

    &:hover:disabled,
    &:focus:disabled {
      color: var(--interactive-01);

      .#{$prefix}--btn__icon {
        fill: var(--interactive-01);
      }
    }
  }

  .#{$prefix}--btn--inverse--primary {
    @include button-theme(
      var(--ui-01),
      var(--ui-01),
      var(--interactive-01),
      var(--ui-01),
      var(--text-01)
    );

    &:hover {
      color: var(--interactive-02);
      //border: $button-border-width solid var(--ui-01);
    }

    &:focus {
      background: var(--ui-01);
      color: var(--interactive-02);
    }

    &:hover:disabled,
    &:focus:disabled {
      color: var(--support-01);
      border: $button-border-width solid var(--support-01);
    }
  }

  .#{$prefix}--btn--inverse {
    @include button-theme(
      transparent,
      var(--ui-01),
      var(--ui-01),
      rgba(var(--ui-01), 0.1),
      var(--ui-01)
    );

    &:hover {
      color: var(--inverse-01);
      border: $button-border-width solid var(--ui-01);
    }

    &:focus {
      color: var(--inverse-01);
    }

    &:hover:disabled,
    &:focus:disabled {
      color: var(--support-01);
      border: $button-border-width solid var(--support-01);
    }
  }

  .#{$prefix}--btn--danger {
    @include button-theme(
      transparent,
      var(--support-01),
      var(--support-01),
      var(--support-01),
      var(--support-01)
    );

    &:hover {
      color: var(--inverse-01);
      border: $button-border-width solid transparent;
    }

    &:focus {
      color: var(--inverse-01);
    }

    &:active {
      color: var(--support-dark-01);
      border-color: var(--support-dark-01);
    }

    &:hover:disabled,
    &:focus:disabled {
      color: var(--support-01);
      border: $button-border-width solid var(--support-01);
    }

    &:hover > .#{$prefix}--btn__icon,
    &:focus > .#{$prefix}--btn__icon {
      fill: var(--inverse-01);
    }
  }

  .#{$prefix}--btn--danger--primary {
    @include button-theme(
      var(--support-01),
      transparent,
      var(--inverse-01),
      var(--support-dark-01),
      var(--ui-01)
    );

    &:hover:disabled,
    &:focus:disabled {
      color: var(--ui-01);
      border: $button-border-width solid var(--support-01);
    }
  }

  .#{$prefix}--btn--sm {
    @include letter-spacing;
    height: 1.8rem;
    padding: $button-padding-sm;
    @include typescale(zeta);
  }

  .#{$prefix}--btn--lg {
    height: 3.25rem;
    @include typescale(delta);
  }

  .#{$prefix}--btn--secondary + .#{$prefix}--btn--primary,
  .#{$prefix}--btn--tertiary + .#{$prefix}--btn--danger--primary {
    margin-left: $spacing-xs;
    @include rtl {
      margin-left: 0;
      margin-right: $spacing-xs;
    }
  }

  // Skeleton State
  .#{$prefix}--btn.#{$prefix}--skeleton {
    @include skeleton;
    width: rem(150px);
  }
}

@include exports('button') {
  @include button;
}
