//-----------------------------
// Grid.col
//-----------------------------

@import '../../globals/scss/colors';
@import '../../globals/scss/vars';
@import '../../globals/scss/layout';
@import '../../globals/scss/typography';
@import '../../globals/scss/helper-mixins';
@import '@carbon/import-once/scss/import-once';
@import '../../globals/scss/css--reset';

@include exports('grid-col') {
  .#{$prefix}--grid-col {
    height: 100%;
    box-sizing: border-box;
    -webkit-box-flex: 0;
  }
  .#{$prefix}--col--span-2,
  .#{$prefix}--col--lg--2 {
    @include column-span(2) // flex: 0 0 (1/6 * 100%);
      // max-width: (1/6 * 100%);
;
  }
  .#{$prefix}--col--span-3,
  .#{$prefix}--col--lg--3 {
    @include column-span(3) // flex: 0 0 (1/4 * 100%);
      // max-width: (1/4 * 100%);
;
  }
  .#{$prefix}--col--span-4,
  .#{$prefix}--col--lg--4 {
    @include column-span(4);
  }
  .#{$prefix}--col--span-5,
  .#{$prefix}--col--lg--5 {
    @include column-span(5);
  }
  .#{$prefix}--col--span-6,
  .#{$prefix}--col--lg--6 {
    @include column-span(6);
  }
  .#{$prefix}--col--span-7,
  .#{$prefix}--col--lg--7 {
    @include column-span(7);
  }
  .#{$prefix}--col--span-8,
  .#{$prefix}--col--lg--8 {
    @include column-span(8);
  }
  .#{$prefix}--col--span-9,
  .#{$prefix}--col--lg--9 {
    @include column-span(9);
  }
  .#{$prefix}--col--span-10,
  .#{$prefix}--col--lg--10 {
    @include column-span(10);
  }
  .#{$prefix}--col--span-11,
  .#{$prefix}--col--lg--11 {
    @include column-span(11);
  }
  .#{$prefix}--col--span-12,
  .#{$prefix}--col--lg--12 {
    @include column-span(12);
  }

  // 12 columns on medium(992) screen
  @include breakpointMax(bp--sm--major) {
    .#{$prefix}--col--md--2 {
      @include column-span(2);
    }

    .#{$prefix}--col--md--3 {
      @include column-span(3);
    }
    .#{$prefix}--col--span-4,
    .#{$prefix}--col--lg--4 {
      @include column-span(4);
    }

    .#{$prefix}--col--md--5 {
      @include column-span(5);
    }

    .#{$prefix}--col--md--6 {
      @include column-span(6);
    }

    .#{$prefix}--col--md--7 {
      @include column-span(7);
    }

    .#{$prefix}--col--md--8 {
      @include column-span(8);
    }

    .#{$prefix}--col--md--9 {
      @include column-span(9);
    }

    .#{$prefix}--col--md--10 {
      @include column-span(10);
    }

    .#{$prefix}--col--md--11 {
      @include column-span(11);
    }

    .#{$prefix}--col--md--12 {
      @include column-span(12);
    }
  }

  // 8 columns on small(768) screen
  @include breakpointMax(bp--sm--major) {
    .#{$prefix}--col--sm--2 {
      @include column-span(2, 8);
    }
    .#{$prefix}--col--sm--3 {
      @include column-span(3, 8);
    }
    .#{$prefix}--col--sm--4 {
      @include column-span(4, 8);
    }
    .#{$prefix}--col--sm--5 {
      @include column-span(5, 8);
    }
    .#{$prefix}--col--sm--6 {
      @include column-span(6, 8);
    }
    .#{$prefix}--col--sm--7 {
      @include column-span(7, 8);
    }
    .#{$prefix}--col--sm--8 {
      @include column-span(8, 8);
    }
  }

  // 8 columns on small(500) screen
  @include breakpointMax(bp--xs--major) {
    .#{$prefix}--col--xs--2 {
      @include column-span(2, 4);
    }
    .#{$prefix}--col--xs--3 {
      @include column-span(3, 4);
    }
    .#{$prefix}--col--xs--4 {
      @include column-span(4, 4);
    }
  }
}
