@import "./global";

body {
  //font-family: "Open Sans", Helvetica, sans-serif;

  font-family: "Open Sans", "-apple-system", "BlinkMacSystemFont",
    "San Francisco", "Helvetica Neue", "Helvetica", "Ubuntu", "Roboto", "Noto",
    "Segoe UI", "Arial", sans-serif;
  /*@include darkmode {
    color: #fff;
    background: $dark-bg;
  }*/
}
