<div class="wfp--theme-light wfp--theme-en">
  <div class="wfp--read-more wfp--read-more--max-height">
    <div class="wfp--read-more__content" style="max-height:50px">
      <div class="wfp--read-more__fake-height" style="height:30px"></div>
      <div>{{children}}</div>
    </div><a class="wfp--link wfp--read-more__trigger">{{expandText}}<svg fill-rule="evenodd" height="10" viewBox="0 0 10 5" width="10" aria-label="icon down" alt="icon down">
        <title>icon down</title>
        <path d="M0 0l5 4.998L10 0z"></path>
      </svg></a>
  </div>
</div>