.changelog {
  h1 {
    font-size: 1.3rem;
    margin-top: 1rem;
    &:first-child {
      display: none;
    }
  }
  h3 {
    margin-top: 1rem;
    font-size: 1rem;
  }
  ul {
    margin-left: 1.4rem;
    line-height: 1.8;
  }
  li {
    list-style-type: disc;
  }
}
