<div class="wfp--theme-light wfp--theme-en">
  <div class="radioButtonWrapper"><input type="radio" class="wfp--radio-button" id="id3" /><label for="id3" class="wfp--radio-button__label"><span class="wfp--radio-button__appearance"></span>{{labelText}}</label></div>
</div>