/*
@import './_mixins.scss';
@import './_vars.scss';
@import './animations/fade.scss';
@import './themes/light.scss';
@import './themes/light-border.scss';

@include exports('tooltip') {
  .#{$prefix}--tooltip {
    cursor: pointer !important;
    -webkit-tap-highlight-color: transparent;
    background: var(--ui-01);
    padding: $spacing-xs;
    &.#{$prefix}--tooltip--disable-padding {
      padding: 0;
    }
    &.#{$prefix}--tooltip--click {
      cursor: pointer;
    }
    &--trigger {
      cursor: pointer;
    }
  //   opacity: 0;
  // display: none;
    //transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    //transition-property: transform;
    cursor: pointer;
    max-width: 300px;
    border-radius: 7px;
    @include line-height('body');
    @include layer('pop-out');
    z-index: 1000;
    @include typescale('zeta');
    &[data-popper-placement*='bottom'] {
      .#{$prefix}--tooltip__arrow {
        top: 0;
        left: 0;
        margin-top: -4px;
      //   &::before {
      //   border-width: 0 1.5em 1em 1.5em;
      //   border-color: transparent transparent #232323 transparent;
      // }
      }
    }
    &[data-popper-placement*='top'] {
      .#{$prefix}--tooltip__arrow {
        bottom: 0;
        left: 0;
        margin-bottom: -4px;
        // &::before {
        // border-width: 1em 1.5em 0 1.5em;
        // border-color: #232323 transparent transparent transparent;
        // }
      }
    }
    &[data-popper-placement*='right'] {
      .#{$prefix}--tooltip__arrow {
        left: 0;
        margin-left: -4px;
      //   &::before {
      //   border-width: 1.5em 1em 1.5em 0;
      //   border-color: transparent #232323 transparent transparent;
      // }
      }
    }
    &[data-popper-placement*='left'] {
      .#{$prefix}--tooltip__arrow {
        right: 0;
        margin-right: -4px;
      //   &::before {
      //   border-width: 1.5em 0 1.5em 1em;
      //   border-color: transparent transparent transparent#232323;
      // }
      }
    }
  }

  .#{$prefix}--tooltip--dark {
    color: var(--inverse-01);
    background: var(--ui-06);
    .#{$prefix}--tooltip__arrow {
      &:before {
        background: var(--ui-06);
      }
    }
  }

  .#{$prefix}--tooltip--visible {
    opacity: 1;
    display: block;
  }

  .#{$prefix}--tooltip__arrow {
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: -1;
    &:before {
      content: '';
      transform: rotate(45deg);
      background: var(--ui-01);
      top: 0px;
      left: 0px;
      width: 10px;
      height: 10px;
      position: absolute;
      z-index: -1;
    }
  }
}

*/
