// Component: Breadcrumbs
// Project: WFPUI
// Author: Matthew Morek (me@matthewmorek.com)
// URL: http://matthewmorek.com
// Ref: http://cdn.wfp.org/brand/ui/patterns/breadcrumbs/

.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
  display: table;

  li {
    display: table-cell;
    border: 1px solid lighten($grey-1, 10%);
    border-left: none;
    position: relative;
    z-index: 1;
    font-size: 0.875em;
    line-height: 1.6;

    &:after {
      display: block;
      position: absolute;
      content: " ";
      background: #fff;
      width: 8px;
      height: 8px;
      border-right: 1px solid lighten($grey-1, 10%);
      border-top: 1px solid lighten($grey-1, 10%);
      right: -5px;
      top: 10px;
      @include transform(rotate(45deg));
      z-index: 10;
    }
    &:first-child {
      border-radius: 2px 0 0 2px;
      border-left: 1px solid lighten($grey-1, 10%);
    }
    &:last-child {
      border-radius: 0 2px 2px 0;
      padding: 0.25em 0.5em 0.25em 0.75em;
      color: $grey-2;
      cursor: default;
      &:after {
        display: none;
      }
    }
    a {
      padding: 0.5em 0.5em 0.5em 0.75em;
      width: auto;
      border: none;
      color: $grey-3;
      line-height: 1;
      &:hover {
        color: $primary;
      }
      &.home {
        padding-left: 0.25em 0.25em;
        img {
          width: 12px;
          height: 12px;
        }
      }
    }
  }
}
