// Component: Buttons
// Project: WFPUI
// Author: Matthew Morek (me@matthewmorek.com)
// URL: http://matthewmorek.com

%pure-button,
.pure-button,
a.pure-button {
  padding: 0.5em 1em;
  color: $grey-3;
  background-color: $grey-light;
  font-family: inherit;
  font-weight: bold;
  font-size: 100%;
  line-height: 1.5;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 2px;
  // @include box-shadow(rgba(0,0,0,0.1) 0 1px 3px, inset rgba(255,255,255,0.25) 0 1px 1px);
  -webkit-transition: all 0.1s ease-in;
  -moz-transition:    all 0.1s ease-in;
  transition:         all 0.1s ease-in;
  vertical-align: baseline;
  &:hover,
  &:focus {
    border-color: rgba(0,0,0,0.25);
    color: inherit;
    background-image: none;
    // @include box-shadow(rgba(0,0,0,0.15) 0 1px 8px, inset rgba(255,255,255,0.25) 0 1px 1px);
  }
  &:active {
    background-color: darken($grey-light, 5%);
  }

  /* Primary Button */
  &.primary {
    background-color: $primary;
    color: $white;
    // text-shadow: rgba(0,0,0,0.2) 0 1px 1px;
    &:active {
      background-color: darken($primary, 5%);
    }
  }

  /* Warning Button */
  &.warning {
    background-color: $red;
    color: lighten($red, 35%);
    &:active {
      background-color: darken($red, 5%);
    }
  }

  /* Attention Button */
  &.attention {
    background-color: $orange;
    color: darken($orange, 40%);
    &:active {
      background-color: darken($orange, 5%);
    }
  }

  /* Safe Button */
  &.safe {
    background-color: $green;
    color: darken($green, 35%);
    &:active {
      background-color: darken($green, 5%);
    }
  }

  /* Active Button */
  &.active,
  &:active,
  &.active:hover,
  &.active:active,
  &.active:focus {
    border-color: $grey-2;
    @include box-shadow(rgba(0,0,0,0.15) 0 0 8px inset);
  }

  /* Disabled Button */
  &[disabled],
  &.disabled,
  &.disabled:hover,
  &.disabled:focus,
  &.disabled:active {
    background-image: none;
    -khtml-opacity: 0.40;
    -moz-opacity: 0.40;
    opacity: 0.40;
    cursor: not-allowed;
    box-shadow: none;
    border: 1px solid $grey-1;
  }

  /* Transparent Button */
  &.transparent,
  &.transparent:hover,
  &.transparent:focus,
  &.transparent:active {
    // border: none;
    box-shadow: none;
    background-color: transparent;
  }

  /* Extra sizes and modes for buttons */
  &.xsmall {
    font-size: 0.875em;
    font-weight: normal;
    padding: 0.5em 0.75em;
    line-height: 1;
  }
  &.small {
    font-size: 1em;
    font-weight: normal;
    padding: 0.25em 0.75em;
  }
  &.large {
    font-size: 1.125em;
  }
  &.xlarge {
    font-size: 1.25em;
  }
  &.block {
    display: block;
    width: 100%;
  }
  &.flat {
    border: none;
    box-shadow: none;
  }

  + .pure-button {
    margin: 0 0.5em;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }

}