// Component: Navigation
// Project: WFPUI
// Author: Matthew Morek (me@matthewmorek.com)
// URL: http://matthewmorek.com

// -------------------
// Section Navigation (Sidebar)
// http://cdn.wfp.org/brand/ui/patterns/navigation/#section-nav
// -------------------
.side-nav {
  margin: 1em 0;
  text-align: left;

  .title {
    margin: 0;
    margin-bottom: 0.5em;
  }

  ul {
    display: block;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      position: relative;
      display: block;
      margin: 0;
      padding: 0;
      border: 1px solid $grey-1;

      a {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-transform: uppercase;
        padding: 0.5em 0.75em;
        color: $grey-3;
        line-height: 1.125em;

        &.active, &:active, &:hover {
          background-color: $grey-light;
        }
      }
    }

    &.level-0 {
      > li {
        border: none;
        > a {
          font-size: 1.25em;
          padding: 0.25em 0;
          font-weight: bold;
          margin-bottom: 0.25em;
          border-bottom: none;

          &:hover {
            color: $primary;
            background-color: transparent;
          }
          &.active {
            color: $text-color;
            background-color: transparent;
            border-bottom-color: $blue-2;
            box-shadow: none;
          }
        }
      }
    }

    &.level-1 {
      position: relative;
      padding: 0;

      li {
        margin-top: -1px;
      }

      a {
        font-weight: normal;
        box-shadow: none;
        border: none;
        text-transform: none;
      }

      .menu-group, a.menu-group {
        font-weight: bold;
        color: $grey-3;
        text-transform: uppercase;
        margin-top: 0.5em;
        margin-bottom: 0;
        padding: 0.25em 0.75em;

        &:hover {
          background-color: transparent;
          color: inherit;
          cursor: default;
        }
      }
    }

    &.level-2 {
      border: none;
      li {
        border: none;
      }
      a {
        box-shadow: none;
        font-size: 0.875em;
        background-color: $white;
        &:before {
          display: inline-block;
          width: 16px;
          content: '■';
        }
      }
    }
  }
  @include media-query($md-screen) {
    margin: 1em 0;
  }
}


// -------------------
// Generic List
// http://cdn.wfp.org/brand/ui/patterns/navigation/#generic
// -------------------
.sub-nav {
  background-color: #fff;
  top: 1em;
  width: 100%;
  text-align: left;

  .pure-menu {
    margin-bottom: 1em;
    border: none;
    & ul li {
      border: none;
    }
    & ul li a {
      color: $grey;
      border: 1px solid transparent;
      border-left: 0;
      border-right: 0;
      padding: 0.25em 1em;
      text-transform: none;
    }
    & .current a,
    & li a:hover {
      background-color: $grey-light;
    }

    &-heading {
      color: $grey;
      padding: ($spacing-unit / 8) ($spacing-unit / 2);
      margin-bottom: 0;
    }
  }
}


// ----------
// Edit Menu
// http://cdn.wfp.org/brand/ui/patterns/navigation/#edit-menu
// ----------
.edit-menu {
  .tabs {
    list-style: none;
    margin: 0;
    padding: 0;
    display: table;
    height: 32px;
    float: right;
    text-align: center;
    li {
      display: table-cell;
      border: 1px solid $grey-contrast;
      border-left: none;
      position: relative;
      z-index: 1;
      &.active {
        background-color: $grey-light;
      }
      &:first-child {
        border-radius: 2px 0 0 2px;
        border-left: 1px solid $grey-contrast;
      }
      &:last-child {
        border-radius: 0 2px 2px 0;
      }
      a {
        padding: 0.25em 0.75em;
        width: auto;
        border: none;
        color: $grey-2;
        font-size: 0.875em;
        display: block;
        &:hover {
          color: $primary;
        }
      }
    }
  }
}