<div class="wfp--content-switcher">
  <a href="" class="wfp--content-switcher-btn wfp--content-switcher--selected">First section</a>
  <a href="" class="wfp--content-switcher-btn">Second section</a>
  <a href="" class="wfp--content-switcher-btn">Third section</a>
</div>