// Typography: Headings
// Project: WFP UI

@mixin h--headline {
  @include lh-scale(0.75);
  @include margin(0.25rem 0);
  @include fs(3);

  @include media-query($md-screen) {
    @include lh-scale(0.75);
    @include fs(1);
    @include tracking(tight);
  }
}

@mixin h--tagline {
  @include lh-scale(0.875);
  @include margin(0.25rem 0);
  @include fs(6);

  @include media-query($md-screen) {
    @include mv(2);
    @include fs(4);
  }
}

@mixin h1 {
  @include lh-scale(0.75);
  @include font-size(2.25);
  @include margin(0.5rem 0);

  @include media-query($md-screen) {
    @include font-size(3);
    @include tracking(tight);
    @include lh-scale(0.66);
  }
}

@mixin h2 {
  @include font-size(2);
  @include lh-scale(0.75);
  @include margin(0.5rem 0);

  @include media-query($md-screen) {
    @include margin(0.25rem 0);
    @include lh-scale(0.875);
    @include font-size(2.5);
    letter-spacing: -0.025rem;
  }
}

@mixin h3 {
  @include font-size(1.75);
  @include margin(0.5rem 0);
  @include lh-scale(0.75);

  @include media-query($md-screen) {
    @include margin(0.25rem 0);
    @include lh-scale(0.875);
    @include font-size(2.25);
    letter-spacing: -0.025rem;
  }
}

@mixin h4 {
  @include margin(0.25rem 0);
  @include font-size(1.5);
  @include lh-scale(0.875);

  @include media-query($md-screen) {
    @include font-size(2);
  }
}

@mixin h5 {
  @include margin(0.25rem 0);
  @include font-size(1.33);
  @include lh-body;

  @include media-query($md-screen) {
    @include font-size(1.75);
  }
}

@mixin h6 {
  @include margin(0.25rem 0);
  @include font-size(1.125);
  @include lh-body;

  @include media-query($md-screen) {
    @include font-size(1.5);
  }
}
