// Typography: Headings
// Project: WFP UI
// Author: Matthew Morek (me@matthewmorek.com)
// URL: http://matthewmorek.com

@mixin h--headline {
  @include lh-scale(0.75);
  font-size: 1.75rem;
  margin: 0.25rem 0;

  @include media-query($md-screen) {
    // @include lh-scale(0.5);
    font-size: 3rem;
    letter-spacing: -0.05rem;
    margin: 0.5rem 0;
  }
}

@mixin h--tagline {
  @include lh-scale(0.875);
  font-size: 0.875rem;
  margin: 0.25rem 0;

  @include media-query($md-screen) {
    // @include lh-scale(1);
    font-size: 1.25rem;
  }
}

@mixin h1 {
  @include lh-scale(0.5);
  font-size: 3rem;
  letter-spacing: -0.05rem;
  margin: 0.5rem 0;
}

@mixin h2 {
  @include lh-scale(0.75);
  font-size: 2.5rem;
  letter-spacing: -0.025rem;
  margin: 0.25rem 0;
}

@mixin h3 {
  @include lh-scale(0.875);
  font-size: 2rem;
  margin: 0.25rem 0;
}

@mixin h4 {
  @include lh-scale;
  font-size: 1.75rem;
  margin: 0.25rem 0;
}

@mixin h5 {
  @include lh-scale;
  font-size: 1.5rem;
  margin: 0.25rem 0;
}

@mixin h6 {
  @include lh-scale;
  font-size: 1.25rem;
  margin: 0.25rem 0;
}

.h--headline    { @include h--headline; }
.h--tagline     { @include h--tagline; }
.h1             { @include h1; }
.h2             { @include h2; }
.h3             { @include h3; }
.h4             { @include h4; }
.h5             { @include h5; }
.h6             { @include h6; }
