// Typography: Headings
// Project: WFP UI
// Author: Matthew Morek (me@matthewmorek.com)
// URL: http://matthewmorek.com

@mixin h--headline {
  @include lh-scale(0.75);
  @include margin(0.25rem 0);
  @include fs(3);

  @include media-query($md-screen) {
    @include lh-scale(0.75);
    @include fs(1);
    @include tracking(tight);
  }
}

@mixin h--tagline {
  @include lh-scale(0.875);
  @include margin(0.25rem 0);
  @include fs(6);

  @include media-query($md-screen) {
    @include mv(2);
    @include fs(4);
  }
}

@mixin h1 {
  @include lh-scale(0.5);
  @include fs(1);
  @include tracking(tight);
  @include margin(0.5rem 0);
}

@mixin h2 {
  @include margin(0.25rem 0);
  @include lh-scale(0.75);
  font-size: 2.5rem;
  letter-spacing: -0.025rem;
}

@mixin h3 {
  @include lh-scale(0.875);
  @include margin(0.25rem 0);
  font-size: 2rem;
}

@mixin h4 {
  @include margin(0.25rem 0);
  @include lh-scale;
  font-size: 1.75rem;
}

@mixin h5 {
  @include margin(0.25rem 0);
  @include lh-scale;
  font-size: 1.5rem;
}

@mixin h6 {
  @include margin(0.25rem 0);
  @include lh-scale;
  font-size: 1.25rem;
}
