//-----------------------------
// Wrapper
//-----------------------------

@import '../../globals/scss/vars';
@import '../../globals/scss/colors';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/layout';
@import '../../globals/scss/typography';
@import '../../globals/scss/css--reset';
@import '../../globals/scss/css--typography';

@include exports('wrapper') {
  .#{$prefix}--wrapper {
    margin: auto;
    width: 100%;
    padding-left: $spacing-md;
    padding-right: $spacing-md;
    @include breakpoint(bp--md--major) {
      padding-left: $spacing-md;
      padding-right: $spacing-md;
    }
  }

  .#{$prefix}--wrapper--width-full {
    max-width: 100%;
  }

  .#{$prefix}--wrapper--width-lg {
    max-width: 1200px;
  }

  .#{$prefix}--wrapper--spacing-md {
    padding-top: $spacing-md;
    padding-bottom: $spacing-md;
  }

  .#{$prefix}--wrapper--spacing-xl {
    padding-top: $spacing-xl;
    padding-bottom: $spacing-xl;
  }

  .#{$prefix}--wrapper--background-lighter {
    background: $color__navy-gray-9;
  }

  .#{$prefix}--wrapper--background-dark {
    background: $color__main;
  }

  .#{$prefix}--wrapper--width-md {
    max-width: 1000px;
  }

  .#{$prefix}--wrapper--width-sm {
    max-width: 700px;
  }

  .#{$prefix}--wrapper--width-xs {
    max-width: 500px;
  }

  @include breakpointMax(bp--md--major) {
    .#{$prefix}--wrapper--width-mobile-full {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
