//-----------------------------
// Slider
//-----------------------------
/*
@import '../../globals/scss/vars';
@import '../../globals/scss/colors';
@import '../../globals/scss/spacing';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/layer';
@import '../../globals/scss/typography';
@import '../../globals/scss/layout';
@import '../../globals/scss/vendor/@unitednations/import-once/scss/import-once';
@import '../Form/form';
@import '../TextInput/text-input';

@include exports('slider') {
  .#{$prefix}--slider-container {
    max-width: rem(600px);
    min-width: rem(200px);
    order: 3;
    display: flex;
    align-items: center;
    user-select: none;
    &--full-width {
      width: 100%;
      max-width: inherit;
      .wfp--slider__range-wrapper {
        width: 100%;
      }
    }
  }

  .#{$prefix}--slider {
    position: relative;
    width: 100%;
    -webkit-appearance: none;
    border: none;

    &::-webkit-slider-runnable-track {
      width: 250px;
      height: 4px;
      background: var(--ui-04);
      transition: all 300ms $wfp--standard-easing;
      border: none;
      border-radius: 1px;
      cursor: pointer;
    }

    &::-moz-range-track {
      background: var(--ui-04);
      height: 4px;
      cursor: pointer;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      border: none;
      height: 1.5rem;
      width: 1.5rem;
      border-radius: 50%;
      background: var(--interactive-01);
      margin-top: -0.65rem;
      cursor: pointer;
      transition: transform 100ms $wfp--standard-easing,
        background 100ms $wfp--standard-easing;
    }
    &::-moz-range-thumb {
      -webkit-appearance: none;
      border: none;
      height: 1.5rem;
      width: 1.5rem;
      border-radius: 50%;
      background: var(--interactive-01);
      margin-top: -0.65rem;
      cursor: pointer;
      transition: transform 100ms $wfp--standard-easing,
        background 100ms $wfp--standard-easing;
    }

    &::-moz-range-progress {
      height: rem(4px);
      background: var(--interactive-01);
    }

    // IE
    &::-ms-fill-lower {
      height: rem(4px);
      background: var(--interactive-01);
    }

    &:hover {
      &::-webkit-slider-thumb {
        transform: scale(1.05);
      }
      &::-moz-range-thumb {
        transform: scale(1.05);
      }
    }
    &:hover:focus {
      &::-webkit-slider-thumb {
        @include focus-outline('blurred');
        transform: scale(1.25);
      }
      &::-moz-range-thumb {
        @include focus-outline('blurred');
        transform: scale(1.25);
      }
    }
    &:focus {
      outline: none;

      &::-webkit-slider-runnable-track {
        background: var(--ui-04);
      }

      // firefox
      &::-moz-range-track {
        background-color: var(--ui-04);
        overflow: hidden;
      }
    }
  }
  // prevent double line on firefox
  @-moz-document url-prefix() {
    .#{$prefix}--slider {
      margin-top: 4px;
    }
  }

  .#{$prefix}--slider__range-wrapper--disabled {
    .wfp--slider {
      background: transparent;
    }
    opacity: 0.5;
    background: transparent;
    .#{$prefix}--slider__track {
      cursor: default;
    }
    &:hover {
      &::-webkit-slider-thumb {
        transform: scale(1);
      }
      &::-moz-range-thumb {
        transform: scale(1);
      }
    }
  }

  .#{$prefix}--slider--disabled .#{$prefix}--slider__thumb {
    &:hover {
      transform: translate(-50%, -50%);
    }
    &:focus {
      box-shadow: none;
      outline: none;
    }
    &:active {
      background: var(--interactive-01);
      transform: translate(-50%, -50%);
    }
  }

  .#{$prefix}--slider__range-wrapper {
    position: relative;
    margin: 0 $spacing-md;
    height: 1.5rem;
  }

  .#{$prefix}--slider__range-label {
    @include typescale('zeta');
    color: var(--text-02);

    &:last-of-type {
      margin-right: $spacing-md;
    }
  }

  .#{$prefix}--slider__range-before {
    height: 3px;
    background: var(--interactive-01);
    position: absolute;
    top: 50%;
    transform: translateY(-1.5px);
    z-index: 1;
    pointer-events: none;
    @supports (-moz-appearance: none) {
      display: none;
    }
  }

  .#{$prefix}--slider__track {
    position: absolute;
    width: 100%;
    height: rem(4px);
    background: var(--ui-05);
    cursor: pointer;
    transform: translate(0%, -50%);
  }

  .#{$prefix}--slider__filled-track {
    position: absolute;
    width: 100%;
    height: rem(4px);
    background: var(--interactive-01);
    transform-origin: left;
    pointer-events: none;
    transform: translate(0%, -50%);
  }

  .#{$prefix}--slider__thumb {
    position: absolute;
    height: rem(24px);
    width: rem(24px);
    background: var(--interactive-01);
    border-radius: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    transition: transform 100ms $wfp--standard-easing,
      background 100ms $wfp--standard-easing;
    cursor: pointer;
    outline: none;

    &--clicked {
      transition: left $transition--base $wfp--standard-easing;
    }

    &:hover {
      transform: translate(-50%, -50%) scale(1.05);
    }
    &:focus {
      @include focus-outline('blurred');
    }
    &:active {
      background: var(--interactive-02);
      transform: translate(-50%, -50%) scale(1.25);
    }
  }

  .#{$prefix}--slider__input {
    display: none;
  }

  .#{$prefix}--slider-text-input {
    width: rem(60px);
    min-width: 0;
    height: 2rem;
    padding: 0;
    text-align: center;
    font-weight: 600;
    -moz-appearance: textfield;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      display: none;
    }
  }
}
*/
