//-----------------------------
// Link
//-----------------------------

@import '../../globals/scss/colors';
@import '../../globals/scss/vars';
@import '../../globals/scss/layout';
@import '../../globals/scss/typography';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/import-once';
@import '../../globals/scss/css--reset';

@include exports('item') {
  .#{$prefix}--item {
    padding: $spacing-lg;
    margin: 0;
    display: flex !important;
    background: var(--ui-02);
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &--section {
      padding: $spacing-xl 0;
      text-align: left;
      flex-direction: row;
      justify-content: space-between;
      h2 {
        @include typescale('epsilon');
      }
      p {
        opacity: 0.6;
        @include typescale('caption');
      }
      .#{$prefix}--empty__icon {
        margin-bottom: 1em;
        display: none;
        svg,
        .svg-inline--fa {
          width: 5rem;
          height: 5rem;
          path {
            fill: $interactive-01;
          }
          margin-bottom: $spacing-xs;
        }
      }
    }
    &--large {
      min-height: 17rem;
      padding: 2rem 0;
      height: 100%;
      width: 100%;

      > div {
        margin-top: 0rem;
      }

      h2 {
        margin-bottom: $spacing-xs;
      }

      p {
        color: var(--ui-05);
      }
      .#{$prefix}--item__button {
        margin-top: $spacing-md;
        .wfp--btn {
          margin: $spacing-2xs;
        }
      }
    }

    &--horizontal {
      padding: 1em;
      height: 100%;
      width: 100%;
      flex-direction: row;

      text-align: left;

      > div {
        margin-top: 0rem;
      }

      h2 {
        margin-bottom: $spacing-2xs;
        font-size: 1em;
        display: flex;
        justify-content: space-between;
      }

      p {
        color: var(--ui-05);
      }
      .#{$prefix}--item__button {
        .wfp--btn {
          margin: $spacing-2xs;
        }
      }
    }
    .#{$prefix}--item__content {
      flex: 1;
    }
    .#{$prefix}--item__right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      text-align: right;
    }
    .#{$prefix}--item__textwrapper {
      display: flex;
      justify-content: space-between;
    }
    .#{$prefix}--item__text {
      flex: 1;
      font-size: 0.9em;
    }
    .#{$prefix}--item__subtext {
      color: var(--text-02);
      margin-top: $spacing-2xs;
      font-size: 0.9em;
    }
    .#{$prefix}--item__icon {
      width: 5rem;
      margin-right: 1em;
      img {
        width: 100%;
      }
    }
  }

  .#{$prefix}--item__icon {
    svg,
    .svg-inline--fa {
      width: 5rem;
      height: 5rem;
      path {
        fill: $interactive-01;
      }
      margin-bottom: $spacing-xs;
    }
    .#{$prefix}--item--large & {
      padding: 0 2rem;
      //height: 100%;
      img {
        width: 35rem;
        max-width: 100%;
        max-height: 15rem;
        height: auto;
      }
      svg,
      .svg-inline--fa {
        width: 15rem;
        height: 15rem;
      }
      margin-bottom: $spacing-lg;
    }
  }
}
