//-----------------------------
// Link
//-----------------------------

@import '../../globals/scss/colors';
@import '../../globals/scss/vars';
@import '../../globals/scss/layout';
@import '../../globals/scss/typography';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/import-once';
@import '../../globals/scss/css--reset';

@include exports('item') {
  .#{$prefix}--item {
    padding: $spacing-lg;
    margin: 0;
    text-decoration: none;
    display: flex !important;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text-01);

    &--section {
      padding: $spacing-xl 0;
      text-align: left;
      flex-direction: row;
      justify-content: space-between;
      h2 {
        @include typescale('epsilon');
      }
      p {
        opacity: 0.6;
        @include typescale('caption');
      }
    }
    &--large {
      min-height: 17rem;
      padding: 2rem 0;
      height: 100%;
      width: 100%;
      .#{$prefix}--item__text-wrapper {
        flex-direction: column;
      }
      .#{$prefix}--item__image {
        width: 9em;
        margin-bottom: 1em;
      }
      .#{$prefix}--item__title-wrapper {
        justify-content: center;
      }
    }

    &--sidebar {
      cursor: pointer;
      border-bottom: 1px solid var(--ui-03);
      &.#{$prefix}--item--active {
        background: var(--ui-02);
      }
    }
    &--sidebar {
      cursor: pointer;
      border-bottom: 1px solid var(--ui-03);
      &.#{$prefix}--item--active {
        background: var(--ui-02);
      }
    }
    &--repeater {
      cursor: pointer;
      background: var(--ui-04);
      margin-bottom: 0.3em;
      &.#{$prefix}--item--active {
        background: var(--ui-04);
      }
    }
    &--button {
      padding: 1em;
      &:hover {
        background: var(--ui-02);
      }
    }
    &--horizontal {
      padding: 1em;
      width: 100%;
      flex-direction: row;

      text-align: left;

      > div {
        margin-top: 0rem;
      }

      .#{$prefix}--item__title-wrapper {
        justify-content: space-between;
      }
      .#{$prefix}--item__image {
        max-width: 5rem;
        margin-right: 0.8em;
      }

      p {
        color: var(--ui-05);
      }
      .#{$prefix}--item__button {
        .wfp--btn {
          margin: $spacing-2xs;
        }
      }
    }
    .#{$prefix}--item__content {
      flex: 1;
    }
    .#{$prefix}--item__title-wrapper {
      margin-bottom: 0; // $spacing-2xs;
      font-size: 1em;
      display: flex;
      //justify-content: center;

      align-items: center;
    }
    .#{$prefix}--item__additional {
      font-size: 0.9em;
      color: var(--text-02);
      margin-left: 1em;
    }
    .#{$prefix}--item__additional-image {
      font-weight: normal;
      height: 0.6em;
      width: auto;
      margin-left: 0.3em;
      path {
        fill: var(--text-02);
      }
    }
    .#{$prefix}--item__title {
      font-size: 1em;
    }
    .#{$prefix}--item__right {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      text-align: right;
      margin-left: 1em;
    }
    .#{$prefix}--item__text-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
    }
    .#{$prefix}--item__text {
      flex: 1;
      font-size: 0.85em;
      line-height: 1.5;
    }
    .#{$prefix}--item__sub-content {
      color: var(--text-02);
      //margin-top: $spacing-3xs;
      line-height: 1.3;
      font-size: 0.85em;
    }
  }

  .#{$prefix}--item__image {
    svg,
    .svg-inline--fa,
    img,
    video {
      margin: 0;
      display: block;
      width: 100%;
      height: auto;
    }
    .#{$prefix}--item--large & {
      width: 6rem;
      /*img {
        width: 35rem;
        max-width: 100%;
        max-height: 15rem;
        height: auto;
      }
      svg,
      .svg-inline--fa {
        width: 15rem;
        height: 15rem;
      }*/
      margin-bottom: $spacing-lg;
    }
  }
}
