@use 'scss/meta' as *;
/*
@mixin caption {
  font-size: 1.1em;
  display: block;
  width: 100%;
  font-style: italic;
  text-align: center;
  line-height: 1.75;
  margin-bottom: 2em;

  @include breakpoint-up(md) {
    max-width: calc(100% - 1em);
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
}
.caption {
  @include caption;
}
*/

.list {
}
