$css--reset: true;
$css--body: true;
//@use "./meta" as meta;

@use './intern.scss';

@use '@wfp/styles/scss/themes';
@use '@wfp/styles/scss/theme' /*with (
  $theme: meta.$carbon--theme--memo
)*/;

@use '@un/themes-core/dist/scss/default-css-theme' as defaulttheme;
@use '@un/themes-core/distDark/scss/default-css-theme' as darkTheme;

//@use "./dist/scss/default-css-theme" as memotheme;

@use '@wfp/styles/scss/reset';
@use '@wfp/styles/scss/components';

@use 'scss/meta' as *;

//@import "./global.scss";

//@import "~@wfp/react/src/globals/scss/colors";
//@import "~@wfp/react/src/globals/scss/vars";
//@import "~@wfp/react/src/globals/scss/layout";
//@import "~@wfp/react/src/globals/scss/_typography";

@import '@un/type/scss/font-face/mono';
@import '@un/type/scss/font-face/sans';
@import '@un/type/scss/font-face/serif';

@include open-sans-font-face();

:root {
  @include defaulttheme.theme-default();
  // @include memotheme.theme-default();
}

@mixin darkmode() {
  @media (prefers-color-scheme: dark) {
    @content;
  }
}

.wfp--theme--dark {
  @include darkTheme.theme-dark();
}

@mixin landscapeOnly() {
  @media (min-aspect-ratio: 8/5) {
    @content;
  }
}

.wfp--main-navigation {
  //background: #fff;
  color: $text-primary;
  font-size: 1.2em;
}

body {
  background: $background-main;
  color: $text-primary;
}

.wfp--main-navigation__list {
  height: 5em;
}

html {
  scroll-behavior: smooth;
}

.wfp--story {
  word-break: break-word;

  h2 {
    line-height: 1.3em;
  }
}

.wfp--main-navigation__item {
  .wfp--btn {
    display: flex;
    @include breakpoint-up(md) {
      display: none;
    }
    @include breakpoint-up(lg) {
      display: flex;
    }
    /*justify-content: center;
    align-items: center;
    height: 4rem;
    line-height: 4rem;*/
  }
}
@include breakpoint-down(md) {
  .wfp--main-navigation__trigger {
    border: none;
    background: $background-main !important;
  }

  .wfp--main-navigation__list {
    position: absolute;
    left: 0;
    padding: 0.5em 0 !important;
    height: auto;
    background: $background-main !important;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  }

  .wfp--main-navigation__list--open {
    z-index: 10000;
  }

  .wfp--main-navigation__logo-wrapper {
    padding: 0;
  }

  .wfp--wrapper {
    @include breakpoint-down(md) {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }
}

.prism-code {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace !important;
  border-radius: 6px;
  font-size: 0.9em;
  line-height: 1.6em;
  overflow: auto;
}
