@use '../../config' as *;
@use '../../spacing' as *;
@use '../../theme' as *;
@use '../../type' as *;
@use '../../breakpoint' as *;

@mixin footer_external {
  .#{$prefix}--footer-ext {
    background-color: #1a4262; // TODO: Use the token $background-brand-dark
    color: $text-on-color;
    padding: $spacing-07 $spacing-03;
  }

  .#{$prefix}--footer-ext__content {
    display: grid;
    gap: $spacing-07;
    grid-template-columns: 2fr 3fr;
    padding-bottom: $spacing-05;

    @include breakpoint-down(md) {
      grid-template-columns: 1fr;
    }
  }

  .#{$prefix}--footer-ext__content__corporate__logo {
    align-items: center;
    display: flex;
  }

  .#{$prefix}--footer-ext__content__corporate__logo__service {
    @include type-style('productive-heading-03');

    font-weight: 700; // TODO: Use the token
    margin-left: $spacing-07;
    text-transform: uppercase;
  }

  .#{$prefix}--footer-ext__content__corporate__address {
    @include type-style('body-short-01');

    margin-top: $spacing-05;
  }

  .#{$prefix}--footer-ext__content__corporate__social {
    @include type-style('body-short-01');

    margin-top: $spacing-06;
  }

  .#{$prefix}--footer-ext__content__corporate__social__list {
    display: flex;
    margin-top: $spacing-03;
  }

  .#{$prefix}--footer-ext__content__corporate__social__list__icon {
    & + .#{$prefix}--footer-ext__content__corporate__social__list__icon {
      margin-left: $spacing-03;
    }

    & a {
      cursor: pointer;
    }

    // [1] Remove a small gap at the bottom of the svg that extends the <a> height
    & svg {
      fill: $text-on-color;
      vertical-align: bottom; // [1]
    }
  }

  .#{$prefix}--footer-ext__content__links {
    display: grid;
    gap: $spacing-07;
    grid-template-columns: repeat(2, 1fr);

    @include breakpoint-down(md) {
      grid-template-columns: 1fr;
    }
  }

  .#{$prefix}--footer-ext__content__links__column__title {
    color: #36b5c5; // TODO: Use the token
    font-weight: 700; // TODO: Use the token
    text-transform: uppercase;
  }

  .#{$prefix}--footer-ext__content__links__column__nav-list {
    margin-top: $spacing-05;

    & > li {
      font-weight: 600; // TODO: Use the token

      & + li {
        margin-top: $spacing-04;
      }

      & > a {
        color: $text-on-color;

        &:hover {
          color: $text-on-color;
        }
      }
    }
  }

  .#{$prefix}--footer-ext__legal {
    @include type-style('body-short-01');

    border-top: 1px solid rgba(255, 255, 255, 0.3); // TODO: use token
    display: grid;
    gap: $spacing-03;
    grid-template-columns: 1fr max-content;
    padding-top: $spacing-05;

    @include breakpoint-down(md) {
      grid-template-columns: 1fr;
    }
  }

  .#{$prefix}--footer-ext__legal__nav__links {
    display: flex;
  }

  .#{$prefix}--footer-ext__legal__nav__links__link {
    & + .#{$prefix}--footer-ext__legal__nav__links__link {
      margin-left: $spacing-07;
    }

    & > a {
      color: $text-on-color;

      &:hover {
        color: $text-on-color;
      }
    }
  }
}
