//-----------------------------
// Modules
//-----------------------------

@import '../../globals/scss/vars';
@import '../../globals/scss/colors';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/layer';
@import '../../globals/scss/typography';
@import '../../globals/scss/import-once';
@import '../../globals/scss/css--reset';
@import '../../globals/scss/css--typography';

@include exports('story') {
  .#{$prefix}--story {
    @include reset;
    @include font-family;

    &__center {
      text-align: center;
    }

    &__full-height {
      min-height: 65vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    p {
      margin-top: $spacing-md;
      line-height: 1.6em;

      &:last-child {
        margin-bottom: 0;
      }
    }

    h2 {
      //margin: $spacing-lg 0;
      margin-top: $spacing-2xl;

      &.before--img {
        margin-bottom: 0;
      }
    }

    i {
      font-style: italic;
    }

    h3 {
      margin-top: $spacing-2xl;
    }

    h4 {
      margin-top: $spacing-md;
      @include typescale('epsilon');
    }

    sup {
      font-size: 0.7em;
      background: $ui-03;
      vertical-align: top;
      position: relative;
      top: -0.5em;

      > a {
        text-decoration: none;

        &:before {
          content: '[';
        }

        &:after {
          content: ']';
        }
      }
    }

    b {
      font-weight: 600;
    }

    /* All the line spacings */

    .#{$prefix}--blockquote {
      & + p,
      & + h3 {
        margin-top: $spacing-lg;
      }
    }

    p + .#{$prefix}--blockquote {
      margin-top: $spacing-sm;
    }

    p + h2 {
      margin-top: $spacing-2xl;
    }

    p + h3 {
      margin-top: $spacing-2xl;
    }

    h1 + h2 {
      margin-top: $spacing-lg;
    }

    h2 + h3 {
      margin-top: $spacing-lg;
    }

    p + ul,
    h3 + ul,
    h4 + ul {
      margin-top: $spacing-md;
    }

    h3 + p {
      margin-top: $spacing-sm;
    }

    button + p {
      margin-top: $spacing-sm;
    }

    div + h4,
    h3 + h4 {
      margin-top: $spacing-lg;
    }

    h4 + div {
      margin-top: $spacing-md;
    }

    h1 + .wfp--list,
    h2 + .wfp--list,
    h3 + .wfp--list,
    h4 + .wfp--list,
    h5 + .wfp--list {
      margin-top: $spacing-xs;
    }

    /*.wfp--list+h1,
    .wfp--list+h2,
    .wfp--list+h3,
    .wfp--list+h4,
    .wfp--list+h5 {
      margin-top: $spacing-lg;
    }*/

    h1 + iframe,
    h2 + iframe,
    h3 + iframe,
    h4 + iframe,
    h5 + iframe {
      margin-top: $spacing-xs;
    }

    iframe + h1,
    iframe + h2,
    iframe + h3,
    iframe + h4,
    iframe + h5 {
      margin-top: $spacing-md;
    }
  }

  .#{$prefix}--story__list {
    list-style-position: outside;
    line-height: 1.6em;
    margin: 1.5em 0 1.5em 1.5em;

    li {
      list-style-type: disc;
    }
  }

  .#{$prefix}--blockquote {
    p {
      margin: 0;
    }
  }

  .#{$prefix}--story__title {
    @include typescale('mega');
    font-weight: 300;
    margin-bottom: $spacing-xl;
    margin-left: -0.058em;
  }

  .#{$prefix}--story__content-title {
    @include typescale('alpha');
    font-weight: 300;
    margin-bottom: $spacing-lg;
    margin-left: -0.058em;
  }

  .#{$prefix}--story__sub-title {
    @include typescale('zeta');
    font-weight: normal;
    color: $interactive-01;
    margin-top: $spacing-xl;
    margin-bottom: $spacing-2xs;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.05em;
  }

  .#{$prefix}--story__sub-heading {
    @include typescale('zeta');
    font-weight: normal;
    color: $ui-05;
    margin-top: $spacing-2xs !important;
    margin-bottom: $spacing-2xs;
    font-style: italic;
    //text-transform: uppercase;
    font-weight: 400;

    //letter-spacing: 0.05em;
  }

  .#{$prefix}--story__type-beta {
    margin-bottom: $spacing-lg;
  }

  .#{$prefix}--markup {
    font-style: italic;
    @include typescale('delta');
    margin-bottom: $spacing-lg;
  }

  .#{$prefix}--inline-highlight {
    display: inline-block;
    font-weight: 600;
    background: $ui-03;
    padding: 0.05em 0.1em;
  }

  .#{$prefix}--story__divider {
    border: 1px solid $ui-04;
  }

  .#{$prefix}--story__divider--lg {
    border: 2px solid $ui-04;
  }
}
