<div class="wfp--theme-light wfp--theme-en">
  <div class="wfp--form-wizard">
    <div class="wfp--form-wizard__sidebar">
      <div>{{sidebarItems}}</div>
    </div>
    <div class="wfp--module--no-margin wfp--form-wizard__content wfp--module">
      <div class="wfp--module__inner">
        <div class="wfp--module__content">{{children}}</div>
      </div>
    </div>
  </div>
</div>