//-----------------------------
// Text
//-----------------------------

@import '../../globals/scss/vars';
@import '../../globals/scss/colors';
@import '../../globals/scss/css--reset';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/typography';
@import '../../globals/scss/spacing';
@import '../../globals/scss/import-once';
@import '../Form/form';

@include exports('text-input') {
  .#{$prefix}--text-input {
    @include reset;
    @include font-family;
    @include typescale('zeta');
    display: block;
    width: 100%;
    height: $input-height;
    min-width: 10rem;
    padding: 0 $spacing-xs;
    color: $text-01;
    appearance: none;
    background-color: $field-01;
    order: 2;
    border: $input-border;
    border-radius: $input-border-radius;

    &::-webkit-input-placeholder {
      @include placeholder-colors;
    }

    &:focus {
      @include focus-outline('border');
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &:disabled:hover {
      border: $input-border;
    }

    &:read-only {
      @include read-only('border');
    }
  }
}
