//-----------------------------
// Text
//-----------------------------

@import '../../globals/scss/vars';
@import '../../globals/scss/colors';
@import '../../globals/scss/css--reset';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/typography';
@import '../../globals/scss/spacing';
@import '../../globals/scss/import-once';
@import '../Form/form';

@include exports('text-input') {
  .#{$prefix}--text--required label::after {
    content: ' *';
    color: red;
  }
}
