@import 'vars';
@import 'css--reset';
@import 'typography';
@import './vendor/@wfp/import-once/scss/import-once';

@mixin css-helpers {
  .#{$prefix}--visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    visibility: visible;
    white-space: nowrap;
  }

  .#{$prefix}--body {
    @include reset;
    @include font-family;
    color: var(--text-01);
    background-color: var(--ui-02);
    line-height: 1;
  }
}

@include exports('css--helpers') {
  @if global-variable-exists('css--helpers') == false or $css--helpers == true {
    @include css-helpers;
  }
}
