@import '@carbon/import-once/scss/import-once';

@mixin tajawal-font-face {
  /* tajawal-200 - arabic */
  @font-face {
    font-family: 'Tajawal';
    font-style: normal;
    font-weight: 200;
    src: url('../assets/fonts/tajawal-v4-arabic-200.eot');
    src: local(''),
      url('../assets/fonts/tajawal-v4-arabic-200.eot?#iefix')
        format('embedded-opentype'),
      /* IE6-IE8 */ url('../assets/fonts/tajawal-v4-arabic-200.woff2')
        format('woff2'),
      /* Super Modern Browsers */
        url('../assets/fonts/tajawal-v4-arabic-200.woff') format('woff'),
      /* Modern Browsers */ url('../assets/fonts/tajawal-v4-arabic-200.ttf')
        format('truetype'),
      /* Safari, Android, iOS */
        url('../assets/fonts/tajawal-v4-arabic-200.svg#Tajawal') format('svg'); /* Legacy iOS */
  }
  /* tajawal-300 - arabic */
  @font-face {
    font-family: 'Tajawal';
    font-style: normal;
    font-weight: 300;
    src: url('../assets/fonts/tajawal-v4-arabic-300.eot'); /* IE9 Compat Modes */
    src: local('Tajawal Light'), local('Tajawal-Light'),
      url('../assets/fonts/tajawal-v4-arabic-300.eot?#iefix')
        format('embedded-opentype'),
      /* IE6-IE8 */ url('../assets/fonts/tajawal-v4-arabic-300.woff2')
        format('woff2'),
      /* Super Modern Browsers */
        url('../assets/fonts/tajawal-v4-arabic-300.woff') format('woff'),
      /* Modern Browsers */ url('../assets/fonts/tajawal-v4-arabic-300.ttf')
        format('truetype'),
      /* Safari, Android, iOS */
        url('../assets/fonts/tajawal-v4-arabic-300.svg#Tajawal') format('svg'); /* Legacy iOS */
  }
  /* tajawal-regular - arabic */
  @font-face {
    font-family: 'Tajawal';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/tajawal-v4-arabic-regular.eot'); /* IE9 Compat Modes */
    src: local('Tajawal Regular'), local('Tajawal-Regular'),
      url('../assets/fonts/tajawal-v4-arabic-regular.eot?#iefix')
        format('embedded-opentype'),
      /* IE6-IE8 */ url('../assets/fonts/tajawal-v4-arabic-regular.woff2')
        format('woff2'),
      /* Super Modern Browsers */
        url('../assets/fonts/tajawal-v4-arabic-regular.woff') format('woff'),
      /* Modern Browsers */ url('../assets/fonts/tajawal-v4-arabic-regular.ttf')
        format('truetype'),
      /* Safari, Android, iOS */
        url('../assets/fonts/tajawal-v4-arabic-regular.svg#Tajawal')
        format('svg'); /* Legacy iOS */
  }
  /* tajawal-500 - arabic */
  @font-face {
    font-family: 'Tajawal';
    font-style: normal;
    font-weight: 500;
    src: url('../assets/fonts/tajawal-v4-arabic-500.eot'); /* IE9 Compat Modes */
    src: local('Tajawal SemiBold'), local('Tajawal-SemiBold'),
      url('../assets/fonts/tajawal-v4-arabic-500.eot?#iefix')
        format('embedded-opentype'),
      /* IE6-IE8 */ url('../assets/fonts/tajawal-v4-arabic-500.woff2')
        format('woff2'),
      /* Super Modern Browsers */
        url('../assets/fonts/tajawal-v4-arabic-500.woff') format('woff'),
      /* Modern Browsers */ url('../assets/fonts/tajawal-v4-arabic-500.ttf')
        format('truetype'),
      /* Safari, Android, iOS */
        url('../assets/fonts/tajawal-v4-arabic-500.svg#Tajawal') format('svg'); /* Legacy iOS */
  }
  /* tajawal-700 - arabic */
  @font-face {
    font-family: 'Tajawal';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/tajawal-v4-arabic-700.eot'); /* IE9 Compat Modes */
    src: local('Tajawal Bold'), local('Tajawal-Bold'),
      url('../assets/fonts/tajawal-v4-arabic-700.eot?#iefix')
        format('embedded-opentype'),
      /* IE6-IE8 */ url('../assets/fonts/tajawal-v4-arabic-700.woff2')
        format('woff2'),
      /* Super Modern Browsers */
        url('../assets/fonts/tajawal-v4-arabic-700.woff') format('woff'),
      /* Modern Browsers */ url('../assets/fonts/tajawal-v4-arabic-700.ttf')
        format('truetype'),
      /* Safari, Android, iOS */
        url('../assets/fonts/tajawal-v4-arabic-700.svg#Tajawal') format('svg'); /* Legacy iOS */
  }
  /* tajawal-800 - arabic */
  @font-face {
    font-family: 'Tajawal';
    font-style: normal;
    font-weight: 800;
    src: url('../assets/fonts/tajawal-v4-arabic-800.eot'); /* IE9 Compat Modes */
    src: local('Tajawal ExtraBold'), local('Tajawal-ExtraBold'),
      url('../assets/fonts/tajawal-v4-arabic-800.eot?#iefix')
        format('embedded-opentype'),
      /* IE6-IE8 */ url('../assets/fonts/tajawal-v4-arabic-800.woff2')
        format('woff2'),
      /* Super Modern Browsers */
        url('../assets/fonts/tajawal-v4-arabic-800.woff') format('woff'),
      /* Modern Browsers */ url('../assets/fonts/tajawal-v4-arabic-800.ttf')
        format('truetype'),
      /* Safari, Android, iOS */
        url('../assets/fonts/tajawal-v4-arabic-800.svg#Tajawal') format('svg'); /* Legacy iOS */
  }
  /* tajawal-900 - arabic */
  @font-face {
    font-family: 'Tajawal';
    font-style: normal;
    font-weight: 900;
    src: url('../assets/fonts/tajawal-v4-arabic-900.eot'); /* IE9 Compat Modes */
    src: local(''),
      url('../assets/fonts/tajawal-v4-arabic-900.eot?#iefix')
        format('embedded-opentype'),
      /* IE6-IE8 */ url('../assets/fonts/tajawal-v4-arabic-900.woff2')
        format('woff2'),
      /* Super Modern Browsers */
        url('../assets/fonts/tajawal-v4-arabic-900.woff') format('woff'),
      /* Modern Browsers */ url('../assets/fonts/tajawal-v4-arabic-900.ttf')
        format('truetype'),
      /* Safari, Android, iOS */
        url('../assets/fonts/tajawal-v4-arabic-900.svg#Tajawal') format('svg'); /* Legacy iOS */
  }
}
