$css--body: true;
$css--reset: true;

// Importing the styles package, this can be either your own or the generic @un/styles.
@use '@wfp/styles-example/index';
// Importing the themes package, this can be either your own or the generic @un/themes.
@import '@wfp/themes/scss/themes';
/*
$carbon--theme: $carbon--theme--wfp;

// Use the WFP theme
:root {
  @include carbon--theme($carbon--theme--wfp, true) {
  }
}
*/
body {
  background: green;
  border: 30px solid blue !important;
}
