// ---------------------------------------------------------------------------
// Component: Breadcrumbs
// ---------------------------------------------------------------------------

.wfp-breadcrumbs {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.75;

  .breadcrumbs--wrapper {
    @include nolist;
  }

  .breadcrumbs--item {
    display: inline-block;
    border: 0;
    margin: 0;
    line-height: 1.25;

    &::after {
      content: "\203A";
      color: transparentize($grey, 0.1);
      font-size: 1.125rem;
      margin-left: 0.25rem;
      margin-right: 0.25rem;
      display: inline-block;
    }

    &:last-child {
      &::after {
        content: "";
        margin: 0;
      }
    }
  }

  .breadcrumbs--link {
    padding: 0;
    display: inline-block;
    color: darken($primary, 12%);
    border: 0;

    [class^="icon-"] {
      // Uncomment post-merge to `develop`
      // @include icon-size(xsmall);
      vertical-align: text-bottom;
      margin-right: 0.25rem;
      margin-bottom: 0;
    }

    &:hover {
      background-color: inherit;
      color: $primary;
      border-bottom: 1px solid $orange;
    }
  }
}

.wfp-breadcrumbs--dark {
  @extend .wfp-breadcrumbs;
  background-color: transparentize($black, 0.35);
  border-radius: 4px;
  color: $white;

  .breadcrumbs--wrapper {
    padding: 0.25rem 0.5rem;
  }

  .breadcrumbs--link {
    color: transparentize(lighten($primary, 0.25), 0.1);

    &:hover {
      color: transparentize(lighten($primary, 0.4), 0.1);
    }
  }
}
