// Component: Breadcrumbs
// Project: WFPUI
// Author: Matthew Morek (me@matthewmorek.com) / nuvole
// URL: http://matthewmorek.com

.wfp-breadcrumbs {
  @include seg-control;
  height: auto;
  margin: .25em 0;
  text-align: left;

  .breadcrumbs--item {
    @include seg-control--item;
    display: inline-block;
    border: 0;
    margin: 0;

    &::after {
      content: "\203A";
      color: $grey;
      font-size: 1.125em;
      margin-left: .5em;
      display: inline-block;
    }

    &:first-child {
      border-left: 0;
    }
  }

  .breadcrumbs--link {
    @include seg-control--link;
    padding: 0;
    font-weight: normal;
    display: inline-block;
    color: darken($primary, 12%);

    &.home {
      [class*="icon-"] {
        margin: 0;
      }

      svg {
        path {
          fill: $blue-dark;
        }
      }

      &:hover {
        background-color: inherit;
        color: $primary;
        border: 0;
      }

      &::after {
        margin-left: .25em;
      }
    }

    &:hover {
      background-color: inherit;
      color: $primary;
      border: 1px solid $blue;
    }
  }

.breadcrumbs--item.last {

  &::after {
    content: "";
  }

  span {
    @include seg-control--link;
    display: inline-block;
    padding: 0 0.4em 0 0;
    font-weight: normal;
    color: $grey-dark;
    cursor: default;

    &:hover {
      background-color: inherit;
      color: inherit;
    }
  }
}

  &-dark {
    @extend .wfp-breadcrumbs;
    background-color: transparentize($black, 0.5);
    border-radius: 4px;

    .breadcrumbs--last {
      color: $white;
    }
  }
}
