// Component: Flyout Navigation
// Project: WFPUI
// Author: Matthew Morek (me@matthewmorek.com)
// URL: http://matthewmorek.com

.header--btn {
  // -webkit-tap-highlight-color: $black;
  -webkit-touch-callout: none;
  user-select: none;
  border: 1px solid $white;
  background-color: transparent;
  color: $white;
  border-radius: 3px;
  padding: 0.25em 0.66em;
}

.flyout {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  max-height: 100%;
  max-width: 320px;
  padding: 0;
  padding-bottom: 2em;
  z-index: 10;
  text-align: left;
  box-shadow: rgba($black, 0.3) 0 1px 16px;
  background-color: $grey-darker;
  right: 0;
  top: 0;
  position: fixed;
  line-height: initial;
  overflow-y: auto;
  clip: auto;
  -webkit-overflow-scrolling: touch;

  .nav-close {
    display: block;
    background-color: $grey-darker;
    border: 1px solid $grey-lighter;
    border-radius: 3px;
    color: $white;
    font-size: 0.875rem;
    font-weight: bold;
    font-family: $sans-serif-stack;
    text-transform: uppercase;
    line-height: 1;
    padding: 0.33rem 0.5rem;
    float: right;
    margin-top: 0.66rem;
    margin-right: 0.66rem;
    // -webkit-tap-highlight-color: $black;

    .close-icon {
      margin-right: 0.5rem;
      background-color: $grey-darker;
    }

    &:hover {
      background-color: $white;
      border-color: $white;
      color: $grey-darker;

      .close-icon {
        background-color: $white;
      }
    }
  }

  &.closed {
    @include transition(transform, 0.25s, 0s, cubic-bezier(0.4, 0, 1, 1));
    transform: translate3d(320px, 0, 0);
  }

  &.opened {
    @include transition(transform, 0.25s, 0s, cubic-bezier(0.15, 1.23, 0.84, 1.04));
    transform: translate3d(0, 0, 0);
  }
}
