// Component: Navigation
// Project: WFPUI
// Author: Matthew Morek (me@matthewmorek.com)
// URL: http://matthewmorek.com

// -----------------------------------------------------------------------------
// Inline Navigation
// http://cdn.wfp.org/brand/ui/patterns/navigation/#inline-navigation
// -----------------------------------------------------------------------------
%inline-nav {
  @extend %no-list;
  display: table;
  height: 32px;
  text-align: center;
  .inline-nav--item {
    display: table-cell;
    border: 1px solid $grey-contrast;
    border-left: none;
    position: relative;
    z-index: 1;
    &.active {
      background-color: $grey-light;
    }
    &:first-child {
      border-radius: 2px 0 0 2px;
      border-left: 1px solid $grey-contrast;
    }
    &:last-child {
      border-radius: 0 2px 2px 0;
    }
  }
  .inline-nav--link {
    padding: 0.25rem 0.75rem;
    width: auto;
    border: none;
    color: $grey-2;
    font-size: 0.875rem;
    display: block;
    &:hover {
      color: $primary;
    }
  }
}

.inline-nav {
  @extend %inline-nav;
}