// Component: Navigation
// Project: WFPUI
// Author: Matthew Morek (me@matthewmorek.com)
// URL: http://matthewmorek.com

// -----------------------------------------------------------------------------
// Segmented Controls
// [docs-url]/components/navigation/#pagination
// -----------------------------------------------------------------------------
%pagination {
  text-align: center;
  margin: 1em 0;
}

%pagination--wrapper {
  display: inline;
  list-style: none;
  padding: 0;
  margin: 0;
}

%pagination--item {
  display: inline-block;
  border: 1px solid darken($grey-lighter, 10%);
  border-radius: 2px;
  text-decoration: none;

  &.ellipsis {
    border: 0;
    cursor: default;
  }

  &:hover {
    border-color: darken($primary, 12%);
  }

  &.active {
    border-color: darken($primary, 15%);
    cursor: default;

    .pagination--btn {
      background-color: darken($primary, 12%);
      color: $white;
    }
  }
}

%pagination--btn {
  display: block;
  padding: 0.35em 0.75em;
  width: auto;
  border: 0;
  color: darken($primary, 12%);
  font-size: 0.875em;
  font-weight: bold;
}

.wfp-pagination {
  @extend %pagination;

  .pagination--wrapper {
    @extend %pagination--wrapper;
  }

  .pagination--item {
    @extend %pagination--item;
  }

  .pagination--btn {
    @extend %pagination--btn;
  }
}
