// Component: Navigation
// Project: WFPUI
// Author: Matthew Morek (me@matthewmorek.com)
// URL: http://matthewmorek.com

// -----------------------------------------------------------------------------
// Segmented Controls
// [docs-url]/components/navigation/#pagination
// -----------------------------------------------------------------------------
%pagination {
  @include margin(1rem 0);
  @include ta(center);
}

%pagination--wrapper {
  @include padding(0);
  @include margin(0);
  display: inline;
  list-style: none;
}

%pagination--item {
  display: inline-block;
  border: 1px solid darken($grey-lighter, 10%);
  border-radius: 2px;
  text-decoration: none;

  &.ellipsis {
    border: 0;
    cursor: default;
  }

  &:hover {
    border-color: darken($primary, 12%);
  }

  &.active {
    border-color: darken($primary, 15%);
    cursor: default;

    .pagination--btn {
      background-color: darken($primary, 12%);
      color: $white;
    }
  }
}

%pagination--btn {
  @include fs(6);
  @include fw(700);
  @include padding(0.33rem 0.75rem);
  display: block;
  width: auto;
  border: 0;
  color: darken($primary, 12%);
}

.wfp-pagination {
  @extend %pagination;

  .pagination--wrapper {
    @extend %pagination--wrapper;
  }

  .pagination--item {
    @extend %pagination--item;
  }

  .pagination--btn {
    @extend %pagination--btn;
  }
}
