// Component: Navigation
// Project: WFPUI
// Author: Matthew Morek (me@matthewmorek.com)
// URL: http://matthewmorek.com

// -----------------------------------------------------------------------------
// Segmented Controls
// [docs-url]/components/navigation/#segmented-controls
// -----------------------------------------------------------------------------
%seg-control {
  @extend %no-list;
  display: inline-block;
  height: 2em;
  padding: 0;
  margin: 0;
  text-align: center;
}

%seg-control--item {
  display: table-cell;
  border: 1px solid darken($primary, 12%);
  border-left: 0;
  position: relative;
  z-index: 1;
  vertical-align: middle;

  &:first-child {
    border-radius: 2px 0 0 2px;
    border-left: 1px solid darken($primary, 12%);
  }

  &:last-child {
    border-radius: 0 2px 2px 0;
  }
}

%seg-control--link {
  padding: 0.33em 0.75em;
  width: auto;
  border: 0;
  color: darken($primary, 12%);
  font-size: 0.875em;
  font-weight: bold;
  display: block;

  [class*="icon-"] {
    width: 16px;
    height: 16px;
    background-size: 16px;
    vertical-align: text-bottom;
    margin: 0 0.25em;
  }

  &.active,
  &:hover {
    background-color: darken($primary, 12%);
    color: $white;
  }
}

.wfp-seg-control {
  @extend %seg-control;

  .seg-control--item {
    @extend %seg-control--item;
  }

  .seg-control--link {
    @extend %seg-control--link;
  }
}
