// Component: Navigation
// Project: WFPUI
// Author: Matthew Morek (me@matthewmorek.com)
// URL: http://matthewmorek.com

// -----------------------------------------------------------------------------
// Segmented Controls
// [docs-url]/components/navigation/#segmented-controls
// -----------------------------------------------------------------------------
@mixin seg-control {
  @include nolist;
  @include t-center;
  @include pa(0);
  display: inline-block;
  height: 2rem;
}

@mixin seg-control--item {
  display: table-cell;
  border: 1px solid darken($primary, 12%);
  border-left: 0;
  position: relative;
  z-index: 1;
  vertical-align: middle;

  &:first-child {
    border-radius: 2px 0 0 2px;
    border-left: 1px solid darken($primary, 12%);
  }

  &:last-child {
    border-radius: 0 2px 2px 0;
  }
}

@mixin seg-control--link {
  @include padding(0.4rem 0.75rem);
  @include fs(6);
  @include fw(700);
  width: auto;
  border: 0;
  color: darken($primary, 12%);
  display: block;

  [class*="icon-"] {
    @include mv(0);
    @include mh(1);
    width: 16px;
    height: 16px;
    background-size: 16px;
    vertical-align: text-bottom;
  }

  &.active,
  &:hover {
    background-color: darken($primary, 12%);
    color: $white;
  }
}

.wfp-seg-control {
  @include seg-control;

  .seg-control--item {
    @include seg-control--item;
  }

  .seg-control--link {
    @include seg-control--link;
  }
}
