//-----------------------------
// Modals
//-----------------------------

@import '../../globals/scss/vars';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/colors';
@import '../../globals/scss/spacing';
@import '../../globals/scss/layout';
@import '../../globals/scss/layer';
@import '../../globals/scss/typography';
@import '../../globals/scss/import-once';
@import '../../globals/scss/css--reset';
@import '../../globals/scss/css--typography';

@import './mixins';

@import '../Button/button';

@include exports('modal') {
  .#{$prefix}--modal {
    @include reset;
    @include font-family;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: z('hidden');
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    content: '';
    opacity: 0;
    //background-color: rgba(var(--ui-07), 0.5);
    background-color: var(--modal-background);
    transition: opacity 200ms, z-index 0s 200ms, visibility 0s 200ms;
    visibility: hidden;

    /*&.#{$prefix}--modal--tall {
      align-items: flex;
    }*/

    &.is-visible {
      z-index: z('modal');
      opacity: 1;
      transition: opacity 200ms;
      visibility: visible;
    }
  }

  .#{$prefix}--modal--danger {
    @include modal--color(var(--support-01));
  }

  .#{$prefix}--modal__wrapper {
    display: inline;
  }

  .#{$prefix}--modal-inner {
    max-height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .#{$prefix}--modal-container {
    @include reset;
    @include layer('pop-out');
    //box-shadow: 0 20px 30px -10px $box-shadow;
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--ui-01);
    //border-top: $modal-border-top;
    border-radius: $modal-border-radius;
    min-width: 100%;
    //max-height: 100%;
    height: 100%;
    padding: $spacing-xl 3% 0rem 3%;

    @include breakpoint(bp--sm--major) {
      height: auto;
      min-width: 500px;
      max-width: 75%;

      .#{$prefix}--modal--wide & {
        max-width: 100%;
        width: 100%;
        min-width: 768px;
      }

      //max-height: 90%;
      padding: $spacing-2xl $spacing-3xl 0 $spacing-3xl;
    }

    @media (min-width: 1024px) {
      max-width: 55%;
      //max-height: 100%;

      .#{$prefix}--modal--wide & {
        max-width: 90%;
      }
    }

    @media (min-width: 1600px) {
      max-width: 50%;
      //max-height: 100%;

      .#{$prefix}--modal--wide & {
        max-width: 80%;
      }
    }
  }

  .#{$prefix}--modal-header {
    margin-bottom: $spacing-lg;
    display: flex;
    justify-content: space-between;
  }

  .#{$prefix}--modal-header__label {
    @include reset;
    @include typescale('omega');
    color: var(--text-02);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-bottom: $spacing-xs;
  }

  .#{$prefix}--modal-header__heading {
    @include reset;
    @include typescale('beta');
    //font-weight: 300;
    //color: var(--text-01);
  }

  .#{$prefix}--modal-content {
    //overflow-y: auto;
    margin-bottom: $spacing-2xl;

    > * {
      @include reset;
    }
  }

  .#{$prefix}--modal-footer {
    margin-top: auto;
    text-align: right;
    background-color: $modal-footer-background-color;
    margin-left: rem(-24px);
    margin-right: rem(-24px);
    padding: $spacing-xl $spacing-xl;
    border-radius: 0 0 $modal-border-radius $modal-border-radius;
    .#{$prefix}--link + .#{$prefix}--btn {
      margin-left: $spacing-md;
    }

    @include breakpoint(bp--sm--major) {
      margin-left: rem(-48px);
      margin-right: rem(-48px);
      padding: $spacing-xl $spacing-3xl;
    }
  }

  .#{$prefix}--modal-close {
    position: absolute;
    top: rem(16px);
    right: rem(16px);
    padding: 0;
    overflow: hidden;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0.25rem 0.25rem 0.125rem;

    &:focus {
      @include focus-outline('border');
    }
  }

  .#{$prefix}--modal-close__icon {
    transition: 200ms;
    fill: var(--ui-05);
    width: rem(12px);
    height: rem(12px);
  }

  .#{$prefix}--modal--background-image {
    background-size: cover;
  }
}
