<div class="wfp--modal wfp--modal-tall is-visible some-class" id="some-id" role="presentation" tabindex="-1">
  <div role="dialog" class="wfp--modal-container">
    <div class="wfp--modal-header">
      <h4 class="wfp--modal-header__label">Optional label</h4>
      <h2 class="wfp--modal-header__heading">Modal heading</h2>
      <button class="wfp--modal-close" type="button">
        <img src="svg/close.svg" class="wfp--modal-close__icon" name="close" title="close the modal" />
      </button>
    </div>
    <div class="wfp--modal-content">
      <p class="wfp--modal-content__text">
        Please see ModalWrapper for more examples and demo of the functionality.
      </p>
    </div>
    <div class="wfp--modal-footer">
      <div class="wfp--modal__buttons-container">
        <button tabindex="0" class="wfp--btn wfp--btn--secondary" type="button">
          Secondary Button
        </button>
        <button tabindex="0" class="wfp--btn wfp--btn--primary" type="button">
          Primary Button
        </button>
      </div>
    </div>
  </div>
</div>