@use "scss/meta" as *;

.possibilities {
  //display: flex;
  margin: 3em auto;
  //padding: 1.2em;
  @include breakpoint-up(md) {
    margin: 5em -1.2em 8em;
    width: calc(100% + 2 * 1.2em);
  }

  > h3 {
    margin: 0;
    margin-bottom: 1em;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
    font-size: 2.2em;
    font-weight: 600;
  }
  h4 {
    font-weight: 600;
    font-size: 1.2em;
    @include breakpoint-up(md) {
      font-size: 1.5em;
    }
    margin-bottom: 0.5em;
  }
  p {
    font-size: 1em;
    @include breakpoint-up(md) {
      font-size: 1.2em;
    }
    line-height: 1.5;
  }
  .icon {
    font-size: 2em;
    margin-left: 0rem;
    margin-right: 1rem;
    width: 1.2em;
    text-align: center;
    color: $interactive;
    @include breakpoint-up(md) {
      font-size: 3em;
      margin-left: 1rem;
      margin-right: 2rem;
    }
  }
}
.content {
  flex: 1;
}
.container {
  display: flex;

  //background: $layer-primary;
  //border-radius: 10px;
  padding: 1.2em;
  //margin-bottom: 0.5em;
  /*&:first-child {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    .icon {
      color: #6a47d4;
    }
    a {
      color: #6a47d4;
    }
  }*/
  @include breakpoint-up(md) {
    margin-bottom: 0;
    padding: 1.5em;
  }
}

.possibilitiesWrapper {
  display: grid;

  column-gap: 0.5em;
  row-gap: 0.5em;
  @include breakpoint-up(md) {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1em;
    row-gap: 1em;
  }
}

.link {
  font-weight: 500;
}

.moreLink {
  display: inline-block;
  margin-top: 1.5rem;
  font-weight: 600;
}

.npmLink {
  margin-left: 0.5rem;
  color: #cc3534;
  &:hover {
    opacity: 0.7;
  }
}

.figmaLink {
  margin-left: 0.5rem;
  color: #6bceff;
  &:hover {
    opacity: 0.7;
  }
}
