$rt-namespace: 'Toastify';
$rt-toast-width: 320px !default;
$rt-toast-background: var(--ui-01) fff !default;
$rt-toast-min-height: 64px !default;
$rt-toast-max-height: 800px !default;

$rt-color-default: var(--ui-01) !default;
$rt-color-info: var(--interactive-01) !default;
$rt-color-success: var(--support-light-02) !default;
$rt-color-warning: var(--support-light-03) !default;
$rt-color-error: var(--support-light-01) !default;

$rt-text-color-default: var(--text-01) !default;

$rt-color-progress-default: linear-gradient(
  to right,
  var(--interactive-01),
  var(--interactive-01)
) !default;

$rt-mobile: 'only screen and (max-width : 480px)' !default;
$rt-font-family: sans-serif !default;
$rt-z-index: 9999 !default;
