//-----------------------------
// Tabs
//-----------------------------
/*
@import '../../globals/scss/vars';
@import '../../globals/scss/colors';
@import '../../globals/scss/spacing';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/layer';
@import '../../globals/scss/typography';
@import '../../globals/scss/layout';
@import '../../globals/scss/vendor/@wfp/import-once/scss/import-once';
@import '../../globals/scss/css--typography';

@include exports('form-controls') {
  .#{$prefix}--form-controls {
    @include breakpoint(bp--sm--major) {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    .#{$prefix}--btn {
      //margin-right: $spacing-xs;
    }
    .#{$prefix}--form-controls__submit {
      margin-right: 0;
    }

    @include breakpoint(bp--sm--major) {
      background: none;
    }
  }

  .wfp--form-controls__steps {
    @include breakpointMax(bp--sm--major) {
      margin-bottom: $spacing-xs;
    }
  }

  .#{$prefix}--form-controls__prev {
    display: inline-flex !important;
    flex-direction: row-reverse;
    .#{$prefix}--btn__icon {
      margin-left: 0;
      margin-right: 0.5em;
    }
  }
}
*/