// ==========================================================================
// WFP UI Docs Styles
// ==========================================================================

pre > code {
  background-color: initial;
}

figure {
  margin: 1rem 0;

  img {
    display: inline-block;
  }

  &.picture {
    text-align: center;
  }
}

.content-nav {
  width: 100%;
  margin-bottom: 1em;
  padding: 0.75rem 1rem;
  background-color: $grey-lightest;
  border-left: 6px solid $grey-light;
  border-radius: 2px;

  h4 {
    margin: 0;
    margin-bottom: 0.25rem;
    padding-bottom: 0.25rem;
    border-bottom: 1px solid $grey-lighter;
  }

  ol {
    margin: 0;
    padding: 0 0 0 1.25rem;
  }

  li {
    margin: 0;
  }
}

.section-title {
  margin-bottom: $spacing-unit / 4;
  padding-bottom: $spacing-unit / 4;
  border-bottom: 1px solid $grey;
}

.footer {
  .copyrights {
    h4 {
      font-size: 0.875rem;
      font-weight: normal;
    }
  }
  .site-owner {
    h4 {
      font-size: 0.875rem;
      text-align: center;
      @include media-query($md-screen) {
        text-align: right;
      }
    }
  }
}

/**
 * Custom Colour & Typography Grids
 */
.inline-grid {
  padding: 0;
  list-style: none;
  width: 100%;
  overflow: hidden;

  > li {
    text-align: center;
    overflow: hidden;
    margin-bottom: 0;
    background-color: $white;
  }

  .inline-item {
    width: 100%;
    height: 152px;
    line-height: 128px;
    font-size: 48px;
    border-bottom: 1px solid $grey-lightest;

    &.c- {
      &primary { background-color: $primary; }
      &secondary { background-color: $accent; }
      &text { background-color: $text-color; }
      &background { background-color: $white; }

      &blue-1 { background-color: $blue-lighter; }
      &blue-2 { background-color: $blue-light; }
      &blue-3 { background-color: $blue; }
      &blue-4 { background-color: $blue-dark; }
      &blue-5 { background-color: $blue-darker; }

      &grey-1 { background-color: $grey-lighter; }
      &grey-2 { background-color: $grey-light; }
      &grey-3 { background-color: $grey; }
      &grey-4 { background-color: $grey-dark; }
      &grey-5 { background-color: $grey-darker; }

      &red { background-color: $red; }
      &orange { background-color: $orange; }
      &yellow { background-color: $yellow; }
      &green { background-color: $green; }
    }
  }

  &.colours {
    .inline-item {
      height: 52px;
      border-bottom: 12px solid rgba(0,0,0,0.1);
    }
  }

  &.long {
    .inline-item {
      height: 112px;
    }
  }

  &.normal {
    border-radius: 3px;
    background-color: $grey-lightest;

    .block {
      text-align: left;
      overflow: visible;
      background-color: transparent;
      padding: ($spacing-unit / 3) ($spacing-unit / 2);
      > h6 {
        margin: 0;
      }
      > ul {
        list-style: square;
        margin: 0;
        > li {
          margin-bottom: 0;
        }
      }
    }
  }

  &.icons {
    position: relative;
    > li {
      position: relative;
      overflow: visible;
      margin: 0;
      .desc {
        height: auto;
        padding: 1em;
        line-height: 1em;
        font-size: 1em;
        cursor: default;
        border-bottom: none;
        border-top: 2px solid $grey-light;
        &.exposed {
          border-top: 2px solid $primary;
          position: absolute;
          background-color: $grey-light;
          width: 176px;
          top: 0;
          left: 0;
          padding: 1em;
          z-index: 1000;
          text-align: left;
        }
        img {
          width: 100%;
          max-width: 64px;
          margin-bottom: 1em;
        }
        > p {
          line-height: 1;
          text-transform: lowercase;
          margin-bottom: 0
        }
      }
    }
  }

  .desc {
    padding: 0.75em 0;
    > h4, p {
      font-size: 0.875em;
      margin: 0;
      color: $grey;
      line-height: 1.4;
      code {
        background-color: transparent;
        color: $grey;
        padding: 0;
      }
    }
    > h4 {
      color: $blue;
      font-weight: bold;
      text-transform: uppercase;
    }
    .desc-label {
      font-size: 0.875em;
      text-transform: lowercase;
    }
  }
}

.list-view {
  @extend %no-list;
  padding: 0;
  .item {
    margin: 0;
  }
  .desc {
    .desc-img {
      display: inline-block;
      padding: 1em;
      vertical-align: top;
      &.light {
        background-color: $grey-lightest;
      }
      &.dark {
        background-color: $grey-dark;
      }
    }
    .desc-label {
      display: inline-block;
      padding: 1rem;
      font-size: 0.875em;
      line-height: 1.5;
      text-transform: lowercase;
      vertical-align: top;
    }
  }
}

/**
 * Typography
 */
.sans {font-family: $sans-serif-stack;}
.serif {font-family: $serif-stack;}

.type-light {font-weight: 300;}
.type-medium {font-weight: 400;}
.type-medium-i {font-weight: 400; font-style: italic;}
.type-semi {font-weight: 600;}
.type-semi-i {font-weight: 600; font-style: italic;}
.type-bold {font-weight: 700;}
.type-bold-i {font-weight: 700; font-style: italic;}
.type-black {font-weight: 900;}
.type-black-i {font-weight: 900; font-style: italic;}

.type-sizes {
  margin: 2em 0;
  > .label {
    font-size: 16px;
    font-weight: bold;
    color: #184679;
    margin-bottom: 0;
  }
  > .example {
    margin-top: 0;
    margin-bottom: 0.5em;
  }
}


.preview {
  background-color: $grey-lightest;
  padding: 2rem 1rem;
  text-align: center;
  border-top: 2px solid $grey-lighter;
  border-bottom: 2px solid $grey-lighter;
  margin: 0.5rem 0;
  max-width: 100%;
  &.paragraph {
    padding: 0.5rem 1rem;
    text-align: left;
  }
  &.plain {
    background-color: $white;
  }
  &.simple {
    background-color: $white;
    text-align: left;
  }
  &.image {
    padding: 0;
    border: none;
    > img {
      max-width: 100%;
    }
  }
}

.notice {
  background-color: $grey-lightest;
  padding: 0.5rem 1rem;
  border-left: 6px solid $orange;
  border-radius: 2px;
  font-size: 1rem;
  line-height: 1.4;
  margin: 1rem 0;
  > * {
    margin: 0.25rem 0;
  }
}
