.side-nav {
  display: none;
  visibility: hidden;
  @include media-query($md-screen){
    display: inline-block;
    visibility: visible;
  }
}
.page-header {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.page-content {
  > h1, h2, h3, h4, h5, h6 {
    + p { margin-top: 0.25rem; }
  }
  > h3 {
    padding-bottom: $spacing-unit / 4;
    margin-bottom: $spacing-unit / 4;
    margin-top: $spacing-unit;
    border-bottom: 1px solid $grey-contrast;
  }
  > h4 {
    margin-bottom: 0.25rem;
  }
  > h5 {
    margin-bottom: 0.25rem;
  }
  > h6 {
    font-weight: bold;
    border-bottom: none;
    margin: 1rem 0 0.25rem 0;
  }
  > p + .inline-grid {
    margin: 2rem 0;
  }
}

