.page-content {
  > h1, h2, h3, h4, h5, h6 {
    + p { margin-top: 0.25em; }
  }

  > h3 {
    padding-bottom: 0.25em;
    margin-bottom: 0.25em;
    margin-top: 1em;
    border-bottom: 1px solid $grey-contrast;
    font-size: 1.5em;
    font-weight: bold;
  }

  > h4 {
    margin-bottom: 0.25em;
  }

  > h5 {
    margin-bottom: 0.25em;
  }

  > h6 {
    font-size: 1em;
    font-weight: bold;
    border-bottom: 0;
    margin: 1em 0 0.5em;
  }

  > p + .inline-grid {
    margin: 2em 0;
  }
}
