/*
@import '../../globals/scss/vars';
@import '../../globals/scss/colors';
@import '../../globals/scss/typography';
@import '../../globals/scss/spacing';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/vendor/@unitednations/import-once/scss/import-once';
@import '../../globals/scss/css--reset';
@import '../Form/form';

@include exports('react-select') {
  .#{$prefix}--react-select-container {
    width: 100%;
    order: 2;

    .#{$prefix}--react-select__control {
      border-radius: 0;
      min-height: $input-height;
      background-color: var(--field-01);
      border: $input-border;

      &:hover {
        border: $input-border;
      }
    }

    .#{$prefix}--react-select__single-value {
      overflow: visible;
    }

    .#{$prefix}--react-select__control--is-focused,
    .#{$prefix}--react-select__control--is-focused:hover {
      //border: $input-border;
      box-shadow: none;
      //border-color: red;
      @include focus-outline('border-important');
    }

    .#{$prefix}--react-select__control--is-disabled,
    .#{$prefix}--react-select__control--is-disabled:hover {
      opacity: 0.5;
      cursor: not-allowed;
    }

    .#{$prefix}--react-select__menu {
      margin-top: 2px;
      border-radius: 0;
      //box-shadow: none;
      box-shadow: 0px 2px 5px rgba(#000, 0.1);
      border: 1px solid var(--ui-04);
    }

    .#{$prefix}--react-select__option--is-focused {
      background: var(--ui-02);
    }

    .#{$prefix}--react-select__dropdown-indicator {
      color: var(--interactive-01);
    }
  }
}
*/
