@use '../form' as *;
@use '../../breakpoint' as *;
@use '../../config' as *;
@use '../../motion' as *;
@use '../../theme' as *;
@use '../../spacing' as *;
@use '../../type' as *;
@use '../../utilities/button-reset';
@use '../../utilities/component-reset';
@use '../../utilities/convert';


@mixin secondary-navigation{
  .#{$prefix}--secondary-navigation {
    background: $background;
    @include reset;
    display: flex;
    border-bottom: 2px solid $border-subtle;

    .#{$prefix}--tabs {
      margin-bottom: -2px;
      @media print {
        display: none;
      }
    }
  }

  .#{$prefix}--secondary-navigation__title {
    @include type-style('productive-heading-04');
    @include font-family('sans');
    font-weight: 400;
    padding-top: $spacing-05;
    padding-bottom: $spacing-05;
  }

  .#{$prefix}--secondary-navigation__wrapper {
    display: flex;

    @include breakpoint-down('sm') {
      flex-direction: column-reverse;
    }

    @include breakpoint('sm') {
      justify-content: space-between;
    }
  }

  .#{$prefix}--secondary-navigation__list {
    padding-top: $spacing-03;

    @include breakpoint('sm') {
      padding: $spacing-06 0 0 0;
    }
  }

  .#{$prefix}--secondary-navigation__additional {
    padding-top: $spacing-05;

    @include breakpoint('sm') {
      padding: $spacing-06 0 0 0;
    }
  }
}
