$css--body: true;
$css--reset: true;

@use '@wfp/styles/index';

@import '@wfp/themes/scss/themes';
//@import '@wfp/themes/scss/index.scss';

$carbon--theme: $carbon--theme--wfp;

// Use the WFP theme
:root {
  @include carbon--theme($carbon--theme--wfp, true) {
    // @include emit-component-tokens($tag-colors);
    // @include emit-component-tokens($notification-colors);
  }
}
