$css--body: true;
$css--reset: true;

@use '@wfp/styles/index';

@import '@wfp/themes/scss/themes';
//@import '@wfp/themes/scss/index.scss';

@import '../src/globals/scss/styles.scss';

$carbon--theme: $carbon--theme--g10;

// Use the gray 10 theme

:root {
  @include carbon--theme($carbon--theme--white, true) {
    // @include emit-component-tokens($tag-colors);
    // @include emit-component-tokens($notification-colors);
  }
}

body {
  border: 30px solid red;
}
