$css--body: true;
$css--reset: true;
@import '../src/globals/scss/styles.scss';

body {
  background: green;
}
.sb-show-main,
.sbdocs,
.sbdocs {
  list-style: disc;
}

.sbdocs.sbdocs-wrapper {
  background: var(--ui-01);
}

.sbdocs-preview {
  overflow: visible !important;
  background: var(--ui-01) !important;
  > div {
    > div {
      overflow: visible !important;
      position: inherit;
      justify-content: flex-end;
    }
  }
}

.sbdocs {
  .sbdocs-h1,
  .sbdocs-h2,
  .sbdocs-h3,
  .sbdocs-h4,
  .sbdocs-h5,
  .sbdocs-p {
    color: var(--text-01);
    code {
      color: var(--text-01);
      border-color: var(--ui-03);
      background: var(--ui-04);
    }
  }

  .sbdocs-p {
    font-size: 1rem;
  }
  .sbdocs-a {
    color: var(--interactive-01);
    line-height: inherit;
  }
  .sbdocs-li {
    font-size: 1rem;
  }
  .sbdocs-h1,
  .sbdocs-title {
    @extend .wfp--story__title;
  }
  .sbdocs-subtitle {
    @extend .wfp--story__subtitle;
    margin-top: 0;
  }

  .sbdocs-h2 {
    border-bottom: none;
  }

  .intro-description {
    .sbdocs-p {
      font-size: 1.2rem;
      font-size: 1.5rem;
      font-weight: 200;
    }
  }

  table {
    width: 100%;
  }

  &.sbdocs-wrapper {
    padding-top: 2rem;
  }
  &.sbdocs-content {
    width: 100%;
  }

  ol {
    line-height: 25.6px;
  }

  img {
    margin: 1rem 0;
    display: block;
  }
}
.docs-status {
  margin-top: -1.5rem;
  margin-bottom: 2rem;
}

.docs-divider {
  border: 0 none;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  height: 4px;
  padding: 0;
}

.table-of-content.wfp--list {
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  line-height: 1.8rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.storybook__fullWidth {
  width: 97vw;
  margin-left: calc((97vw - 100%) / -2);
  //margin-left: calc((-100vw - 100%) / 2);
}

.docblock-source {
  margin: 0 !important;
}

/*.sticky-preview {
  position: relative;
  z-index: 1;
}*/

/*.sbdocs-preview {
  > div:nth-child(2) {
    > div:nth-child(1) {
      position: relative;
      z-index: 1000;
    }
  }
}*/

/*
.sticky-preview-wrapper {
  display: flex;
  align-items: stretch;

  .docblock-argstable-head {
    display: none;
  }
  .docblock-argstable-body {
    td {
      display: block;
      width: 100% !important;
    }
  }
}



.sticky-preview {
  > div {
    height: 100%;
  }
  .sbdocs-preview {
    height: 100%;
    > div {
      height: 100%;
    }
  }
  .os-host {
    height: 100%;
  }
  //position: sticky !important;
  //top: -50px;
  //z-index: 100;
  min-width: 70%;
}*/

.color__interactive-01 {
  background: $interactive-01;
}

​.color__brand-01 {
  background: var(--brand-01);
}
.color__interactive-02 {
  background: $interactive-02;
}

.color__accent-01 {
  background: $accent-01;
}

// ​ .color__interactive-02 {
//   background: $interactive-02;
// }
​ .color__inverse-01 {
  background: $inverse-01;
}
​ .color__inverse-02 {
  background: $inverse-02;
}
​ .color__ui-01 {
  background: var(--ui-01);
}
​ .color__ui-02 {
  background: var(--ui-02);
}
​ .color__ui-03 {
  background: var(--ui-03);
}
​ .color__ui-04 {
  background: var(--ui-04);
}
​ .color__ui-05 {
  background: var(--ui-05);
}
​ .color__text-01 {
  background: var(--text-01);
}
​ .color__text-02 {
  background: var(--text-02);
}
​ .color__text-03 {
  background: var(--text-03);
}
.color__support-01 {
  background: var(--support-01);
}
.color__support-02 {
  background: var(--support-02);
}
.color__support-03 {
  background: var(--support-03);
}
​.color__field-01 {
  background: var(--field-01);
}
​ .color__field-02 {
  background: var(--field-02);
}
// .color__main {
//   background: $color__brand-01;
// }
​ .color__main-20 {
  background: $color__main-20;
}
​ .color__main-30 {
  background: $color__main-30;
}
​ .color__main-40 {
  background: $color__main-40;
}
​ .color__main-60 {
  background: $color__main-60;
}
​ .color__main-70 {
  background: $color__main-70;
}
​ .color__main-80 {
  background: $color__main-80;
}
​ .color__brand-01-20 {
  background: $color__brand-01-20;
}
​ .color__brand-01-30 {
  background: $color__brand-01-30;
}
​ .color__brand-01-40 {
  background: $color__brand-01-40;
}
​ .color__brand-01-60 {
  background: $color__brand-01-60;
}
​ .color__brand-01-70 {
  background: $color__brand-01-70;
}
​ .color__brand-01-80 {
  background: $color__brand-01-80;
}
​ .color__navy-20 {
  background: $color__navy-20;
}
​ .color__navy-30 {
  background: $color__navy-30;
}
​ .color__navy-40 {
  background: $color__navy-40;
}
​ .color__navy-60 {
  background: $color__navy-60;
}
​ .color__navy-70 {
  background: $color__navy-70;
}
​ .color__navy-80 {
  background: $color__navy-80;
}
​ .color__aqua-20 {
  background: $color__aqua-20;
}
​ .color__aqua-30 {
  background: $color__aqua-30;
}
​ .color__aqua-40 {
  background: $color__aqua-40;
}
​ .color__aqua-60 {
  background: $color__aqua-60;
}
​ .color__aqua-70 {
  background: $color__aqua-70;
}
​ .color__aqua-80 {
  background: $color__aqua-80;
}
​ .color__dark-green-20 {
  background: $color__dark-green-20;
}
​ .color__dark-green-30 {
  background: $color__dark-green-30;
}
​ .color__dark-green-40 {
  background: $color__dark-green-40;
}
​ .color__dark-green-60 {
  background: $color__dark-green-60;
}
​ .color__dark-green-70 {
  background: $color__dark-green-70;
}
​ .color__dark-green-80 {
  background: $color__dark-green-80;
}
​ .color__lime-20 {
  background: $color__lime-20;
}
​ .color__lime-30 {
  background: $color__lime-30;
}
​ .color__lime-40 {
  background: $color__lime-40;
}
​ .color__lime-60 {
  background: $color__lime-60;
}
​ .color__lime-70 {
  background: $color__lime-70;
}
​ .color__lime-80 {
  background: $color__lime-80;
}
​ .color__yellow-20 {
  background: $color__yellow-20;
}
​ .color__yellow-30 {
  background: $color__yellow-30;
}
​ .color__yellow-40 {
  background: $color__yellow-40;
}
​ .color__yellow-60 {
  background: $color__yellow-60;
}
​ .color__yellow-70 {
  background: $color__yellow-70;
}
​ .color__yellow-80 {
  background: $color__yellow-80;
}
​ .color__ochre-20 {
  background: $color__ochre-20;
}
​ .color__ochre-30 {
  background: $color__ochre-30;
}
​ .color__ochre-40 {
  background: $color__ochre-40;
}
​ .color__ochre-60 {
  background: $color__ochre-60;
}
​ .color__ochre-70 {
  background: $color__ochre-70;
}
​ .color__ochre-80 {
  background: $color__ochre-80;
}
​ .color__orange-20 {
  background: $color__orange-20;
}
​ .color__orange-30 {
  background: $color__orange-30;
}
​ .color__orange-40 {
  background: $color__orange-40;
}
​ .color__orange-60 {
  background: $color__orange-60;
}
​ .color__orange-70 {
  background: $color__orange-70;
}
​ .color__orange-80 {
  background: $color__orange-80;
}
​ .color__red-20 {
  background: $color__red-20;
}
​ .color__red-30 {
  background: $color__red-30;
}
​ .color__red-40 {
  background: $color__red-40;
}
​ .color__red-60 {
  background: $color__red-60;
}
​ .color__red-70 {
  background: $color__red-70;
}
​ .color__red-80 {
  background: $color__red-80;
}
​ .color__dark-red-20 {
  background: $color__dark-red-20;
}
​ .color__dark-red-30 {
  background: $color__dark-red-30;
}
​ .color__dark-red-40 {
  background: $color__dark-red-40;
}
​ .color__dark-red-60 {
  background: $color__dark-red-60;
}
​ .color__dark-red-70 {
  background: $color__dark-red-70;
}
​ .color__dark-red-80 {
  background: $color__dark-red-80;
}
​ .color__magenta-20 {
  background: $color__magenta-20;
}
​ .color__magenta-30 {
  background: $color__magenta-30;
}
​ .color__magenta-40 {
  background: $color__magenta-40;
}
​ .color__magenta-60 {
  background: $color__magenta-60;
}
​ .color__magenta-70 {
  background: $color__magenta-70;
}
​ .color__magenta-80 {
  background: $color__magenta-80;
}

/* Overflow fix for Safari */

.os-host.os-host-foreign {
  overflow: hidden !important;
}

.wfp--theme-rtl {
  direction: rtl;
}
