// Module: Base
// Project: WFP UI
// Author: Matthew Morek (me@matthewmorek.com)
// URL: http://matthewmorek.com

// Always hide an element when it has the `hidden` HTML attribute.
.hidden,
[hidden] {
    display: none !important;
}

// -----------------------------------------------------------------------------
// Typography
// -----------------------------------------------------------------------------
body {
  margin: 0;
  font-family: $sans-serif-stack;
  font-size: $base-font-size;
  font-weight: normal;
  line-height: $base-line-height;
  background-color: $background-color;
  color: $text-color;
}
// Headings
h1, h2, h3, h4, h5, h6 {
  font-family: $sans-serif-stack;
  font-weight: normal;
  color: $text-color;
  line-height: 1em;
}
h1 {
  font-size: 3.5rem;
  letter-spacing: -0.075rem;
}
h2 {
  font-size: 3rem;
  letter-spacing: -0.05rem;
}
h3 {
  font-size: 2.5rem;
  letter-spacing: -0.025rem;
}
h4 {
  font-size: 2rem;
}
h5 {
  font-size: 1.5rem;
}
h6 {
  font-size: 1rem;
}
p {
  margin: 1rem 0;
}

// Fluid image to fit a lfuid parent container while maintaining aspect ratio
img {
  max-width: 100%;
  height: auto;
  display: block;
}

// A better looking horizontal rule
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1rem 0;
  padding: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

// Allow only vertical resizeing of textareas
textarea {
  resize: vertical;
}

// Set vertical rhythm
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin: 1rem 0;
}

li {
  margin: 0.25rem 0;
}

