// Component: Buttons
// Project: WFPUI

// Additional colours
$color-twitter: #55acee;
$color-facebook: #3b5998;
$color-gplus: #dc4e41;

@mixin button($type: default, $color: $grey-dark) {
  transition: 0.1s border ease-in-out,
              0.1s background ease-in-out,
              0.1s color ease-in-out;
  display: inline-block;
  padding: 0.5rem 1rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 100%;
  line-height: 1.5rem;
  border: 1px solid transparentize($black, 0.85);
  border-radius: 3px;
  vertical-align: baseline;
  box-shadow: rgba($black, 0.20) 0 1px 3px;
  -webkit-appearance: none;

  // Active Button
  &.active,
  &:active,
  &.active:hover,
  &.active:active,
  &.active:focus {
    border-color: transparentize($black, 0.75);
    box-shadow: transparentize($black, 0.9) 0 0 8px inset;
  }

  > [class^="icon-"] {
    vertical-align: bottom;
    margin-right: 0.25rem;
    margin-left: -0.25rem;
  }

  @if $type == default {
    color: darken($primary, 12%);
    background-color: $white;
    border-color: darken($primary, 12%);

    &:hover {
      background-color: darken($primary, 12%);
      border-color: darken($primary, 12%);
      color: $white;
    }

    &.active,
    &:active,
    &.active:hover,
    &.active:active,
    &.active:focus {
      background-color: darken($blue-darker, 15%);
      border-color: darken($blue-darker, 15%);
      color: $white;
    }

    &.disabled:hover {
      background-color: $white;
      color: darken($primary, 12%);
    }

  } @else if $type == primary {
    color: $white;
    background-color: darken($primary, 12%);

    &:hover {
      color: $white;
      background-color: darken($primary, 20%);
      border-color: rbga($black, 0.25);
    }

    &.active,
    &:active,
    &.active:hover,
    &.active:active,
    &.active:focus {
      background-color: darken($primary, 20%);
      border-color: darken($primary, 25%);
      color: $white;
    }

  } @else if $type == hollow {
    color: $white;
    background-color: transparent;
    border: 2px solid $white;
    box-shadow: none;
    transition: 0.125s ease-in box-shadow,
                0.125s ease-in background,
                0.125s ease-in color;

    &:hover {
      color: darken($primary, 12%);
      background-color: $white;
      box-shadow: 0 1px 6px 0 rgba($black, 0.4);
    }

    &.active,
    &:active,
    &.active:hover,
    &.active:active,
    &.active:focus {
      color: $white;
      background-color: darken($primary, 12%);
    }

  } @else if $type == reverse {
    color: darken($primary, 12%);
    background-color: $white;
    border: 2px solid $white;
    transition: 0.125s ease-in box-shadow,
                0.125s ease-in background,
                0.125s ease-in color;

    &:hover {
      color: darken($primary, 25%);
      background-color: $blue-lightest;
      border-color: $blue-lightest;
      box-shadow: 0 1px 6px 0 rgba($black, 0.4);
    }

    &.active,
    &:active,
    &.active:hover,
    &.active:active,
    &.active:focus {
      color: darken($primary, 20%);
      background-color: $white;
      border: 2px solid $white;
    }

  } @else if $type == negative {
    color: $white;
    background-color: desaturate(darken($red, 15%), 40%);

    &:hover,
    &:active {
      background-color: desaturate(darken($red, 20%), 40%);
    }
  } @else if $type == warning {
    color: darken($orange, 50%);
    background-color: $orange;

    &:hover,
    &:active {
      background-color: darken($orange, 10%);
    }
  } @else if $type == positive {
    color: $white;
    background-color: darken($green, 7%);

    &:hover,
    &:active {
      background-color: darken($green, 10%);
    }
  } @else if $type == social {
    color: $color;
    background-color: transparent;
    border-color: $color;

    &:hover,
    &:active {
      border-color: darken($color, 10%);
      color: darken($color, 10%);
    }
  } @else if $type == head {
    color: $white;
    background-color: transparent;
    border-color: $white;

    &:hover,
    &:active {
      border-color: $orange;
      color: $orange;
    }
  }

  // Disabled Button
  &[disabled],
  &.disabled,
  &.disabled:hover,
  &.disabled:focus,
  &.disabled:active {
    background-image: none;
    opacity: 0.3;
    cursor: not-allowed;
    box-shadow: none;
    border: 1px solid transparentize($black, 0.85);
  }

  // Extra sizes and modes for buttons
  &.xsmall {
    font-size: 0.875rem;
    font-weight: normal;
    padding: 0.5rem 0.75rem;
    line-height: 1;
  }

  &.small {
    font-size: 1rem;
    font-weight: normal;
    padding: 0.35rem 0.75rem;
    line-height: 1.5;
  }

  &.large {
    font-size: 1.125rem;
    padding: 0.65rem 1rem;
    line-height: 1.5;
  }

  &.xlarge {
    font-size: 1.25rem;
    padding: 0.75rem 1.25rem;
    line-height: 1.5;
  }

  &.block {
    display: block;
    width: 100%;
  }

  &.flat {
    border: 0;
    box-shadow: none;
  }
}

a {
  &.wfp-btn {
    @include button;
  }
}

.wfp-btn {
  @include button;
}

.wfp-btn--primary {
  @include button(primary);
}

a {
  &.wfp-btn--primary {
    @include button(primary);
  }
}

.wfp-btn--hollow {
  @include button(hollow);
}

a {
  &.wfp-btn--hollow {
    @include button(hollow);
  }
}

.wfp-btn--reverse {
  @include button(reverse);
}

a {
  &.wfp-btn--reverse {
    @include button(reverse);
  }
}

.wfp-btn--negative {
  @include button(negative);
}

a {
  &.wfp-btn--negative {
    @include button(negative);
  }
}

.wfp-btn--positive {
  @include button(positive);
}

a {
  &.wfp-btn--positive {
    @include button(positive);
  }
}

.wfp-btn--warning {
  @include button(warning);
}

a {
  &.wfp-btn--warning {
    @include button(warning);
  }
}

// Social buttons
.wfp-btn--twitter {
  @include button(social, $color-twitter);
}

a {
  &.wfp-btn--twitter {
    @include button(social, $color-twitter);
  }
}

.wfp-btn--facebook {
  @include button(social, $color-facebook);
}

a {
  &.wfp-btn--facebook {
    @include button(social, $color-facebook);
  }
}

.wfp-btn--gplus {
  @include button(social, $color-gplus);
}

a {
  &.wfp-btn--gplus {
    @include button(social, $color-gplus);
  }
}

// Header buttons
.wfp-btn--head {
  @include button(head);
}

a {
  .wfp-btn--head {
    @include button(head);
  }
}
