// Component: Buttons
// Project: WFPUI
// Author: Matthew Morek (me@matthewmorek.com)
// URL: http://matthewmorek.com

// Additional colours
$color-twitter: #55acee;
$color-facebook: #3b5998;
$color-gplus: #dc4e41;

@mixin button($type: default, $color: $grey-dark) {
  display: inline-block;
  padding: 0.5em 1em;
  font-family: inherit;
  font-weight: bold;
  font-size: 100%;
  line-height: 1.5;
  border: 1px solid transparentize($black, 0.85);
  border-radius: 3px;
  transition-property: border, background, color;
  transition-duration: 0.1s;
  transition-timing-function: ease-in;
  vertical-align: baseline;

  // Active Button
  &.active,
  &:active,
  &.active:hover,
  &.active:active,
  &.active:focus {
    border-color: transparentize($black, 0.75);
    box-shadow: transparentize($black, 0.9) 0 0 8px inset;
  }

  @if $type == default {
    color: darken($primary, 12%);
    background-color: $white;
    border-color: darken($primary, 12%);

    &:hover {
      background-color: $blue-lightest;
      border-color: darken($primary, 20%);
      color: darken($primary, 20%);
    }

    &.active,
    &:active,
    &.active:hover,
    &.active:active,
    &.active:focus {
      border-color: darken($blue-darker, 20%);
      color: darken($blue-darker, 20%);
    }
  } @else if $type == primary {
    color: $white;
    background-color: darken($primary, 12%);

    &:hover,
    &:active {
      background-color: darken($primary, 20%);
    }
  } @else if $type == negative {
    color: $white;
    background-color: desaturate(darken($red, 15%), 40%);

    &:hover,
    &:active {
      background-color: desaturate(darken($red, 20%), 40%);
    }
  } @else if $type == warning {
    color: darken($orange, 50%);
    background-color: $orange;

    &:hover,
    &:active {
      background-color: darken($orange, 10%);
    }
  } @else if $type == positive {
    color: $white;
    background-color: darken($green, 7%);

    &:hover,
    &:active {
      background-color: darken($green, 10%);
    }
  } @else if $type == social {
    color: $color;
    background-color: transparent;
    border-color: $color;

    &:hover,
    &:active {
      border-color: darken($color, 10%);
      color: darken($color, 10%);
    }
  } @else if $type == head {
    color: $white;
    background-color: transparent;
    border-color: $white;

    &:hover,
    &:active {
      border-color: $orange;
      color: $orange;
    }
  }

  // Disabled Button
  &[disabled],
  &.disabled,
  &.disabled:hover,
  &.disabled:focus,
  &.disabled:active {
    background-image: none;
    opacity: 0.3;
    cursor: not-allowed;
    box-shadow: none;
    border: 1px solid transparentize($black, 0.85);
  }

  // Extra sizes and modes for buttons
  &.xsmall {
    font-size: 0.875em;
    font-weight: normal;
    padding: 0.5em 0.75em;
    line-height: 1;
  }

  &.small {
    font-size: 1em;
    font-weight: normal;
    padding: 0.33em 0.75em;
  }

  &.large {
    font-size: 1.125em;
    padding: 0.66em 1em;
  }

  &.xlarge {
    font-size: 1.25em;
    padding: 0.75em 1.25em;
  }

  &.block {
    display: block;
    width: 100%;
  }

  &.flat {
    border: 0;
    box-shadow: none;
  }

  &[class*="wfp-btn"]:nth-of-type(1n+0) {
    margin: 0 0.5em;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

a[class*="wfp-btn"] {
 //
}

.wfp-btn {
  @include button;
}

.wfp-btn--primary {
  @include button(primary);
}

.wfp-btn--negative {
  @include button(negative);
}

.wfp-btn--positive {
  @include button(positive);
}

.wfp-btn--warning {
  @include button(warning);
}

// Social buttons
.wfp-btn--twitter {
  @include button(social, $color-twitter);
}

.wfp-btn--facebook {
  @include button(social, $color-facebook);
}

.wfp-btn--gplus {
  @include button(social, $color-gplus);
}

// Header buttons
.wfp-btn--head {
  @include button(head);
}
