// Component: Forms
// Project: WFPUI
// Author: Matthew Morek (me@matthewmorek.com)
// URL: http://matthewmorek.com

// Content-aware input type hint template
%input-tip {
  position: absolute;
  z-index: 1;
  right: 10px;
  top: 0.875rem;
  display: block;
  height: 16px;
  pointer-events: none;
  font-size: 0.75rem;
  color: $grey-light;
  text-align: right;
}

// Box-like input template for radios and checkboxes
%inputbox {
  display: inline-block;
  appearance: none;
  vertical-align: middle;
  border: 1px solid $grey-light;
  background-color: #fff;
  margin-right: 0.5rem;
  margin-bottom: 4px;
  width: 18px;
  height: 18px;
  padding: 3px;
  &.disabled,
  &:disabled
  &[disabled] {
    opacity: 0.4;
    cursor: not-allowed;
  }
  &:focus {
    outline: thin dotted $grey-light;
    outline: 1px auto $blue-lighter;
  }
}

@mixin input($type) {
  @if $type == common {
    appearance: none;
    display: inline-block;
    padding: 0.5rem;
    font-family: $sans-serif-stack;
    border: 1px solid $grey-light;
    border-radius: 1px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
    font-size: 100%;
    line-height: 1.5;
    vertical-align: baseline;
    transition: 0.3s linear border;
    &:focus {
      outline: 0;
      outline: thin dotted \9; /* IE6-9 */
      border-color: $blue-light;
      &:invalid {
        border-color: $orange;
        &:focus {
          border-color: $orange;
        }
      }
    }
    &:required:invalid,
    &.invalid {
      margin-bottom: -1px;
      border-color: $orange;
      + .error {
        border-radius: 0 0 2px 2px;
      }
    }
    &.valid {
      border-color: $green;
    }
    &[disabled],
    &:disabled {
      cursor: not-allowed;
      opacity: 0.4;
    }
    &[readonly] {
      // Read-only state
      background: $grey-lightest;
      color: $grey-lighter;
      border-color: $grey-lighter;
    }
  } @else if $type == checkbox {
    @extend %inputbox;
    border-radius: 2px;
    &:checked {
      border-color: $accent;
      background-color: $primary;
    }
  } @else if $type == radio {
    @extend %inputbox;
    border-radius: 32px;
    &:checked {
      background-color: $white;
      border-color: $primary;
      border-width: 4px;
      background-color: $white;
    }
  } @else if $type == label {
    display: block;
    margin: 0.75rem 0 0.25rem;
    font-size: 100%;
    line-height: 1.5;
    vertical-align: baseline;
  } @else if $type == select {
    appearance: none;
    display: inline-block;
    padding: 0.4rem 0.75rem;
    padding-right: 2.25rem;
    font-family: $sans-serif-stack;
    border: 1px solid $grey-light;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    font-size: 100%;
    line-height: 1.5;
    vertical-align: baseline;
    transition: 0.3s linear border;
    position: relative;
    &:focus {
      outline: 0;
      outline: thin dotted \9; /* IE6-9 */
      border-color: $blue-light;
    }
    &[disabled],
    &:disabled {
      cursor: not-allowed;
      opacity: 0.4;
    }
    &[readonly] {
      // Read-only state
      background: $grey-light;
      color: $grey-light;
      border-color: $grey-light;
    }
    &[multiple] {
      height: auto;
    }
  } @else if $type == textarea {
    appearance: none;
    display: block;
    width: 100%;
    min-height: 8em;
    padding: 0.5rem 0.75rem;
    font-size: 100%;
    font-family: $sans-serif-stack;
    border: 1px solid $grey-light;
    border-radius: 1px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
    line-height: 1.562;
    vertical-align: baseline;
    transition: 0.3s linear border;
    &.small {
      max-width: 262px; min-height: 6em;
    }
    &.large {
      max-width: 424px; min-height: 10em;
    }
    &:focus {
      outline: 0;
      outline: thin dotted \9; /* IE6-9 */
      border-color: $blue-light;
      &:invalid {
        border-color: $orange;
        &:focus {
          border-color: $orange;
        }
      }
    }
    &:required:invalid,
    &.invalid {
      margin-bottom: -1px;
      border-color: $orange;
      + .error {
        border-radius: 0 0 2px 2px;
      }
    }
    &.valid {
      border-color: $green;
    }
    &[disabled],
    &:disabled {
      cursor: not-allowed;
      opacity: 0.4;
    }
    &[readonly] {
      // Read-only state
      background: $grey-lightest;
      color: $grey-lighter;
      border-color: $grey-lighter;
    }
  }
}

%wfp-form,
.wfp-form {
  margin: 1rem 0;
  // All common elements
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="url"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="week"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="color"],
  input:not([type]) { @include input(common); }
  // Fieldset
  fieldset {
    margin: 0;
    padding: 0.25rem 0 0.75rem;
    border: 0;
  }
  legend {
    display: block;
    width: 100%;
    padding: 0.5rem 0;
    margin-bottom: 0.25rem;
    color: $text-color;
    border-bottom: 1px solid $grey-light;
  }
  // Labels
  label {
    @include input(label);
    ~ label {
      margin: 0.25rem 0;
    }
  }
  // Select boxes
  select { @include input(select); }
  // Checkboxes and radios
  input {
    &[type="checkbox"] { @include input(checkbox); }
    &[type="radio"] { @include input(radio); }
  }
  // Textarea
  textarea {
    @include input(textarea);
  }

  .error {
    color: darken($orange, 40%);
    display: inline-block;
    background-color: $orange;
    padding: 0.25rem 0.5rem;
    margin: 0;
    font-size: 0.875rem;
  }
}

.wfp-form--stacked {
  @extend %wfp-form;
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="url"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="week"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="color"],
  input:not([type]),
  textarea,
  select {
    display: block;
    margin: 0.25rem 0 0.75rem;
    width: 100%;
  }
}

.wfp-form--group {
  padding: 1rem 0;
}
.wfp-form--actions {
  padding: 1rem 0;
}
.wfp-form--msg {
  display: inline-block;
  margin: 0.25rem 1rem;
  font-size: 0.875rem;
  font-style: italic;
  color: $grey-dark;
  vertical-align: baseline;
}