// Component: Forms
// Project: WFPUI
// Author: Matthew Morek (me@matthewmorek.com)
// URL: http://matthewmorek.com

// Content-aware input type hint template
%input-tip {
  position: absolute;
  z-index: 1;
  right: 10px;
  top: 0.875em;
  display: block;
  height: 16px;
  pointer-events: none;
  font-size: 0.75em;
  color: $grey;
  text-align: right;
}

// Box-like input template for radios and checkboxes
%inputbox {
  -moz-appearance: checkbox;
  -webkit-appearance: none;
  display: inline-block;
  border: 0;
  margin-right: 0.25em;
  margin-bottom: 3px;
  width: 24px;
  height: 24px;
  padding: 0;
  vertical-align: middle;
  transition: 0.15s background ease-in;

  &.disabled,
  &:disabled
  &[disabled] {
    opacity: 0.4;
    cursor: not-allowed;
  }

  &:focus {
    outline: 1px auto $blue-dark;
  }

  & + label {
    display: inline-block;
  }
}

%select-arrow {
  @extend %icon-dark-arrow-drop-down;
  background-repeat: no-repeat;
  background-position: right center;
  background-color: $grey-lightest;
}

@mixin input($type) {
  @if $type == common {
    -webkit-appearance: none;
    display: inline-block;
    padding: 0.5em;
    font-family: $sans-serif-stack;
    border: 1px solid $grey-light;
    border-radius: 1px;
    box-shadow: inset 0 1px 3px rgba($black, 0.1);
    font-size: 100%;
    line-height: 1.5;
    vertical-align: baseline;
    transition: 0.3s linear border;

    &:focus {
      outline: 0;
      border-color: $blue-light;

      &:invalid {
        border-color: $orange;

        &:focus {
          border-color: $orange;
        }
      }
    }

    &:required:invalid,
    &.invalid {
      margin-bottom: -1px;
      border-color: $orange;

      + .error {
        border-radius: 0 0 2px 2px;
      }
    }

    &.valid {
      border-color: desaturate(lighten($green, 25%), 55%);
    }

    &[disabled],
    &:disabled {
      cursor: not-allowed;
      opacity: 0.4;
    }

    &[readonly] {
      // Read-only state
      background: $grey-lightest;
      color: $grey-lighter;
      border-color: $grey-lighter;
    }
  } @else if $type == checkbox {
    @extend %inputbox;
    @extend %icon-dark-checkbox-unchecked;

    &:checked {
      @extend %icon-primary-checkbox-checked;
    }
  } @else if $type == radio {
    @extend %inputbox;
    @extend %icon-dark-radio-btn-off;

    &:checked {
      @extend %icon-primary-radio-btn-on;
    }
  } @else if $type == label {
    display: block;
    margin: 0.25em 0;
    font-size: 100%;
    line-height: 1.5;
    vertical-align: baseline;
  } @else if $type == select {
    @extend %select-arrow;
    -webkit-appearance: none;
    display: inline-block;
    padding: 0.4em 0.75em;
    padding-right: 2.25em;
    font-family: $sans-serif-stack;
    border: 1px solid $grey-light;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba($black, 0.1);
    font-size: 100%;
    line-height: 1.5;
    vertical-align: baseline;
    transition: 0.3s linear border;
    position: relative;

    &:focus {
      outline: 0;
      border-color: $blue-light;
    }

    &[disabled],
    &:disabled {
      cursor: not-allowed;
      opacity: 0.4;
    }

    &[readonly] {
      // Read-only state
      background: $grey-light;
      color: $grey-light;
      border-color: $grey-light;
    }

    &[multiple] {
      height: auto;
    }
  } @else if $type == textarea {
    -webkit-appearance: none;
    display: block;
    width: 100%;
    min-height: 8em;
    padding: 0.5em;
    font-size: 100%;
    font-family: $sans-serif-stack;
    border: 1px solid $grey-light;
    border-radius: 1px;
    box-shadow: inset 0 1px 3px rgba($black, 0.1);
    line-height: 1.562;
    vertical-align: baseline;
    transition: 0.3s linear border;

    &.small {
      max-width: 262px;
      min-height: 6em;
    }

    &.large {
      max-width: 424px;
      min-height: 10em;
    }

    &:focus {
      outline: 0;
      border-color: $blue-light;

      &:invalid {
        border-color: $orange;

        &:focus {
          border-color: $orange;
        }
      }
    }

    &:required:invalid,
    &.invalid {
      margin-bottom: -1px;
      border-color: $orange;

      + .error {
        border-radius: 0 0 2px 2px;
      }
    }

    &.valid {
      border-color: $green;
    }

    &[disabled],
    &:disabled {
      cursor: not-allowed;
      opacity: 0.4;
    }

    &[readonly] {
      // Read-only state
      background: $grey-lightest;
      color: $grey-lighter;
      border-color: $grey-lighter;
    }
  }
}

%wfp-form,
.wfp-form {
  margin: 1rem 0;

  // All common elements
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="url"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="week"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="color"],
  input:not([type]) {
    @include input(common);
  }

  // Fieldset
  fieldset {
    margin: 0.25em 0;
    padding: 0;
    border: 0;
    display: block;
  }

  legend {
    display: block;
    width: 100%;
    padding: 0.5em 0;
    margin-bottom: 0.25em;
    color: $text-color;
    border-bottom: 1px solid $grey-light;
  }

  // Labels
  label {
    @include input(label);

    ~ label {
      margin: 0.25em 0;
    }
  }

  // Select boxes
  select { @include input(select); }

  // Checkboxes and radios
  input {
    &[type="checkbox"] { @include input(checkbox); }
    &[type="radio"] { @include input(radio); }
  }

  // Textarea
  textarea {
    @include input(textarea);
  }

  &.wfp-checkbox,
  &.wfp-radio {
    margin: 0.5em 0;
  }

  .error {
    color: darken($orange, 40%);
    display: inline-block;
    background-color: $orange;
    padding: 0.25em 0.5em;
    margin: 0;
    font-size: 0.875em;
  }
}

.wfp-form--stacked {
  @extend %wfp-form;

  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="url"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="week"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="color"],
  input:not([type]),
  textarea,
  select {
    display: block;
    margin: 0.25em 0;
    width: 100%;
  }
}

.wfp-form--group {
  padding: 0.25em 0;
}

.wfp-form--actions {
  padding: 0.5em 0;
}

.wfp-form--msg {
  display: inline-block;
  margin: 0.5em 0;
  font-size: 0.875em;
  font-style: italic;
  color: $grey-darker;
  vertical-align: baseline;
}
