// Component: Page Hero
// Project: WFP UI

.page--hero {
  // Fallback colours
  background-color: $grey-darker;
  color: $white;
  // Default alignment is `center`
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 16rem;

  @include media-query($md-screen) {
    min-height: 24rem;
  }
}
