// Module: Tables
// Project: WFP UI



@mixin table {
  // Remove spacing between table cells
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 0;
  width: 100%;

  caption {
    color: $text-color;
    border-bottom: 2px solid $grey-lighter;
  }

  td, th {
    border-bottom: 1px solid $grey-lighter;
    border-width: 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible;
    padding: 0.5rem 1rem;
  }

  thead {
    color: $text-color;
    text-align: left;
    vertical-align: bottom;

    th {
      border-bottom: 2px solid $grey-lighter;
    }
  }
}

.wfp-table {
  @include table;
}

.wfp-table--striped {
  @include table;

  tr:nth-child(2n-1) {
    td {
      background-color: $blue-lightest;
      color: $text-color;
    }
  }
}
