@import '../../globals/scss/vars';
@import '../../globals/scss/colors';
@import '../../globals/scss/typography';
@import '../../globals/scss/spacing';
@import '../../globals/scss/css--reset';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/vendor/@unitednations/import-once/scss/import-once';
@import '../../globals/scss/css--typography';
@import '../Button/button';
@import '../Form/form';
@import '../Loading/loading';

@include exports('file-uploader') {
  .#{$prefix}--file {
    width: 100%;
  }

  .#{$prefix}--file-input {
    @include hidden;
  }

  .#{$prefix}--file-btn {
    display: inline-flex;
    margin: 0;
  }

  .#{$prefix}--label-description {
    @include reset;
    @include typescale('zeta');
    @include line-height('body');
    color: var(--text-02);
    margin-bottom: $spacing-xs;
  }

  .#{$prefix}--file-container {
    display: block;
    width: 100%;
    margin-top: $spacing-xs;
  }

  .#{$prefix}--file__selected-file {
    @include text-overflow(300px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: rem(20px);
    background-color: var(--field-01);
    //padding: 0 $spacing-md;
    margin-bottom: $spacing-3xs;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .#{$prefix}--file-filename {
    @include typescale('omega');
    @include text-overflow(100%);
    display: inline-flex;
    align-items: center;
    color: var(--text-01);
    margin-right: $spacing-md;
    height: 1.875rem;
  }

  .#{$prefix}--file__state-container {
    display: flex;
    align-items: center;

    .#{$prefix}--loading {
      width: 1.125rem;
      height: 1.125rem;
      margin-right: $spacing-xs;
    }

    .#{$prefix}--loading__svg {
      stroke: var(--ui-05);
    }
  }

  .#{$prefix}--file__state-container .#{$prefix}--file-close,
  .#{$prefix}--file__state-container .#{$prefix}--file-complete {
    width: 1rem;
    height: 1rem;
    fill: var(--text-01);
    cursor: pointer;

    &:focus {
      @include focus-outline('border');
    }
  }

  .#{$prefix}--file__state-container .#{$prefix}--file-close {
    fill: var(--ui-05);
  }

  .#{$prefix}--file__state-container .#{$prefix}--file-complete {
    fill: var(--support-02);
  }
}
