<div class="wfp--theme-light wfp--theme-en">
  <div class="wfp--form-item wfp--form-item--invalid wfp--number wfp--number--helpertext"><label for="" class="wfp--label">{{labelText}}</label>
    <div class="wfp--form__helper-text">{{helperText}}</div>
    <div class="wfp--input-wrapper">
      <div class="wfp--number__controls">
      <button class="wfp--number__control-btn up-icon" type="button">+</button>
      <button class="wfp--number__control-btn down-icon" type="button">−</button>
      <input type="number" pattern="[0-9]*" name="inputname" step="1" />
      </div>
    </div>
  </div>
</div>