<div class="wfp--theme-light wfp--theme-en">
  <div aria-live="assertive" class="wfp--loading {{ small ? 'wfp--loading--small'}}"><svg class="wfp--loading__svg" viewBox="-75 -75 150 150">
      <title>Loading</title>
      <circle cx="0" cy="0" r="37.5"></circle>
    </svg>
    </div>
</div>