// ---
// Layouts: Primer
// Project: WFPUI
// Author: Matthew Morek (me@matthewmorek.com)
// URL: http://matthewmorek.com
// ---

/**
 * Wrapper
 */
.wrapper,
%wrapper {
  margin: 0 auto;
  max-width: $content-width;
  padding: 1em;
  @include media-query($content-width){
    padding: 1em 0;
  }
}

.wrapper-tight {
  @extend %wrapper;
  padding: 0 1em;
  @include media-query($content-width){
    padding: 0;
  }
}

.pure-g {
  text-rendering: optimizelegibility;
  font-family: $sans-serif-stack;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  display: -ms-flexbox;
  -ms-flex-flow: row wrap;
}
.pure-g [class*="pure-u"] {
  font-family: $sans-serif-stack;
  font-size: 100%;
  line-height: $base-line-height;
  color: $text-color;
}

@include media-query($md-screen) {
  .l-box {
    padding: $spacing-unit / 2;
  }
  .l-box:first-child {
    padding-left: 0;
  }
  .l-box:last-child {
    padding-right: 0;
  }
}

/**
  Page Content
*/
.side-nav {
  margin-top: 0;
}
.page-header {
  margin-bottom: 2em;
}
.page-content {
  > h3 {
    padding-bottom: $spacing-unit / 4;
    margin-bottom: $spacing-unit / 4;
    margin-top: $spacing-unit;
    border-bottom: 1px solid $grey-light;
  }
  > p + .inline-grid {
    margin: 2em 0;
  }
}


/**
  Lists
*/
.inline-list,
%inline-list {
  list-style: none;
  padding: 0;
  margin: 0.5em 0;
  li {
    display: inline;
    margin-right: 1em;
    &:last-child {
      margin-right: 0;
    }
  }
}

/**
  Print styles.
  Inlined to avoid required HTTP connection: h5bp.com/r
*/
@media print {
  * {
    background: transparent !important;
    color: #000 !important; /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group; /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}