<fieldset class="wfp--fieldset">
  <legend class="wfp--label">Checkbox heading</legend>
  <div class="wfp--form-item wfp--checkbox-wrapper">
    <input type="checkbox" class="wfp--checkbox" id="checkbox-label-1">
    <label for="checkbox-label-1" class="wfp--checkbox-label">
      <span class="">Checkbox label 1</span>
    </label>
  </div>
  <div class="wfp--form-item wfp--checkbox-wrapper">
    <input type="checkbox" class="wfp--checkbox" id="checkbox-label-2">
    <label for="checkbox-label-2" class="wfp--checkbox-label">
      <span class="">Checkbox label 2</span>
    </label>
  </div>
</fieldset>