<div class="wfp--theme-light wfp--theme-en">
  <div class="wfp--form-item wfp--checkbox-wrapper"><input type="checkbox" class="wfp--checkbox" id="check-1" /><label for="check-1" class="wfp--checkbox-label"><span class="">{{labelText}}</span></label></div>
</div>