// Module: Clearfix
// Project: WFP UI

// Nicolas Gallaghers Clearfix solution
// Ref: http://nicolasgallagher.com/micro-clearfix-hack/

@mixin clearfix {
  &::before,
  &::after {
    content: " ";
    display: table;
  }

  &::after {
    clear: both;
  }
}
