// Module: Heights
// Project: WFP UI

$heights: (
  1: 1rem,
  2: 2rem,
  3: 4rem,
  4: 8rem,
  5: 16rem
);

// Scale steps
@mixin h($scale) {
  max-width: map-get($heights, $scale);
}

// Literal percentage values
@mixin height($height: 0) {
  height: $height;
}
