// Module: Max Widths
// Project: WFP UI

// Scale steps
@mixin mw($width) {
  max-width: map-get($spacing, $width);
}

// Literal percentage values
@mixin max-width($width: none) {
  @if $width neq "none" {
    max-width: $width + %;
  } @else {
    max-width: $width;
  }
}
