// Module: Layout/Position
// Project: WFP UI
// Author: Matthew Morek (me@matthewmorek.com)
// URL: http://matthewmorek.com

@mixin pos--absolute  { position: absolute; }
@mixin pos--relative  { position: relative; }
@mixin pos--static    { position: static; }
@mixin pos--fixed     { position: fixed; }

// -----------------------------------------------------------------------------
// Coordinates
// -----------------------------------------------------------------------------
@mixin pos--top-0   { top: 0; }
@mixin pos--top-1   { top: 1rem; }
@mixin pos--top-2   { top: 2rem; }
@mixin pos--top--1  { top: -1rem; }
@mixin pos--top--2  { top: -2rem; }

@mixin pos--bottom-0  { bottom: 0; }
@mixin pos--bottom-1  { bottom: 1rem; }
@mixin pos--bottom-2  { bottom: 2rem; }
@mixin pos--bottom--1 { bottom: -1rem; }
@mixin pos--bottom--2 { bottom: -2rem; }

@mixin pos--left-0  { left: 0; }
@mixin pos--left-1  { left: 1rem; }
@mixin pos--left-2  { left: 2rem; }
@mixin pos--left--1 { left: -1rem; }
@mixin pos--left--2 { left: -2rem; }

@mixin pos--right-0  { right: 0; }
@mixin pos--right-1  { right: 1rem; }
@mixin pos--right-2  { right: 2rem; }
@mixin pos--right--1 { right: -1rem; }
@mixin pos--right--2 { right: -2rem; }

@mixin pos--fill-h {
  left: 0;
  right: 0;
}

@mixin pos--fill-v {
  top: 0;
  bottom: 0;
}

@mixin pos--fill {
  @include pos--fill-v;
  @include pos--fill-h;
}
