// Module: Layout/Spacing
// Project: WFP UI
// Author: Matthew Morek (me@matthewmorek.com)
// URL: http://matthewmorek.com

// -----------------------------------------------------------------------------
// Sizes
// -----------------------------------------------------------------------------

$spacer: (
  0: 0,
  1: $spacing-unit,
  2: $spacing-unit * pow(2, 1),
  3: $spacing-unit * pow(2, 2),
  4: $spacing-unit * pow(2, 3),
  5: $spacing-unit * pow(2, 4),
  6: $spacing-unit * pow(2, 5),
  7: $spacing-unit * pow(2, 6)
);

// -----------------------------------------------------------------------------
// Padding
// -----------------------------------------------------------------------------

@mixin pa($scale) { padding: map-get($spacer, $scale); }
@mixin pl($scale) { padding-left: map-get($spacer, $scale); }
@mixin pr($scale) { padding-right: map-get($spacer, $scale); }
@mixin pt($scale) { padding-top: map-get($spacer, $scale); }
@mixin pb($scale) { padding-bottom: map-get($spacer, $scale); }

@mixin ph($scale) {
  padding-left: map-get($spacer, $scale);
  padding-right: map-get($spacer, $scale);
}

@mixin pv($scale) {
  padding-top: map-get($spacer, $scale);
  padding-bottom: map-get($spacer, $scale);
}

@mixin padding($values...) {
  padding: $values;
}

// -----------------------------------------------------------------------------
// Margins
// -----------------------------------------------------------------------------

@mixin ma($scale) { margin: map-get($spacer, $scale); }
@mixin ml($scale) { margin-left: map-get($spacer, $scale); }
@mixin mr($scale) { margin-right: map-get($spacer, $scale); }
@mixin mt($scale) { margin-top: map-get($spacer, $scale); }
@mixin mb($scale) { margin-bottom: map-get($spacer, $scale); }

@mixin mh($scale) {
  margin-left: map-get($spacer, $scale);
  margin-right: map-get($spacer, $scale);
}

@mixin mv($scale) {
  margin-top: map-get($spacer, $scale);
  margin-bottom: map-get($spacer, $scale);
}

@mixin margin($values...) {
  margin: $values;
}
