// Module: Widths
// Project: WFP UI

// Width steps
@mixin width-scale($width) {
  width: map-get($spacing, $width);
}

// Literal percentage values
@mixin width($width: auto) {
  @if $width == "auto" {
    width: $width;
  } @else {
    width: $width + %;
  }
}
