@import '../../globals/scss/vars';
@import '../../globals/scss/colors';
@import '../../globals/scss/typography';
@import '../../globals/scss/spacing';
@import '../../globals/scss/import-once';
@import '../../globals/scss/css--reset';

@include exports('blockquote') {
  // <button> elements cannot be used as flex containers
  .#{$prefix}--blockquote {
    background-color: $color__navy-gray-9;
    border-left: 5px solid $brand-01;
    margin: $spacing-xs 0;
  }

  .#{$prefix}--blockquote__content {
    padding: $spacing-md;
    line-height: 1.4;
  }

  .#{$prefix}--blockquote--with-icon {
    padding-left: 4rem;
  }

  .#{$prefix}--blockquote__icon {
    margin-left: $spacing-xl;
    position: absolute;
    top: 50%;
    left: 0;
    fill: $brand-01;
    margin-top: -15px;
  }

  .#{$prefix}--blockquote--code {
    .#{$prefix}--blockquote__content {
      white-space: pre;
      font-family: monospace;
      line-height: 1.4;
    }
  }

  .#{$prefix}--blockquote--warning {
    border-left: 5px solid $color__yellow;
    .#{$prefix}--blockquote__icon {
      fill: $color__yellow !important;
    }
  }

  .#{$prefix}--blockquote--error {
    border-left: 5px solid $color__red;
    .#{$prefix}--blockquote__icon {
      fill: $color__red !important;
    }
  }

  .#{$prefix}--blockquote__title {
    display: block;
    font-weight: bold;
    padding: $spacing-md $spacing-md 0 $spacing-md;
  }

  .#{$prefix}--blockquote--light {
    border-left: 0;
    .#{$prefix}--blockquote__content {
      padding: $spacing-sm;
    }
  }
}
