@import '../../globals/scss/vars';
@import '../../globals/scss/colors';
@import '../../globals/scss/typography';
@import '../../globals/scss/spacing';
@import '../../globals/scss/import-once';
@import '../../globals/scss/css--reset';

@include exports('blockquote') {
  // <button> elements cannot be used as flex containers
  .#{$prefix}--blockquote {
    background-color: $color__navy-gray-9;
    border-left: 5px solid $interactive-01;
    margin: $spacing-xs 0;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 3px;

    pre[class*='language-'] {
      background: none;
      padding: 0;
    }
  }

  .#{$prefix}--blockquote--toggleable {
    .#{$prefix}--blockquote__inside {
      display: none;
    }
    cursor: pointer;
  }

  .#{$prefix}--blockquote--toggle--open {
    .#{$prefix}--blockquote__inside {
      display: block;
    }
  }

  .#{$prefix}--blockquote__content {
    padding: $spacing-md;
    line-height: 1.4;
    word-wrap: anywhere;
  }

  .#{$prefix}--blockquote--toggleable {
    .#{$prefix}--blockquote__title {
      cursor: pointer;
      &:after {
        color: $interactive-01;
        content: ' +';
        font-weight: 800;
      }
    }
    .#{$prefix}--blockquote__inside {
      //display: none;
      max-height: 0;
      overflow: hidden;
      transition: all 0.3;
    }
  }

  .#{$prefix}--blockquote--toggle-open {
    .#{$prefix}--blockquote__inside {
      //display: block;
      max-height: 1000px;
    }
    .#{$prefix}--blockquote__title {
      &:after {
        color: $interactive-01;
        content: ' -';
      }
    }
  }

  .#{$prefix}--blockquote--no-content {
    .#{$prefix}--blockquote__title {
      margin-bottom: 0;
    }
  }

  .#{$prefix}--blockquote--with-icon {
    //padding-left: 4rem;
  }

  .#{$prefix}--blockquote__icon {
    margin-left: $spacing-xl;
    fill: $interactive-01;
    min-width: 3rem;
    height: auto;
    flex-shrink: 0;
    margin-right: $spacing-md;
    //margin-top: -15px;
  }

  .#{$prefix}--blockquote--code {
    overflow: auto;

    .#{$prefix}--blockquote__content {
      white-space: pre;
      line-height: 1.4;

      pre {
        font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier,
          monospace;
      }
    }
  }

  .#{$prefix}--blockquote--warning {
    border-left-color: $color__yellow;
    background: $color__yellow-10;

    .#{$prefix}--blockquote__icon {
      fill: $color__yellow !important;
    }
  }

  .#{$prefix}--blockquote--error {
    border-left-color: $color__red;
    background: $color__red-10;

    .#{$prefix}--blockquote__icon {
      fill: $color__red !important;
    }
  }

  .#{$prefix}--blockquote--success {
    border-left-color: $support-02;
    background: $color__dark-green-10;

    .#{$prefix}--blockquote__icon {
      fill: $support-02 !important;
    }
  }

  .#{$prefix}--blockquote__title {
    display: block;
    font-weight: 600;
    margin-bottom: $spacing-xs;

    &:focus {
      outline: 0;
    }
  }

  .#{$prefix}--blockquote--light {
    border-left: 0;

    .#{$prefix}--blockquote__content {
      padding: $spacing-sm;
    }
  }
}
