//-----------------------------
// Footer
//-----------------------------

@import '../../globals/scss/vars';
@import '../../globals/scss/colors';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/typography';
@import '../../globals/scss/layout';
@import '../../globals/scss/css--reset';
@import '../../globals/scss/css--typography';
//@import '../Link/link';

.#{$prefix}--footer--bottom-fixed {
  position: fixed;
  bottom: 0;
  left: 0;
}

.#{$prefix}--footer {
  @include reset;
  @include font-family;
  border-top: 2px solid $color__navy-gray-8;
  background-color: var(--ui-01);
  z-index: z('footer');
  padding: rem(20px) 0;
  @media print {
    display: none;
  }
}

.#{$prefix}--footer__content {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  min-height: 3.5rem;
  width: 100%;
}

.#{$prefix}--footer__info {
  display: flex;

  @media screen and (max-width: 600px) {
    flex-direction: column;
  }
}

.#{$prefix}--footer__sdg {
  //margin-top: 0.45rem;
  margin-left: $spacing-xl;
  width: 50px;
  height: 50px;
}

.#{$prefix}--footer__meta {
  @include typescale('zeta');
  @include line-height('body');
  margin-top: rem(20px);
  font-style: italic;
  @include breakpointMax(bp--md--major) {
    display: none;
  }
}

.#{$prefix}--footer__info__item {
  //@include typescale('delta');
  @include line-height('body');
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-right: rem(64px);
  @include rtl {
    margin-left: rem(64px);
    margin-right: 0;
  }
}

.#{$prefix}--footer__info__item > .#{$prefix}--link {
  font-weight: 600;
}

.#{$prefix}--footer__info__item > .#{$prefix}--footer__label {
  @include typescale('zeta');
  @include line-height('body');
  font-weight: 600;
  margin: 0;

  @media screen and (max-width: 600px) {
    display: none;
  }
}

.#{$prefix}--footer__cta {
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  @include rtl {
    margin-left: 0;
    margin-right: auto;
  }
}

@include breakpointMax(bp--sm--major) {
  .#{$prefix}--footer__cta-logo {
    display: none;
  }
  .#{$prefix}--footer__sdg {
    display: none;
  }
}

@include breakpoint(bp--sm--major) {
  .#{$prefix}--footer__cta-logo-small {
    display: none;
  }
}

.#{$prefix}--footer__info {
  display: flex;
}

.#{$prefix}--footer__info__item {
  margin-right: rem(20px);
}

/* External */

.#{$prefix}--footer--external {
  @include breakpointMax(bp--sm--major) {
    .#{$prefix}--footer__content {
      flex-direction: column;
    }
  }

  .#{$prefix}--footer__info {
    order: 1;
    @include breakpoint(bp--sm--major) {
      width: 40%;
    }
    @include line-height('body');
  }

  .#{$prefix}--footer__cta {
    margin-left: inherit;
    @include breakpointMax(bp--sm--major) {
      display: flex;
      width: 100%;
      margin-bottom: rem(20px);
      justify-content: space-between;
      > img {
        margin-right: rem(30px);
      }
    }
    @include breakpoint(bp--sm--major) {
      margin-right: auto;
    }
  }

  .#{$prefix}--footer__info__item {
    //@include typescale('delta');
    @include line-height('body');
    display: block;
    margin: 0;
    margin-right: rem(64px);
    @include rtl {
      margin-left: rem(64px);
      margin-right: 0;
    }
  }

  .#{$prefix}--footer__info__item > .#{$prefix}--link {
    font-weight: 600;
    margin-right: rem(10px);
    @include typescale('zeta');
    @include breakpointMax(bp--md--major) {
      display: block;
    }
  }

  .#{$prefix}--footer__secondary {
    margin-top: rem(20px);
    font-weight: 600;
    @include typescale('caption');
    @include breakpoint(bp--md--major) {
      width: 100%;
    }
    @include line-height('body');
  }

  .#{$prefix}--footer__meta {
    @include typescale('zeta');
    border-top: 1px solid $color__navy-gray-8;
    margin-top: $spacing-md;
    padding-top: $spacing-md;
    @include breakpoint(bp--md--major) {
      display: flex;
    }
    justify-content: space-between;
    font-style: normal;
  }

  .#{$prefix}--footer__meta__links {
    .#{$prefix}--link {
      font-weight: 600;
      margin-left: rem(10px);
    }
  }
}