<footer mobilepagewidth="" class="wfp--footer wfp--footer--external some-class">
	<div class="wfp--wrapper">
		<div class="wfp--footer__content">
			<div class="wfp--footer__info">
				<div>The United Nations World Food Programme - saving lives in emergencies and changing lives for millions through sustainable development. WFP works in more than 80 countries around the world, feeding people caught in conflict and disasters, and laying the foundations for a better future.<br>
					<a href="http://www.wfp.org" class="wfp--link">Custom Links</a>
				</div>
			</div>
			<div class="wfp--footer__cta">
				<img class="wfp--footer__cta-logo" src="https://cdn.wfp.org/guides/ui/v1.1.21/assets/logos/extended/en/wfp-logo-extended-black-en.svg" alt="World Food Programme Logo">
				<img class="wfp--footer__cta-logo-small" src="https://cdn.wfp.org/guides/ui/v1.1.21/assets/logos/vertical/en/wfp-logo-vertical-black-en.svg" alt="World Food Programme Logo"><div class="wfp--footer__secondary">
					<div>Via C. G. Viola 68 Parco dei Medici<br>00148 Rome, Italy
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="wfp--wrapper wfp--footer__meta">
		<div class="wfp--footer__meta__content"> 2018 © World Food Programme
		</div>
	</div>
</footer>