<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="storybook-version" content="3.4.11">
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="../../../css/styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" />
  </head>
  <body>
    {{> ../../src/components/BannerNavigation/BannerNavigation.hbs}}
    {{> ../../src/components/MainNavigation/MainNavigation.hbs}}
    {{> ../../src/components/SecondaryNavigation/SecondaryNavigation.hbs}}
    <div class="wfp--wrapper--background-lighter">
      <div class="wfp--wrapper wfp--wrapper--width-lg wfp--wrapper--spacing-md">
        <div class="row">
          <div class="col-xs-12 col-md-6 col-lg-4 wfp--module">
            <div class="wfp--module__inner">
              <div class="wfp--module__header">
                <h1 class="wfp--module__title">Module Example</h1>
              </div>
              <div class="wfp--module__content">
                <p>Lorem Ipsum is dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-6 col-lg-4 wfp--module">
            <div class="wfp--module__inner">
              <div class="wfp--module__header">
                <h1 class="wfp--module__title">Module Example</h1>
              </div>
              <div class="wfp--module__content">
                <p>Lorem Ipsum is dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-6 col-lg-4 wfp--module">
            <div class="wfp--module__inner">
              <div class="wfp--module__header">
                <h1 class="wfp--module__title">Module Example</h1>
              </div>
              <div class="wfp--module__content">
                <p>Lorem Ipsum is dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-6 col-lg-6 wfp--module">
            <div class="wfp--module__inner">
              <div class="wfp--module__header">
                <h1 class="wfp--module__title">Module Example</h1>
              </div>
              <div class="wfp--module__content">
                <p>Lorem Ipsum is dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-6 col-lg-6 wfp--module">
            <div class="wfp--module__inner">
              <div class="wfp--module__header">
                <h1 class="wfp--module__title">Module Example</h1>
              </div>
              <div class="wfp--module__content">
                <p>Lorem Ipsum is dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{> ../../src/components/Footer/Footer-internal.hbs}}
  </body>
</html>