// Layouts: Footer
// Project: WFPUI

%footer {
  @include fs(5);
  border-top: 4px solid $grey-lighter;
}

%footer--top {
  @include padding(0.5rem 0);
}

%footer--bottom {
  @extend %footer--top;
  @include pv(2);
  border-top: 1px solid $grey-lighter;

  .footer--panel {
    @include pv(0);
  }
}

%footer--heading {
  @include fs(5);
  @include fw(700);
  @include mv(0);
  @include mb(1);
}

%footer--links {
  @include nolist;

  .link {
    @include ma(2);
    @include ml(0);
    display: inline-block;
  }
}

%footer--logo {
  @include display(inline-block);
  @include mv(1);
}

// -----------------------------------------------------------------------------
// Actual implementation
// -----------------------------------------------------------------------------
@mixin footer-mini {
  @extend %footer;
}

@mixin footer-compact {
  @extend %footer;

  .footer--top {
    @extend %footer--top;
  }

  .footer--bottom {
    @extend %footer--bottom;
  }

  .footer--heading {
    @extend %footer--heading;
  }

  .footer--links {
    @extend %footer--links;
  }

  .footer--logo {
    @extend %footer--logo;
  }
}

@mixin footer-std {
  @include footer-compact;

  .footer--top {
    .wfp-menu-plain {
      @include ma(0);
      @include ml(2);
      @include ta(left);
    }
  }
}

// Actual implementation

.wfp-footer--mini {
  @include footer-mini;
}

.wfp-footer--compact {
  @include footer-compact;
}

.wfp-footer--std {
  @include footer-std;
}
