// Layouts: Footer
// Project: WFPUI
// Author: Matthew Morek (me@matthewmorek.com)
// URL: http://matthewmorek.com

%footer {
  @extend .t-f5;
  @include t-center;
  border-top: 4px solid $grey-lighter;
}

%footer--panel {
  &.left {
    @include t-center;

    @include media-query($md-screen) {
      @include t-left;
    }
  }

  &.right {
    @include t-center;

    @include media-query($md-screen) {
      @include t-right;
    }
  }
}

%footer--top {
  @extend .pv-1;
  // padding: 0.25rem 0;
}

%footer--bottom {
  @extend %footer--top;
  @extend .pv-0;
  border-top: 1px solid $grey-lighter;

  .footer--panel {
    @extend .pv-0;
  }
}

%footer--heading {
  @extend .t-f5;
  @extend .mv-1;
  @extend .bold;
}

%footer--label {
  @extend .t-f6;
  @extend .mv-1;
  line-height: 1.4;
}

%footer--links {
  @extend .t-f6;
  @include nolist;
  line-height: 1;

  .link {
    display: inline-block;
    margin: 0.5em 0.5em 0.5em 0;
  }
}

%footer--logo {
  display: inline-block;
}

// -----------------------------------------------------------------------------
// Actual implementation
// -----------------------------------------------------------------------------
@mixin footer-mini {
  @extend %footer;

  .footer--panel {
    @extend %footer--panel;
  }

  .footer--label {
    @extend %footer--label;
  }

  .footer--links {
    @extend %footer--links;
  }
}

@mixin footer-compact {
  @extend %footer;

  .footer--top {
    @extend %footer--top;

    .wfp-wrapper {
      @extend .pv-1;
    }
  }

  .footer--bottom {
    @extend %footer--bottom;
  }

  .footer--panel {
    @extend %footer--panel;
  }

  .footer--label {
    @extend %footer--label;
  }

  .footer--heading {
    @extend %footer--heading;
  }

  .footer--links {
    @extend %footer--links;
  }

  .footer--logo {
    @extend %footer--logo;
  }
}

@mixin footer-std {
  @include footer-compact;

  .footer--top {
    .wfp-wrapper {
      @extend .pv-2;
    }

    .wfp-menu-plain {
      @extend .ma-0;
      @extend .ml-2;
      @include t-left;
    }
  }
}

// Actualo implementation

.wfp-footer--mini {
  @include footer-mini;
}

.wfp-footer--compact {
  @include footer-compact;
}

.wfp-footer--std {
  @include footer-std;
}
