// Layouts: Footer
// Project: WFPUI
// Author: Matthew Morek (me@matthewmorek.com)
// URL: http://matthewmorek.com

%footer {
  border-top: 4px solid $grey-lighter;
  font-size: 1rem;
  text-align: center;
  margin-top: 2em;
}

%footer--panel {
  &.left {
    text-align: center;

    @include media-query($md-screen) {
      text-align: left;
    }
  }

  &.right {
    text-align: center;

    @include media-query($md-screen) {
      text-align: right;
    }
  }
}

%footer--top {
  padding: 0.25em 0;
}

%footer--bottom {
  @extend %footer--top;
  padding: 0;
  border-top: 1px solid $grey-lighter;

  .footer--panel {
    padding: 0;
  }
}

%footer--heading {
  font-size: 1em;
  font-weight: bold;
  margin: 0.25em 0;
}

%footer--label {
  font-size: 0.875em;
  margin: 0.25em 0;
  line-height: 1.4;
}

%footer--links {
  @extend %nolist;
  line-height: 1;
  font-size: 0.875em;

  .link {
    display: inline-block;
    margin: 0.5em 0.5em 0.5em 0;
  }
}

%footer--logo {
  display: inline-block;
}

// -----------------------------------------------------------------------------
// Actual implementation
// -----------------------------------------------------------------------------
@mixin footer-mini {
  @extend %footer;

  .footer--panel {
    @extend %footer--panel;
  }

  .footer--label {
    @extend %footer--label;
  }
}

@mixin footer-compact {
  @extend %footer;

  .footer--top {
    @extend %footer--top;

    .wfp-wrapper {
      padding: 1em 0;
    }
  }

  .footer--bottom {
    @extend %footer--bottom;
  }

  .footer--panel {
    @extend %footer--panel;
  }

  .footer--label {
    @extend %footer--label;
  }

  .footer--heading {
    @extend %footer--heading;
  }

  .footer--links {
    @extend %footer--links;
  }

  .footer--logo {
    @extend %footer--logo;
  }
}

@mixin footer-std {
  @include footer-compact;

  .footer--top {
    .wfp-wrapper {
      padding: 0.75em 0;
    }

    .wfp-menu-plain {
      @extend %text-left;
      margin: 0 0 1em;
    }
  }
}

// Actualo implementation

.wfp-footer--mini {
  @include footer-mini;
}

.wfp-footer--compact {
  @include footer-compact;
}

.wfp-footer--std {
  @include footer-std;
}
