// Layouts: Masthead
// Project: WFPUI
// Author: Matthew Morek (me@matthewmorek.com)
// URL: http://matthewmorek.com


// -----------------------------------------------------------------------------
// Add spacing to the body tag, to compensate for a fixed masthead
// -----------------------------------------------------------------------------
.wfp-header-spacer--narrow {
  overflow: auto;
  padding-top: 4em;
}

%masthead {
  position: relative;
  background-color: darken($primary, 12%);
  // background-color: $primary;
  color: $white;
  box-shadow: rgba($black, 0.25) 0 1px 3px;
  min-height: 3em;
  max-height: 6.5em;

  .wrapper {
    position: relative;
  }
}

// -----------------------------------------------------------------------------
// Masthead: Narrow
// -----------------------------------------------------------------------------
%header--container {
  padding: 0.5em 0;
}

%header--title {
  line-height: 1.2;
  font-size: 1em;
  letter-spacing: initial;
  margin: 0;

  @include media-query($md-screen) {
    margin: 0 1em;
  }
}

%header--logo {
  color: $white;
  border: 0;
  font-weight: bold;
  text-decoration: none;

  img {
    height: 4.5em;
  }
}

%header--nav {
  padding: 0;
  text-align: right;
}

%header--btn {
  -webkit-tap-highlight-color: $black;
  -webkit-touch-callout: none;
  user-select: none;
  border: 1px solid $white;
  border-radius: 3px;
  color: $white;
  transition-property: border, background, color, width;
  transition-duration: 0.1s;
  transition-timing-function: ease-in;

  &:hover {
    color: $orange;
    border-color: $orange;
  }
}

%header--search {
  display: inline-block;
  position: relative;

  &::before {
    @extend %icon-light-search;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 2.25em;
    height: 2.25em;
    content: "";
    color: $white;
    z-index: 1;
  }

  .header--input {
    padding: 0.5em 0.75em 0.5em 2em;
  }
}

%header--input {
  -webkit-tap-highlight-color: $black;
  -webkit-touch-callout: none;
  transition: width 0.15s ease-in-out;
  user-select: none;
  border: 1px solid $white;
  border-radius: 3px;
  background-color: transparent;
  color: $white;
  width: 3.5em;
  text-align: center;
  padding: 0.5em 0.75em;
  cursor: pointer;
  position: relative;
  z-index: 2;

  &::-webkit-input-placeholder {
    opacity: 1;
    color: $white;
  }

  &::-moz-placeholder {
    opacity: 1;
    color: $white;
  }

  &:-ms-input-placeholder {
    opacity: 1;
    color: $white;
  }

  &:hover {
    border-color: $orange;
  }

  &:focus {
    width: 8em;
    text-align: left;
    color: $white;

    &::-webkit-input-placeholder {
      opacity: 0;
    }

    &::-moz-placeholder {
      opacity: 0;
    }

    &:-ms-input-placeholder {
      opacity: 0;
    }
  }
}

%header--toggle {
  @extend %header--btn;
  display: inline-block;
  visibility: visible;

  @include media-query($md-screen) {
    display: none;
    visibility: hidden;
  }
}

%header--misc {
  @include media-query($md-screen) {
    display: inline-block;
    min-height: 4.5em;
  };
}

%header--menu {
  position: absolute;
  right: 0;
  top: 4em;
  width: 100%;
  margin: 0;

  &.closed {
    @include transition-property(transform, opacity, visibility, z-index);
    @include transition-duration(0.2s, 0.2s, 0s, 0s);
    @include transition-delay(0s, 0s, 0.2s, 0.2s);
    @include transition-timing-function(cubic-bezier(0.4, 0, 1, 1));
    z-index: 0;
    visibility: hidden;
    opacity: 0;
    transform: translate3d(0, -4em, 0);

    @include media-query($md-screen) {
      transition: unset;
      transform: none;
      z-index: auto;
      visibility: visible;
      opacity: 1;
    }
  }

  &.opened {
    @include transition-property(transform, opacity, visibility, z-index);
    @include transition-duration(0.25s, 0.25s, 0s, 0s);
    @include transition-delay(0s, 0s, 0s, 0.25s);
    @include transition-timing-function(cubic-bezier(0.15, 1.23, 0.84, 1.04));
    z-index: 5;
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, 0, 0);

    @include media-query($md-screen) {
      transition: unset;
    }
  }

  .menu--group {
    @extend %no-list;
    text-align: initial;
    background-color: $grey;
  }

  .menu--item {
    display: block;
    padding: 0;
    border-bottom: 1px solid $grey;

    &:last-child {
      border-bottom: 0;
    }
  }

  .menu--link {
    display: block;
    border-bottom-color: transparent;
    color: $grey-light;
    padding: 0.5em 1em;
    line-height: 1.2;
  }

  @include media-query($md-screen) {
    @include menu-flat;
    background-color: transparent;
    position: static;
    width: auto;

    .menu--link {
      padding: 0.25em 0;

      &:active,
      &.active {
        border-bottom: 1px solid $orange;
      }

      &:hover {
        border-bottom: 1px solid $white;
      }
    }
  }
}

// -----------------------------------------------------------------------------
// Masthead: Internal
// -----------------------------------------------------------------------------
.wfp-header-int {
  @extend %masthead;
  width: 100%;

  &.fixed {
    top: 0;
    position: fixed;
    z-index: 100;
  }

  .header--container {
    @extend %header--container;
  }

  .header--title {
    @extend %header--title;
  }

  .header--logo {
    @extend %header--logo;
  }

  .header--nav {
    @extend %header--nav;
  }

  .header--search {
    @extend %header--search;
  }

  .header--input {
    @extend %header--input;
  }

  .header--btn {
    @extend %header--btn;
  }

  .header--toggle {
    @extend %header--toggle;
  }

  .header--menu {
    @extend %header--menu;
  }
}

// -----------------------------------------------------------------------------
// Masthead: External
// -----------------------------------------------------------------------------
.wfp-header-ext {
  @extend %masthead;
  width: 100%;

  &.fixed {
    top: 0;
    position: fixed;
    z-index: 100;
  }

  .header--container {
    @extend %header--container;
    padding: 0;
  }

  .header--title {
    @extend %header--title;
    margin: 0;
  }

  .header--logo {
    @extend %header--logo;
  }

  .header--nav {
    @extend %header--nav;
    @include media-query($md-screen) {
      min-height: 4.5em;
      text-align: right;
    }
  }

  .header--btn {
    @extend %header--btn;
  }

  .header--search {
    @extend %header--search;
  }

  .header--input {
    @extend %header--input;
  }

  .header--toggle {
    @extend %header--toggle;
  }

  .header--menu {
    @extend %header--menu;
    @include media-query($md-screen) {
      margin: 1.5em 1em;
    };
  }

  .header--misc {
    @extend %header--misc;
  }
}
