// Layouts: Masthead
// Project: WFPUI
// Author: Matthew Morek (me@matthewmorek.com)
// URL: http://matthewmorek.com


// -----------------------------------------------------------------------------
// Add spacing to the body tag, to compensate for a fixed masthead
// -----------------------------------------------------------------------------
.space-around {
  &-narrow {
    overflow: hidden;
    padding-top: 4em;
  }
}

%masthead {
  position: relative;
  background-color: $primary;
  color: #ffffff;
  box-shadow: rgba(0,0,0,0.2) 0 1px 3px;
  min-height: 48px;
  max-height: 94px;
  .wrapper {
    position: relative;
  }
}


// -----------------------------------------------------------------------------
// Masthead: Full
// -----------------------------------------------------------------------------
.masthead-full {
  @extend %masthead;
  @include box-shadow(none);
  .wrapper {
    padding: 0;
    @include media-query($md-screen) {
      padding: 0 1em;
    }
  }
  .wfp-logo {
    margin: 0.25em;
    display: inline-block;
    a.wfp-logo-wrapper {
      display: inline-block;
      max-width: 100%;
      width: auto;
      margin: 0;
      border: none;
      color: #fff;
      text-decoration: none;
      font-size: $base-font-size;
      .logo-img {
        max-width: 256px;
      }
    }
  }
  .sub-logo {
    padding: 0;
    margin: -1em 0;
    .heading {
      background-color: $secondary;
      box-shadow: rgba(0,0,0,0.2) 0 2px 0;
      margin: 0;
      padding: 1.5em 1em;
      display: inline-block;
      color: #fff;
    }
  }
}




// -----------------------------------------------------------------------------
// Masthead: Narrow
// -----------------------------------------------------------------------------
.masthead-narrow {
  @extend %masthead;
  top: 0;
  position: fixed;
  z-index: 100;
  width: 100%;

  .logo-container {
    padding: 0.5em 0;
    height: 16px;

    .logo {
      line-height: 1;
      font-size: 1em;
      margin: 0;
      a {
        color: #fff;
        border: none;
        font-weight: bold;
        text-decoration: none;
      }
    }
  }

  .navigation {
    padding: 0;
    position: relative;
    text-align: right;
  }
  &.img {
    .wrapper {
      padding: 0;
    }
    .logo-container {
      padding: 0.25em 0;
      height: auto;
      .wfp-logo {
        line-height: 1;
        font-size: 1;
        margin: 0;
        padding: 0;
        a {
          color: #fff;
          border: none;
          font-weight: bold;
          text-decoration: none;
        }
      }
    }
    .navigation {
      padding: 1em 0;
    }
  }
}


// -----------------------------------------------------------------------------
// Utility Band (for pagination, etc.)
// -----------------------------------------------------------------------------
.band {
  background: $white;
  border-bottom: 1px solid $grey-contrast;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.10);
}
