// ---
// Layouts: Primer
// Project: WFPUI
// Author: Matthew Morek (me@matthewmorek.com)
// URL: http://matthewmorek.com
// ---

/**
 * Wrapper
 */
.wrapper,
%wrapper {
  margin: 0 auto;
  max-width: $content-width;
  padding: 1em;
  @include media-query($content-width){
    padding: 1em 0;
  }
}

.wrapper-tight {
  @extend %wrapper;
  padding: 0 1em;
  @include media-query($content-width){
    padding: 0;
  }
}


@include media-query($md-screen) {
  .wfp-box {
    padding: 1rem;
  }
  .wfp-box--flat {
    padding: 0 1rem;
  }
}



// -----------------------------------------------------------------------------
// Print styles.
// Inlined to avoid required HTTP connection
// -----------------------------------------------------------------------------
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group; /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}