$css--font-face: true;
$css--reset: true;
html {
  height: 100%;
}
body {
  height: 100%;
  #root {
    height: 100%;
    > div {
      /*main */
      > div {
        > div:last-child {
          h1,
          h2,
          p,
          div {
            //font-family: 'Open Sans', sans-serif !important;
          }
        }
        > div > button,
        > button {
          font-size: 1rem !important;
          background: #0a6eb4 !important;
        }
      }
      &:first-child {
        height: 100%;
        //margin-top: -1%;
      }
    }
  }
}

.language-js {
  margin: 1em 0;
  background: #e6e8ed !important;
  .keyword {
    color: #07a;
  }
  .punctuation {
    color: #999;
  }
  .string {
    color: #690;
  }
  .operator {
    color: #a67f59;
  }
}

.markdown-body {
  width: 100%;
  background: red;
}

table {
  width: 100%;
  th,
  td {
    border: 1px solid #ccc;
  }
}

.storybook--logo__element {
  &:hover {
    background: -webkit-linear-gradient(
        45deg,
        rgba(0, 0, 0, 0.0980392) 25%,
        rgba(0, 0, 0, 0) 25%,
        rgba(0, 0, 0, 0) 75%,
        rgba(0, 0, 0, 0.0980392) 75%,
        rgba(0, 0, 0, 0.0980392) 0
      ),
      -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.0980392) 25%, rgba(
              0,
              0,
              0,
              0
            )
            25%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.0980392) 75%, rgba(
              0,
              0,
              0,
              0.0980392
            )
            0);
    background: linear-gradient(
        45deg,
        rgba(0, 0, 0, 0.0980392) 25%,
        rgba(0, 0, 0, 0) 25%,
        rgba(0, 0, 0, 0) 75%,
        rgba(0, 0, 0, 0.0980392) 75%,
        rgba(0, 0, 0, 0.0980392) 0
      ),
      linear-gradient(
        45deg,
        rgba(0, 0, 0, 0.0980392) 25%,
        rgba(0, 0, 0, 0) 25%,
        rgba(0, 0, 0, 0) 75%,
        rgba(0, 0, 0, 0.0980392) 75%,
        rgba(0, 0, 0, 0.0980392) 0
      );
    background-position: 0 0, 10px 10px;
    background-origin: padding-box;
    background-clip: border-box;
    background-size: 20px 20px;
  }
}
