@import '../src/globals/scss/colors';
@import '../src/globals/scss/vars';
@import '../src/globals/scss/layout';
@import '../src/globals/scss/typography';
@import '../src/globals/scss/helper-mixins';
@import '../src/globals/scss/import-once';
@import '../src/globals/scss/css--reset';
@import '../src/globals/scss/text-gradient';
@import '../src/components/Story/_story';
@import '../src/components/Link/_link';

.sb-show-main,
.sbdocs,
.sbdocs {
  list-style: disc;
}

.sbdocs-preview {
  overflow: visible !important;
  > div {
    > div {
      overflow: visible !important;
    }
  }
}
.sbdocs {
  //font-weight: 400;
  //@extend .wfp--story;

  .sbdocs-p {
    font-size: 1rem;
  }
  .sbdocs-a {
    //@extend .wfp--link;
    color: $interactive-01;
    font-size: 1rem;
    line-height: inherit;
  }
  .sbdocs-li {
    font-size: 1rem;
  }
  .sbdocs-h1,
  .sbdocs-title {
    @extend .wfp--story__title;
  }
  .sbdocs-subtitle {
    @extend .wfp--story__subtitle;
    margin-top: 0;
  }
  /*.sbdocs-h2 {
    border: none;
    font-weight: 700;
    margin-bottom: $spacing-md;
  }
  .sbdocs-h3 {
    font-size: 1.4rem;
    font-weight: 700;
  }
  .sbdocs-h4 {
    font-size: 1rem;
    font-weight: 700;
  }*/
  .intro-description {
    .sbdocs-p {
      font-size: 1.2rem;
      font-size: 1.75rem;
      font-weight: 200;
      //font-style: italic;
    }
  }
}
.docs-status {
  margin-top: -1.5rem;
  margin-bottom: 2rem;
}

.table-of-content.wfp--list {
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1.8rem;
}

$css--body: false;
$css--reset: false;
@import '../src/globals/scss/_styles.scss';

.status__released {
}

.sticky-preview-wrapper {
  //display: flex;
}

.sticky-preview {
  position: sticky !important;
  top: -50px;
  z-index: 100;
}
