@import '../../globals/scss/vars';
@import '../../globals/scss/colors';
@import '../../globals/scss/typography';
@import '../../globals/scss/spacing';
@import '../../globals/scss/helper-mixins';
@import '@carbon/import-once/scss/import-once';
@import '../../globals/scss/css--reset';

@include exports('auth-layout') {
  .#{$prefix}--auth-wrapper {
    width: 100%;
    height: 100vh;
    background-color: var(--ui-01);
    display: flex;
    flex-direction: row;

    .#{$prefix}--auth-background-wrapper {
      width: 60%;
      border-right: 1px solid var(--ui-03);
      @include breakpointMax(bp--sm--major) {
        display: none;
      }
    }

    .#{$prefix}--auth-background-content {
      width: 100%;
      height: 100vh;
    }

    .#{$prefix}--auth-background-image {
      object-fit: cover;
      background-size: cover;
      margin: 0;
    }

    .#{$prefix}--auth-content-wrapper {
      width: 40%;
      padding: $spacing-sm;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow: scroll;
    }
  }
}
