<div class="wfp--theme-light wfp--theme-en">
  <div class="wfp--auth-wrapper">
    <div class="wfp--auth-background-wrapper">
      <div style="background:#007DBC;color:#fff;padding:3rem" class="wfp--auth-background-content">
      {{backgroundContent}}
      </div>
    </div>
    <div class="wfp--auth-content-wrapper">
      <div>{{children}}</div>
    </div>
  </div>
</div>