@import '../../globals/scss/vars';
@import '../../globals/scss/colors';
@import '../../globals/scss/typography';
@import '../../globals/scss/spacing';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/import-once';
@import '../../globals/scss/css--reset';
@import '../form/form';

@include exports('secondary-navigation') {
  .#{$prefix}--secondary-navigation {
    background: $color__white;
    @include reset;
    display: flex;
    @include breakpointMax(bp--md--major) {
      display: none;
    }
  }

  .#{$prefix}--secondary-navigation__title {
    @include typescale('beta');
    @include font-family;
    padding-top: $spacing-md;
  }

  .#{$prefix}--secondary-navigation__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .#{$prefix}--secondary-navigation__list {
    padding: $spacing-md 0 $spacing-xs 0;
    /*display: flex;
    justify-content: flex-start;
    height: rem(89px);
    align-items: center;*/
  }
  .#{$prefix}--secondary-navigation__additional {
    padding: $spacing-md 0 $spacing-xs 0;
    /*display: flex;
    justify-content: flex-start;
    height: rem(89px);
    align-items: center;*/
  }
}
