@import '../../globals/scss/vars';
@import '../../globals/scss/colors';
@import '../../globals/scss/typography';
@import '../../globals/scss/spacing';
@import '../../globals/scss/helper-mixins';
@import '@carbon/import-once/scss/import-once';
@import '../../globals/scss/css--reset';
@import '../Form/form';

@include exports('secondary-navigation') {
  .#{$prefix}--secondary-navigation {
    background: var(--ui-01);
    @include reset;
    display: flex;
    border-bottom: 2px solid var(--ui-03);

    .#{$prefix}--tabs {
      margin-bottom: -2px;
      @media print {
        display: none;
      }
    }
  }

  .#{$prefix}--secondary-navigation__title {
    @include typescale('beta');
    @include font-family;
    font-weight: 400;
    padding-top: $spacing-md;
    padding-bottom: $spacing-md;
  }

  .#{$prefix}--secondary-navigation__wrapper {
    display: flex;

    @include breakpointMax(bp--xs--major) {
      flex-direction: column-reverse;
    }

    @include breakpoint(bp--xs--major) {
      justify-content: space-between;
    }
  }

  .#{$prefix}--secondary-navigation__list {
    padding-top: $spacing-xs;

    @include breakpoint(bp--xs--major) {
      padding: $spacing-lg 0 0 0;
    }
  }

  .#{$prefix}--secondary-navigation__additional {
    padding-top: $spacing-md;

    @include breakpoint(bp--xs--major) {
      padding: $spacing-lg 0 0 0;
    }
  }
}
