<div class="wfp--credits">
  <div class="wfp--credits__info">© Rein Skullerud</div>
  <img alt="Default illustration" src="http://www1.wfp.org/sites/default/files/images/hp_yem_20170717_wfp-reem_nada_0109_3.jpg" style="width: 700px; height: auto;">
</div>