$css--body: true;
$css--reset: true;

@use './theme' as coretheme;
@use '@un/themes-core/dist/scss/default-css-theme' as defaulttheme;
@use '@un/themes-core/distDark/scss/default-css-theme' as darkTheme;
//@use './default-css-theme' as darkTheme;

//@use '@un/themes-core/dist/scss/_variables.scss' as darkTheme;

@use '@wfp/styles/scss/global-defaults' as globalDefaults;

@use '@wfp/styles/scss/theme' /*with (
  $coretheme: coretheme
)*/;

@import '@wfp/styles';

//@import '@un/themes/scss/themes';

//@import '@un/themes-core/dist/scss/theme';

//@import '@un/themes/scss/index.scss';

//$carbon--theme: $carbon--theme--wfp;

$color-corporate-09: 'green';

/*div {
  background: $color-corporate-09 !important;
}*/
// Use the WFP theme
:root {
  @include defaulttheme.theme-default();

  /*@include carbon--theme($carbon--theme--wfp, true) {
    // @include emit-component-tokens($tag-colors);
    // @include emit-component-tokens($notification-colors);
  }*/
}

body,
.sbdocs-wrapper.sbdocs {
  @include globalDefaults.globalDefaults();
}

.sbdocs {
  //.wfp--story > * {
  color: $text-primary !important;
}

.wfp--theme-dark {
  @include darkTheme.theme-dark();
}

.docs-story {
  //overflow: visible !important;
}
.docs-story > * {
  overflow: visible !important;
}

.docs-story > div:last-child {
  z-index: 0 !important;
}

.fullPage {
  .sbdocs-content {
    margin: 0;
    max-width: inherit !important;
  }
}

.sbdocs-h1,
.sbdocs-title {
  font-weight: 500 !important;
  margin-bottom: 1em !important;
}

.sbdocs-wrapper {
  margin: 3px !important;
  padding: 0 !important;
  min-height: 0 !important;
}

.documentation {
  .docblock-argstable-body {
    p,
    span {
      font-size: 0.8rem !important;
    }
  }
}
