// Module: Grid
// Project: WFP UI
// Author: MADBIT Co.
// Note:s Based on PureCSS Grid

@import "grid-units";

.opera-only :-o-prefocus, .wfp-grid {
  word-spacing: -0.43em;
}

.wfp-grid {
  @include grid;

  [class*="wfp-u-"] {
    @include grid--unit;
  }
}
