.unit-1,
.unit-1-1,
.unit-1-2,
.unit-1-3,
.unit-2-3,
.unit-1-4,
.unit-3-4,
.unit-1-5,
.unit-2-5,
.unit-3-5,
.unit-4-5,
.unit-5-5,
.unit-1-6,
.unit-5-6,
.unit-1-8,
.unit-3-8,
.unit-5-8,
.unit-7-8,
.unit-1-12,
.unit-2-12,
.unit-3-12,
.unit-4-12,
.unit-5-12,
.unit-6-12,
.unit-7-12,
.unit-8-12,
.unit-9-12,
.unit-10-12,
.unit-11-12,
.unit-12-12,
.unit-1-24,
.unit-2-24,
.unit-3-24,
.unit-4-24,
.unit-5-24,
.unit-6-24,
.unit-7-24,
.unit-8-24,
.unit-9-24,
.unit-10-24,
.unit-11-24,
.unit-12-24,
.unit-13-24,
.unit-14-24,
.unit-15-24,
.unit-16-24,
.unit-17-24,
.unit-18-24,
.unit-19-24,
.unit-20-24,
.unit-21-24,
.unit-22-24,
.unit-23-24,
.unit-24-24 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

.unit-1-24 {
    width: 4.1667%;
}

.unit-1-12,
.unit-2-24 {
    width: 8.3333%;
}

.unit-1-8,
.unit-3-24 {
    width: 12.5000%;
}

.unit-1-6,
.unit-2-12,
.unit-4-24 {
    width: 16.6667%;
}

.unit-1-5 {
    width: 20%;
}

.unit-5-24 {
    width: 20.8333%;
}

.unit-1-4,
.unit-3-12,
.unit-6-24 {
    width: 25%;
}

.unit-7-24 {
    width: 29.1667%;
}

.unit-1-3,
.unit-4-12,
.unit-8-24 {
    width: 33.3333%;
}

.unit-3-8,
.unit-9-24 {
    width: 37.5000%;
}

.unit-2-5 {
    width: 40%;
}

.unit-5-12,
.unit-10-24 {
    width: 41.6667%;
}

.unit-11-24 {
    width: 45.8333%;
}

.unit-1-2,
.unit-6-12,
.unit-12-24 {
    width: 50%;
}

.unit-13-24 {
    width: 54.1667%;
}

.unit-7-12,
.unit-14-24 {
    width: 58.3333%;
}

.unit-3-5 {
    width: 60%;
}

.unit-5-8,
.unit-15-24 {
    width: 62.5000%;
}

.unit-2-3,
.unit-8-12,
.unit-16-24 {
    width: 66.6667%;
}

.unit-17-24 {
    width: 70.8333%;
}

.unit-3-4,
.unit-9-12,
.unit-18-24 {
    width: 75%;
}

.unit-19-24 {
    width: 79.1667%;
}

.unit-4-5 {
    width: 80%;
}

.unit-5-6,
.unit-10-12,
.unit-20-24 {
    width: 83.3333%;
}

.unit-7-8,
.unit-21-24 {
    width: 87.5000%;
}

.unit-11-12,
.unit-22-24 {
    width: 91.6667%;
}

.unit-23-24 {
    width: 95.8333%;
}

.unit-1,
.unit-1-1,
.unit-5-5,
.unit-12-12,
.unit-24-24 {
    width: 100%;
}

@media screen and (min-width: 36.5em) {
    .unit-sm-1,
    .unit-sm-1-1,
    .unit-sm-1-2,
    .unit-sm-1-3,
    .unit-sm-2-3,
    .unit-sm-1-4,
    .unit-sm-3-4,
    .unit-sm-1-5,
    .unit-sm-2-5,
    .unit-sm-3-5,
    .unit-sm-4-5,
    .unit-sm-5-5,
    .unit-sm-1-6,
    .unit-sm-5-6,
    .unit-sm-1-8,
    .unit-sm-3-8,
    .unit-sm-5-8,
    .unit-sm-7-8,
    .unit-sm-1-12,
    .unit-sm-2-12,
    .unit-sm-3-12,
    .unit-sm-4-12,
    .unit-sm-5-12,
    .unit-sm-6-12,
    .unit-sm-7-12,
    .unit-sm-8-12,
    .unit-sm-9-12,
    .unit-sm-10-12,
    .unit-sm-11-12,
    .unit-sm-12-12,
    .unit-sm-1-24,
    .unit-sm-2-24,
    .unit-sm-3-24,
    .unit-sm-4-24,
    .unit-sm-5-24,
    .unit-sm-6-24,
    .unit-sm-7-24,
    .unit-sm-8-24,
    .unit-sm-9-24,
    .unit-sm-10-24,
    .unit-sm-11-24,
    .unit-sm-12-24,
    .unit-sm-13-24,
    .unit-sm-14-24,
    .unit-sm-15-24,
    .unit-sm-16-24,
    .unit-sm-17-24,
    .unit-sm-18-24,
    .unit-sm-19-24,
    .unit-sm-20-24,
    .unit-sm-21-24,
    .unit-sm-22-24,
    .unit-sm-23-24,
    .unit-sm-24-24 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    .unit-sm-1-24 {
        width: 4.1667%;
    }

    .unit-sm-1-12,
    .unit-sm-2-24 {
        width: 8.3333%;
    }

    .unit-sm-1-8,
    .unit-sm-3-24 {
        width: 12.5000%;
    }

    .unit-sm-1-6,
    .unit-sm-2-12,
    .unit-sm-4-24 {
        width: 16.6667%;
    }

    .unit-sm-1-5 {
        width: 20%;
    }

    .unit-sm-5-24 {
        width: 20.8333%;
    }

    .unit-sm-1-4,
    .unit-sm-3-12,
    .unit-sm-6-24 {
        width: 25%;
    }

    .unit-sm-7-24 {
        width: 29.1667%;
    }

    .unit-sm-1-3,
    .unit-sm-4-12,
    .unit-sm-8-24 {
        width: 33.3333%;
    }

    .unit-sm-3-8,
    .unit-sm-9-24 {
        width: 37.5000%;
    }

    .unit-sm-2-5 {
        width: 40%;
    }

    .unit-sm-5-12,
    .unit-sm-10-24 {
        width: 41.6667%;
    }

    .unit-sm-11-24 {
        width: 45.8333%;
    }

    .unit-sm-1-2,
    .unit-sm-6-12,
    .unit-sm-12-24 {
        width: 50%;
    }

    .unit-sm-13-24 {
        width: 54.1667%;
    }

    .unit-sm-7-12,
    .unit-sm-14-24 {
        width: 58.3333%;
    }

    .unit-sm-3-5 {
        width: 60%;
    }

    .unit-sm-5-8,
    .unit-sm-15-24 {
        width: 62.5000%;
    }

    .unit-sm-2-3,
    .unit-sm-8-12,
    .unit-sm-16-24 {
        width: 66.6667%;
    }

    .unit-sm-17-24 {
        width: 70.8333%;
    }

    .unit-sm-3-4,
    .unit-sm-9-12,
    .unit-sm-18-24 {
        width: 75%;
    }

    .unit-sm-19-24 {
        width: 79.1667%;
    }

    .unit-sm-4-5 {
        width: 80%;
    }

    .unit-sm-5-6,
    .unit-sm-10-12,
    .unit-sm-20-24 {
        width: 83.3333%;
    }

    .unit-sm-7-8,
    .unit-sm-21-24 {
        width: 87.5000%;
    }

    .unit-sm-11-12,
    .unit-sm-22-24 {
        width: 91.6667%;
    }

    .unit-sm-23-24 {
        width: 95.8333%;
    }

    .unit-sm-1,
    .unit-sm-1-1,
    .unit-sm-5-5,
    .unit-sm-12-12,
    .unit-sm-24-24 {
        width: 100%;
    }
}

@media screen and (min-width: 48em) {
    .unit-md-1,
    .unit-md-1-1,
    .unit-md-1-2,
    .unit-md-1-3,
    .unit-md-2-3,
    .unit-md-1-4,
    .unit-md-3-4,
    .unit-md-1-5,
    .unit-md-2-5,
    .unit-md-3-5,
    .unit-md-4-5,
    .unit-md-5-5,
    .unit-md-1-6,
    .unit-md-5-6,
    .unit-md-1-8,
    .unit-md-3-8,
    .unit-md-5-8,
    .unit-md-7-8,
    .unit-md-1-12,
    .unit-md-2-12,
    .unit-md-3-12,
    .unit-md-4-12,
    .unit-md-5-12,
    .unit-md-6-12,
    .unit-md-7-12,
    .unit-md-8-12,
    .unit-md-9-12,
    .unit-md-10-12,
    .unit-md-11-12,
    .unit-md-12-12,
    .unit-md-1-24,
    .unit-md-2-24,
    .unit-md-3-24,
    .unit-md-4-24,
    .unit-md-5-24,
    .unit-md-6-24,
    .unit-md-7-24,
    .unit-md-8-24,
    .unit-md-9-24,
    .unit-md-10-24,
    .unit-md-11-24,
    .unit-md-12-24,
    .unit-md-13-24,
    .unit-md-14-24,
    .unit-md-15-24,
    .unit-md-16-24,
    .unit-md-17-24,
    .unit-md-18-24,
    .unit-md-19-24,
    .unit-md-20-24,
    .unit-md-21-24,
    .unit-md-22-24,
    .unit-md-23-24,
    .unit-md-24-24 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    .unit-md-1-24 {
        width: 4.1667%;
    }

    .unit-md-1-12,
    .unit-md-2-24 {
        width: 8.3333%;
    }

    .unit-md-1-8,
    .unit-md-3-24 {
        width: 12.5000%;
    }

    .unit-md-1-6,
    .unit-md-2-12,
    .unit-md-4-24 {
        width: 16.6667%;
    }

    .unit-md-1-5 {
        width: 20%;
    }

    .unit-md-5-24 {
        width: 20.8333%;
    }

    .unit-md-1-4,
    .unit-md-3-12,
    .unit-md-6-24 {
        width: 25%;
    }

    .unit-md-7-24 {
        width: 29.1667%;
    }

    .unit-md-1-3,
    .unit-md-4-12,
    .unit-md-8-24 {
        width: 33.3333%;
    }

    .unit-md-3-8,
    .unit-md-9-24 {
        width: 37.5000%;
    }

    .unit-md-2-5 {
        width: 40%;
    }

    .unit-md-5-12,
    .unit-md-10-24 {
        width: 41.6667%;
    }

    .unit-md-11-24 {
        width: 45.8333%;
    }

    .unit-md-1-2,
    .unit-md-6-12,
    .unit-md-12-24 {
        width: 50%;
    }

    .unit-md-13-24 {
        width: 54.1667%;
    }

    .unit-md-7-12,
    .unit-md-14-24 {
        width: 58.3333%;
    }

    .unit-md-3-5 {
        width: 60%;
    }

    .unit-md-5-8,
    .unit-md-15-24 {
        width: 62.5000%;
    }

    .unit-md-2-3,
    .unit-md-8-12,
    .unit-md-16-24 {
        width: 66.6667%;
    }

    .unit-md-17-24 {
        width: 70.8333%;
    }

    .unit-md-3-4,
    .unit-md-9-12,
    .unit-md-18-24 {
        width: 75%;
    }

    .unit-md-19-24 {
        width: 79.1667%;
    }

    .unit-md-4-5 {
        width: 80%;
    }

    .unit-md-5-6,
    .unit-md-10-12,
    .unit-md-20-24 {
        width: 83.3333%;
    }

    .unit-md-7-8,
    .unit-md-21-24 {
        width: 87.5000%;
    }

    .unit-md-11-12,
    .unit-md-22-24 {
        width: 91.6667%;
    }

    .unit-md-23-24 {
        width: 95.8333%;
    }

    .unit-md-1,
    .unit-md-1-1,
    .unit-md-5-5,
    .unit-md-12-12,
    .unit-md-24-24 {
        width: 100%;
    }
}

@media screen and (min-width: 64em) {
    .unit-lg-1,
    .unit-lg-1-1,
    .unit-lg-1-2,
    .unit-lg-1-3,
    .unit-lg-2-3,
    .unit-lg-1-4,
    .unit-lg-3-4,
    .unit-lg-1-5,
    .unit-lg-2-5,
    .unit-lg-3-5,
    .unit-lg-4-5,
    .unit-lg-5-5,
    .unit-lg-1-6,
    .unit-lg-5-6,
    .unit-lg-1-8,
    .unit-lg-3-8,
    .unit-lg-5-8,
    .unit-lg-7-8,
    .unit-lg-1-12,
    .unit-lg-2-12,
    .unit-lg-3-12,
    .unit-lg-4-12,
    .unit-lg-5-12,
    .unit-lg-6-12,
    .unit-lg-7-12,
    .unit-lg-8-12,
    .unit-lg-9-12,
    .unit-lg-10-12,
    .unit-lg-11-12,
    .unit-lg-12-12,
    .unit-lg-1-24,
    .unit-lg-2-24,
    .unit-lg-3-24,
    .unit-lg-4-24,
    .unit-lg-5-24,
    .unit-lg-6-24,
    .unit-lg-7-24,
    .unit-lg-8-24,
    .unit-lg-9-24,
    .unit-lg-10-24,
    .unit-lg-11-24,
    .unit-lg-12-24,
    .unit-lg-13-24,
    .unit-lg-14-24,
    .unit-lg-15-24,
    .unit-lg-16-24,
    .unit-lg-17-24,
    .unit-lg-18-24,
    .unit-lg-19-24,
    .unit-lg-20-24,
    .unit-lg-21-24,
    .unit-lg-22-24,
    .unit-lg-23-24,
    .unit-lg-24-24 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    .unit-lg-1-24 {
        width: 4.1667%;
    }

    .unit-lg-1-12,
    .unit-lg-2-24 {
        width: 8.3333%;
    }

    .unit-lg-1-8,
    .unit-lg-3-24 {
        width: 12.5000%;
    }

    .unit-lg-1-6,
    .unit-lg-2-12,
    .unit-lg-4-24 {
        width: 16.6667%;
    }

    .unit-lg-1-5 {
        width: 20%;
    }

    .unit-lg-5-24 {
        width: 20.8333%;
    }

    .unit-lg-1-4,
    .unit-lg-3-12,
    .unit-lg-6-24 {
        width: 25%;
    }

    .unit-lg-7-24 {
        width: 29.1667%;
    }

    .unit-lg-1-3,
    .unit-lg-4-12,
    .unit-lg-8-24 {
        width: 33.3333%;
    }

    .unit-lg-3-8,
    .unit-lg-9-24 {
        width: 37.5000%;
    }

    .unit-lg-2-5 {
        width: 40%;
    }

    .unit-lg-5-12,
    .unit-lg-10-24 {
        width: 41.6667%;
    }

    .unit-lg-11-24 {
        width: 45.8333%;
    }

    .unit-lg-1-2,
    .unit-lg-6-12,
    .unit-lg-12-24 {
        width: 50%;
    }

    .unit-lg-13-24 {
        width: 54.1667%;
    }

    .unit-lg-7-12,
    .unit-lg-14-24 {
        width: 58.3333%;
    }

    .unit-lg-3-5 {
        width: 60%;
    }

    .unit-lg-5-8,
    .unit-lg-15-24 {
        width: 62.5000%;
    }

    .unit-lg-2-3,
    .unit-lg-8-12,
    .unit-lg-16-24 {
        width: 66.6667%;
    }

    .unit-lg-17-24 {
        width: 70.8333%;
    }

    .unit-lg-3-4,
    .unit-lg-9-12,
    .unit-lg-18-24 {
        width: 75%;
    }

    .unit-lg-19-24 {
        width: 79.1667%;
    }

    .unit-lg-4-5 {
        width: 80%;
    }

    .unit-lg-5-6,
    .unit-lg-10-12,
    .unit-lg-20-24 {
        width: 83.3333%;
    }

    .unit-lg-7-8,
    .unit-lg-21-24 {
        width: 87.5000%;
    }

    .unit-lg-11-12,
    .unit-lg-22-24 {
        width: 91.6667%;
    }

    .unit-lg-23-24 {
        width: 95.8333%;
    }

    .unit-lg-1,
    .unit-lg-1-1,
    .unit-lg-5-5,
    .unit-lg-12-12,
    .unit-lg-24-24 {
        width: 100%;
    }
}

@media screen and (min-width: 75em) {
    .unit-xl-1,
    .unit-xl-1-1,
    .unit-xl-1-2,
    .unit-xl-1-3,
    .unit-xl-2-3,
    .unit-xl-1-4,
    .unit-xl-3-4,
    .unit-xl-1-5,
    .unit-xl-2-5,
    .unit-xl-3-5,
    .unit-xl-4-5,
    .unit-xl-5-5,
    .unit-xl-1-6,
    .unit-xl-5-6,
    .unit-xl-1-8,
    .unit-xl-3-8,
    .unit-xl-5-8,
    .unit-xl-7-8,
    .unit-xl-1-12,
    .unit-xl-2-12,
    .unit-xl-3-12,
    .unit-xl-4-12,
    .unit-xl-5-12,
    .unit-xl-6-12,
    .unit-xl-7-12,
    .unit-xl-8-12,
    .unit-xl-9-12,
    .unit-xl-10-12,
    .unit-xl-11-12,
    .unit-xl-12-12,
    .unit-xl-1-24,
    .unit-xl-2-24,
    .unit-xl-3-24,
    .unit-xl-4-24,
    .unit-xl-5-24,
    .unit-xl-6-24,
    .unit-xl-7-24,
    .unit-xl-8-24,
    .unit-xl-9-24,
    .unit-xl-10-24,
    .unit-xl-11-24,
    .unit-xl-12-24,
    .unit-xl-13-24,
    .unit-xl-14-24,
    .unit-xl-15-24,
    .unit-xl-16-24,
    .unit-xl-17-24,
    .unit-xl-18-24,
    .unit-xl-19-24,
    .unit-xl-20-24,
    .unit-xl-21-24,
    .unit-xl-22-24,
    .unit-xl-23-24,
    .unit-xl-24-24 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    .unit-xl-1-24 {
        width: 4.1667%;
    }

    .unit-xl-1-12,
    .unit-xl-2-24 {
        width: 8.3333%;
    }

    .unit-xl-1-8,
    .unit-xl-3-24 {
        width: 12.5000%;
    }

    .unit-xl-1-6,
    .unit-xl-2-12,
    .unit-xl-4-24 {
        width: 16.6667%;
    }

    .unit-xl-1-5 {
        width: 20%;
    }

    .unit-xl-5-24 {
        width: 20.8333%;
    }

    .unit-xl-1-4,
    .unit-xl-3-12,
    .unit-xl-6-24 {
        width: 25%;
    }

    .unit-xl-7-24 {
        width: 29.1667%;
    }

    .unit-xl-1-3,
    .unit-xl-4-12,
    .unit-xl-8-24 {
        width: 33.3333%;
    }

    .unit-xl-3-8,
    .unit-xl-9-24 {
        width: 37.5000%;
    }

    .unit-xl-2-5 {
        width: 40%;
    }

    .unit-xl-5-12,
    .unit-xl-10-24 {
        width: 41.6667%;
    }

    .unit-xl-11-24 {
        width: 45.8333%;
    }

    .unit-xl-1-2,
    .unit-xl-6-12,
    .unit-xl-12-24 {
        width: 50%;
    }

    .unit-xl-13-24 {
        width: 54.1667%;
    }

    .unit-xl-7-12,
    .unit-xl-14-24 {
        width: 58.3333%;
    }

    .unit-xl-3-5 {
        width: 60%;
    }

    .unit-xl-5-8,
    .unit-xl-15-24 {
        width: 62.5000%;
    }

    .unit-xl-2-3,
    .unit-xl-8-12,
    .unit-xl-16-24 {
        width: 66.6667%;
    }

    .unit-xl-17-24 {
        width: 70.8333%;
    }

    .unit-xl-3-4,
    .unit-xl-9-12,
    .unit-xl-18-24 {
        width: 75%;
    }

    .unit-xl-19-24 {
        width: 79.1667%;
    }

    .unit-xl-4-5 {
        width: 80%;
    }

    .unit-xl-5-6,
    .unit-xl-10-12,
    .unit-xl-20-24 {
        width: 83.3333%;
    }

    .unit-xl-7-8,
    .unit-xl-21-24 {
        width: 87.5000%;
    }

    .unit-xl-11-12,
    .unit-xl-22-24 {
        width: 91.6667%;
    }

    .unit-xl-23-24 {
        width: 95.8333%;
    }

    .unit-xl-1,
    .unit-xl-1-1,
    .unit-xl-5-5,
    .unit-xl-12-12,
    .unit-xl-24-24 {
        width: 100%;
    }
}