// Module: Icons
// Project: WFPUI
// Author: Matthew Morek (me@matthewmorek.com)
// URL: http://matthewmorek.com

@import "../icons/icons-light";
@import "../icons/icons-dark";
@import "../icons/icons-primary";

$icon-sizes: (
  xsmall:   1rem,
  small:    1.5rem,
  medium:   2rem,
  large:    3rem,
  xlarge:   4rem
);

@mixin icon {
  @include display(inline-block);
  @include v-align(middle);
  background-position: center;
}

@mixin icon-size($size: xsmall) {
  width: map-get($icon-sizes, $size);
  height: map-get($icon-sizes, $size);
  background-size: map-get($icon-sizes, $size);
}
