// Module: Icons
// Project: WFPUI
// Author: Matthew Morek (me@matthewmorek.com)
// URL: http://matthewmorek.com

@import "icons/icons-light";
@import "icons/icons-dark";
@import "icons/icons-primary";

@mixin icon {
  display: inline-block;
  background-position: center;
  vertical-align: middle;

  &.xsmall {
    width: 16px;
    height: 16px;
    background-size: 16px;
  }

  &.small {
    width: 24px;
    height: 24px;
    background-size: 24px;
  }

  &.medium {
    width: 32px;
    height: 32px;
    background-size: 32px;
  }

  &.large {
    width: 48px;
    height: 48px;
    background-size: 48px;
  }

  &.xlarge {
    width: 64px;
    height: 64px;
    background-size: 64px;
  }
}

[class^="icon-"] {
  @include icon;
  width: 24px;
  height: 24px;
}

[class^="thematic-"] {
  @include icon;
  width: 64px;
  height: 64px;
}

// Make icon-only links accessible (i.e.: breadcrumb "home" link)
.screen-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
