// Module: Mixins
// Project: WFPUI
// Author: Matthew Morek (me@matthewmorek.com)
// URL: http://matthewmorek.com

@import "flexbox";

@mixin media-query($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

// Transition Mixins
@mixin transition-property($property...) {
  transition-property: $property;
}

@mixin transition-duration($duration...) {
  transition-duration: $duration;
}

@mixin transition-delay($delay...) {
  transition-delay: $delay;
}

@mixin transition-timing-function($timing...) {
  transition-timing-function: $timing;
}

@mixin transition($properties...) {
  transition: $properties;
}

// -----------------------------------------------------------------------------
// Grid
// -----------------------------------------------------------------------------
@mixin grid--wrapper {
  letter-spacing: -0.31em; // Webkit: collapse white-space between units
  text-rendering: optimizespeed; // Webkit: fixes text-rendering: optimizeLegibility
  font-family: FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif;
  display: -webkit-flex;
  // IE10 uses display: flexbox
  display: -ms-flexbox;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  // Prevents distributing space between rows
  -ms-align-content: flex-start;
  -webkit-align-content: flex-start;
  align-content: flex-start;
}

@mixin grid--unit {
  display: inline-block;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}

@mixin grid {
  @include grid--wrapper;

  &[class*="wfp-u-"] {
    font-family: $sans-serif-stack;
  }
}
