// Module: Print Styles
// Project: WFP UI
// Author: Matthew Morek (me@matthewmorek.com)
// URL: http://matthewmorek.com

@media print {
  * {
    color: $black;
    box-shadow: none;
    text-shadow: none;
    -webkit-print-color-adjust: exact;
  }

  a,
  a:visited {
    text-decoration: underline;
    color: darken($primary, 12%);
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  // Don't show links for images, or javascript/internal links
  .ir {
    a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
      content: "";
    }
  }

  pre,
  blockquote {
    border-left: 6px solid $grey-light;
    page-break-before: auto;
    page-break-inside: avoid;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img,
  figure {
    display: block;
    page-break-before: auto;
    page-break-after: auto;
    page-break-inside: avoid;
  }

  figure {
    &.picture {
      margin: 0 auto;
    }
  }

  img {
    max-width: 100%;
    vertical-align: bottom;
  }

  @page {
    size: A4 portrait;
    margin: 1cm;
  }

  p,
  h1,
  h2,
  h3,
  h4 {
    orphans: 3;
    widows: 3;
  }

  h1,
  h2,
  h3,
  h4 {
    page-break-before: always;
    page-break-after: avoid;
    page-break-inside: avoid;
  }

  .wfp-header-spacer--narrow {
    padding: 0;
    overflow: visible;
  }

  // Hide certain UI components
  .wfp-header-int,
  .wfp-header-ext,
  .wfp-footer--mini {
    display: none;
  }

  .wfp-menu {
    display: none;
  }

  // Manually select which elements to hide for printing
  .dont-print {
    display: none;
  }
}
