// Module: Utility
// Project: WFP UI
// Author: Matthew Morek (me@matthewmorek.com)
// URL: http://matthewmorek.com

// -----------------------------------------------------------------------------
// Text manipulation
// -----------------------------------------------------------------------------
%text-left,
.text-left {
  text-align: left;
}
%text-center,
.text-center {
  text-align: center;
}
%text-right,
.text-right {
  text-align: right;
}

// Transformations
%caps,
.caps {
  text-transform: capitalize;
}
%all-caps,
.all-caps {
  text-transform: uppercase;
}

// -----------------------------------------------------------------------------
// Clearfix
// -----------------------------------------------------------------------------
%clearfix,
.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}