// Module: Utility
// Project: WFP UI
// Author: Matthew Morek (me@matthewmorek.com)
// URL: http://matthewmorek.com

// -----------------------------------------------------------------------------
// Text manipulation
// -----------------------------------------------------------------------------
%text-left {
  text-align: left;
}

%text-center {
  text-align: center;
}

%text-right {
  text-align: right;
}

// Transformations
%caps {
  text-transform: capitalize;
}

%allcaps {
  text-transform: uppercase;
}

// -----------------------------------------------------------------------------
// Reset Lists
// -----------------------------------------------------------------------------
%nolist {
  list-style: none;
  padding: 0;
  margin: 0;
}

// -----------------------------------------------------------------------------
// Utility Band (for breadcrumbs, etc.)
// -----------------------------------------------------------------------------
%band {
  background: $white;
  border-bottom: 1px solid $grey-contrast;
  box-shadow: 0 1px 3px 0 rgba($black, 0.1);
}

// -----------------------------------------------------------------------------
// Clearfix
// -----------------------------------------------------------------------------
%clearfix,
.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// -----------------------------------------------------------------------------
// Wrappers
// -----------------------------------------------------------------------------
%wrapper {
  margin: 0 auto;
  max-width: $content-width;
  padding: 1em;

  @include media-query($content-width) {
    padding: 1em 0;
  }

  @include media-query($xl-screen) {
    max-width: $max-content-width;
  }
}

%content-wrapper {
  display: block;
  padding: 0.125em;
}

%logo-wrapper {
  display: block;
  padding: 1em;
}

%overflow-wrapper {
  overflow: auto;
  overflow-x: scroll;
  white-space: nowrap;
  word-wrap: normal;
}

.wfp-wrapper {
  @extend %wrapper;
}

.wfp-wrapper-tight {
  @extend %wrapper;
  padding: 0 1em;

  @include media-query($content-width) {
    padding: 0;
  }
}

.wfp-logo-wrapper {
  @extend %logo-wrapper;
}

.wfp-content-wrapper {
  @extend %content-wrapper;
}

.wfp-overflow-wrapper {
  @extend %overflow-wrapper;
}

@include media-query($md-screen) {
  .wfp-box {
    padding: 1em;

    &:only-child {
      padding-left: 0;
      padding-right: 0;
    }

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  .wfp-box--flat {
    padding: 0 1em;
  }
}

@include media-query($xl-screen) {
  .wfp-box {
    padding: 1.25em;
  }

  .wfp-box--flat {
    padding: 0 1.25em;
  }
}

// -----------------------------------------------------------------------------
// CSS Declarations
// -----------------------------------------------------------------------------
.wfp-text-left {
  @extend %text-left;
}

.wfp-text-right {
  @extend %text-right;
}

.wfp-text-center {
  @extend %text-center;
}

.wfp-caps {
  @extend %caps;
}

.wfp-allcaps {
  @extend %allcaps;
}

.wfp-nolist {
  @extend %nolist;
}

.wfp-band {
  @extend %band;
}
