// Module: Utility
// Project: WFP UI

// -----------------------------------------------------------------------------
// Tints
// -----------------------------------------------------------------------------
@mixin tint--static {
  @extend .bg-tint-5;
  width: 100%;
}

@mixin tint--dynamic {
  @include tint--static;
  transition: background-color 0.125s ease-in;

  &:hover {
    @extend .bg-tint-8;
  }
}

// -----------------------------------------------------------------------------
// Reset Lists
// -----------------------------------------------------------------------------
@mixin nolist {
  list-style: none;
  padding: 0;
  margin: 0;
}

// -----------------------------------------------------------------------------
// Utility Band (for breadcrumbs, etc.)
// -----------------------------------------------------------------------------
@mixin band {
  padding: 0.25rem 0;
  background: $white;
  border-bottom: 1px solid $grey-contrast;
  box-shadow: 0 1px 3px 0 rgba($black, 0.1);
}

// -----------------------------------------------------------------------------
// Wrappers
// -----------------------------------------------------------------------------
@mixin wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: $content-width;

  @include media-query($xl-screen) {
    max-width: $max-content-width;
  }
}

@mixin content-wrapper {
  display: block;
  padding: 0.25rem 0;
}

@mixin logo-wrapper {
  display: block;
  padding: 1rem;
}

@mixin overflow-wrapper {
  overflow: auto;
  overflow-x: scroll;
  white-space: nowrap;
  word-wrap: normal;
}

@mixin wrapper--narrow {
  margin: 0 auto;
  max-width: $md-screen;
  padding: 1rem 0;

  @include media-query($md-screen) {
    padding: 2rem 0;
  }

  @include media-query($lg-screen) {
    padding: 3rem 0;
  }
}
