// Module: Colours
// Project: WFP UI
// Author: Matthew Morek (me@matthewmorek.com)
// URL: http://matthewmorek.com

@mixin color--light {
  color: $white;
}

@mixin color--dark {
  color: $text-color;
}

@mixin color--primary {
  color: darken($primary, 12%);
}

// -----------------------------------------------------------------------------
// Background Colours
// -----------------------------------------------------------------------------

@mixin bg-color($color, $fallback, $opacity) {
  background-color: $fallback;
  background-color: rgba($color, $opacity);
}
