@import '../../globals/scss/vars';
@import '../../globals/scss/colors';
@import '../../globals/scss/typography';
@import '../../globals/scss/spacing';
@import '../../globals/scss/import-once';
@import '../../globals/scss/css--reset';

@include exports('sidebar-content') {
  .#{$prefix}--sidebar-content__container {
    display: flex;
    width: 100%;
    //background-color: var(--ui-02);
    height: 100vh;
    position: relative;
  }

  .#{$prefix}--sidebar-content__header {
    padding: 1em;
    background-color: var(--ui-02);
    border-bottom: 1px solid var(--ui-03);
  }

  .#{$prefix}--sidebar-children-content{
    background-color:var(--ui-01);
    height:100vh
  }
  

  .#{$prefix}--sidebar-item-content {
    width: 35%;
    @include breakpointMax(bp--sm--major) {
      width: 100%;
    }
    border-right: 1px solid var(--ui-04);
    overflow: scroll;
  }
  .#{$prefix}--content-section {
    width: 65%;
    overflow: auto;
    @include breakpointMax(bp--sm--major) {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      transition: all 0.3s cubic-bezier(0.25, 1, 0.5, 1);
      z-index: 100;
      transform: translate(100%);
      .#{$prefix}--sidebar-content__container-active & {
        transform: translate(0%);
      }
    }
    .#{$prefix}--sidebar-content-mobile-header {
      display: none;
      @include breakpointMax(bp--sm--major) {
        display: block;
        padding: 1em;
        display: flex;
        justify-content: space-between;
        background: var(--ui-01);
        border-bottom: 1px solid var(--ui-02);
      }
    }
  }
  .#{$prefix}--sidebar-content__back-button {
    font-weight: 500;
    color: var(--interactive-01);
    cursor: pointer;
    svg {
      margin-right: 0.3em;
      path {
        fill: var(--interactive-01);
      }
    }
  }
}
