/*
@import '../../globals/scss/vars';
@import '../../globals/scss/colors';
@import '../../globals/scss/typography';
@import '../../globals/scss/spacing';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/vendor/@un/import-once/scss/import-once';
@import '../../globals/scss/css--reset';

@include exports('user-icon') {
  .#{$prefix}--user {
    display: flex;
    align-items: center;
  }

  .#{$prefix}--user__icon {
    @include reset;
    width: rem(25px);
    height: rem(25px);
    border-radius: 50%;
    margin-right: rem(10px);
    overflow: hidden;

    > img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    .#{$prefix}--user--has-description & {
      width: rem(60px);
      height: rem(60px);
      margin-right: $spacing-lg;

      @include rtl {
        margin-left: $spacing-lg;
        margin-right: inherit;
      }
    }

    @include rtl {
      margin-left: rem(10px);
      margin-right: inherit;
    }
  }

  .#{$prefix}--user__icon--empty {
    border-radius: 50%;
    background-size: 100%;
    border: 2px solid white;
    background-color: $color__navy-gray-7;
    text {
      fill: var(--ui-01);
      font-weight: 600;
      font-family: 'Arial';
    }
  }

  .#{$prefix}--user__description {
    @include typescale('delta');
    //color: var(--text-02);
  }

  .#{$prefix}--user__extended-description {
    margin-left: $spacing-lg;
    @include typescale('delta');
    //color: var(--text-02);
  }

  .#{$prefix}--user__title {
    > span {
      .#{$prefix}--user--has-description & {
        font-weight: bold;
        line-height: 1.4em;
      }
    }
  }

  .#{$prefix}--user__title--ellipsis {
    display: inline-block;
    // @include breakpoint-between(bp--sm--major, bp--md--major) {
    //   max-width: 130px;
    //   border: 1px solid red;
    // }

    overflow: hidden;
    line-height: 1.5;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .#{$prefix}--user__title--small {
    @include breakpoint(bp--md--major) {
      display: none;
    }
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .#{$prefix}--user__title--ellipsis {
    max-width: 70px;
  }
}
*/
