@import '../../globals/scss/colors';
@import '../../globals/scss/vars';
@import '../../globals/scss/layout';
@import '../../globals/scss/typography';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/import-once';
@import '../../globals/scss/css--reset';
@import '../../globals/scss/text-gradient';

.dhd {
  background-color: #404952;
  color: #fff;
  font-size: 10px;
  padding: 8px;
}
