@import '../../globals/scss/colors';
@import '../../globals/scss/vars';
@import '../../globals/scss/layout';
@import '../../globals/scss/typography';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/import-once';
@import '../../globals/scss/css--reset';
@import '../../globals/scss/text-gradient';

.#{$prefix}--card-box {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.15);
  // font-size: 12px;
}

.#{$prefix}--photo-cardnew--text-card {
  padding: 1rem;
}

.#{$prefix}--photo-cardnew__info__metadata {
  margin: 0;
  margin-bottom: $spacing-2xs;
  @include typescale('omega');
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.#{$prefix}--photo-cardnew__info__subtitle {
  margin: 0;
  @include typescale('zeta');
}

.#{$prefix}--photo-cardnew__info__title {
  margin: 0;
  /* @include typescale('zeta');
  text-transform: uppercase;
  letter-spacing: 0.05em; */
  & + .#{$prefix}--photo-cardnew__info__subtitle {
    margin-top: $spacing-xs;
  }
}
