@use '../../../colors' as *;
@use '../../../config' as *;
@use '../../../motion' as *;
@use '../../../theme' as *;

$datepicker__background-color: $layer-primary !default;
$datepicker__border-color: $border-strong !default;
$datepicker__highlighted-color: $interactive !default;
$datepicker__muted-color: $text-secondary !default;
$datepicker__selected-color: $interactive !default;
$datepicker__text-color: $text-primary !default;
$datepicker__header-color: $text-primary !default;
$datepicker__navigation-disabled-color: $layer-accent-active;

$datepicker__border-radius: 0.3rem !default;
$datepicker__day-margin: 0.166rem !default;
$datepicker__font-size: 0.8rem !default;
$datepicker__item-size: 1.7rem !default;
$datepicker__margin: 0.4rem !default;
$datepicker__navigation-button-size: 32px !default;
$datepicker__triangle-size: 8px !default;
