@use '../../../colors' as *;
@use '../../../config' as *;
@use '../../../motion' as *;
@use '../../../compat/theme' as *;
/*@use '../../spacing' as *;
@use '../../type' as *;
@use '../../utilities/component-reset';
@use '../../utilities/convert' as *;
@use '../../utilities/focus-outline' as *;
@use '../../utilities/high-contrast-mode' as *;
@use '../../utilities/placeholder-colors' as *;
@use '../../utilities/skeleton' as *;*/

$datepicker__background-color: $layer !default;
$datepicker__border-color: $border-strong !default;
$datepicker__highlighted-color: #3dcc4a !default;
$datepicker__muted-color: $interactive !default;
$datepicker__selected-color: $interactive !default;
$datepicker__text-color: #000 !default;
$datepicker__header-color: #000 !default;
$datepicker__navigation-disabled-color: $layer-accent-active;

$datepicker__border-radius: 0.3rem !default;
$datepicker__day-margin: 0.166rem !default;
$datepicker__font-size: 0.8rem !default;
$datepicker__font-family: /*@include wfp--font-family('sans'); */ 'Helvetica Neue',
  helvetica, arial, sans-serif !default;
$datepicker__item-size: 1.7rem !default;
$datepicker__margin: 0.4rem !default;
$datepicker__navigation-button-size: 32px !default;
$datepicker__triangle-size: 8px !default;
