// Typography: Leading/Line-height
// Project: WFP UI



@mixin lh-default { line-height: 1; }
@mixin lh-heading { line-height: 1.250; }
@mixin lh-body    { line-height: 1.500; }

@mixin lh-scale($ratio: 1)   {
  line-height: $base-line-height * $ratio;
}
