// Typography: Sizes
// Project: WFP UI
// Author: Matthew Morek (me@matthewmorek.com)
// URL: http://matthewmorek.com

$fs: (
  1: 3rem,
  2: 2.25rem,
  3: 1.5rem,
  4: 1.25rem,
  5: 1rem,
  6: 0.875rem
);

@mixin fs($size) {
  font-size: map-get($fs, $size);
}

@mixin font-size($size) {
  font-size: #{$size}rem;
}
