// Typography: Tracking
// Project: WFP UI
// Author: Matthew Morek (me@matthewmorek.com)
// URL: http://matthewmorek.com

$spaces: (
  tight: -0.03em,
  loose:  0.16em,
  xloose: 0.32em
);

@mixin tracking($spacing) {
  letter-spacing: map-get($spaces, $spacing);
}
