// Typography: Transforms
// Project: WFP UI



@mixin t-caps {
  text-transform: capitalize;
}

@mixin t-allcaps {
  text-transform: uppercase;
}

@mixin t-lowcase {
  text-transform: lowercase;
}

@mixin t-firstcap {
  &::first-letter {
    text-transform: capitalize;
  }
}
