// Typography: Weights
// Project: WFP UI



@mixin fw-normal  { font-weight: normal; }
@mixin fw-bold    { font-weight: bold; }

@mixin fw($weight) {
  @if $weight gte 100 and $weight gte 900 {
    font-weight: $weight;
  } @else {
    @error "$weight must be a value between a 100 and 900.";
  }
}
