//-----------------------------
// Modules
//-----------------------------

@import '../../globals/scss/vars';
@import '../../globals/scss/colors';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/layer';
@import '../../globals/scss/typography';
@import '../../globals/scss/import-once';
@import '../../globals/scss/css--reset';
@import '../../globals/scss/css--typography';

@include exports('modules') {
  .#{$prefix}--module__background {
    background-color: var(--ui-02);
  }

  .#{$prefix}--module {
    @include reset;
    @include font-family;
    display: flex;
    flex-direction: column;
    padding: rem(16px);
    //flex: 1 0 auto;
    margin: 0;

    .#{$prefix}--module__inner {
      @include layer('raised');
      box-shadow: 0px 1px 4px rgba(#000000, 0.05),
        0px 25px 30px -15px rgba(#000000, 0.1);
      background-color: var(--ui-01);
      border-radius: 3px;
      width: 100%;
    }

    .#{$prefix}--module__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.9rem 1.2rem 0.8rem;
      border-bottom: 1px solid var(--ui-04);
    }

    .#{$prefix}--module__filter {
      display: flex;
    }

    .#{$prefix}--module__footer {
      display: flex;
      align-items: center;
      padding: 0.7rem 1.2rem;
      border-top: 1px solid var(--ui-04);
      @include typescale('omega');
    }

    .#{$prefix}--module__title {
      @include typescale('epsilon');
      @include font-smoothing;
      letter-spacing: 0;
      font-weight: 600;
      color: var(--text-01);
    }

    .#{$prefix}--module__content {
      /*display: flex;
      flex-direction: column;
      align-items: flex-start;*/
      flex: 3;
      padding: 0.8rem 1.2rem;
      > * {
        &:first-child {
          margin-top: 0;
        }
        &:last-child {
          margin-top: 0;
        }
      }
      /*p {
        @include typescale('zeta');
      }*/
    }

    // > IE11 TODO: Remove when IE11 support dropped
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      //_:-ms-fullscreen,
      //:root  {
    }

    // Edge
    /*@supports (-ms-accelerator:true) {
      .#{$prefix}--module__content {
        flex: 3;
      }
    }*/

    .#{$prefix}--module__content--centered {
      align-items: center;
      justify-content: center;
      padding: 5rem;
    }

    .#{$prefix}--module__content--no-padding {
      padding: 0;
    }

    .#{$prefix}--module__content--scrollable {
      max-height: rem(300px);
      overflow-y: scroll;
      margin-bottom: 2rem;
    }
  }

  .#{$prefix}--module--light {
    .#{$prefix}--module__inner {
      box-shadow: none;
      border: 2px solid rgba(#000, 0.1);
    }

    &.#{$prefix}--module--with-hover {
      cursor: pointer;
      &:hover {
        .#{$prefix}--module__inner {
          border-color: var(--interactive-01);
        }
      }
    }
  }

  .#{$prefix}--module--full-height {
    height: 100%;
    .#{$prefix}--module__inner {
      height: 100%;
    }
  }

  .#{$prefix}--module--dark {
    .#{$prefix}--module__inner {
      box-shadow: none;
      background: var(--brand-01);
      color: var(--ui-01);
    }

    .#{$prefix}--module__header {
      border-bottom-color: rgba(var(--ui-01), 0.1);
    }

    .#{$prefix}--module__footer {
      border-top-color: rgba(var(--ui-01), 0.1);
    }

    .#{$prefix}--module__title {
      color: var(--ui-01);
    }
  }
}

.#{$prefix}--module--no-margin {
  padding: 0;
}

// > IE11 TODO: Remove when IE11 support dropped
_:-ms-fullscreen,
:root {
  .#{$prefix}--module__inner {
    position: relative;
  }

  .#{$prefix}--module__content {
    padding-bottom: 4rem;
    overflow: hidden;
  }

  // Footer at bottom
  .#{$prefix}--module__footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .#{$prefix}--module__content {
    flex: inherit;
  }
}
