<div class="wfp--theme-light wfp--theme-en">
    <label class="wfp--label" for="input">{{labelText}} <div class="wfp--form-hint wfp--tooltip--trigger">
    <svg fill-rule="evenodd" height="15" viewBox="0 0 16 16" width="15" aria-label="The hint text" alt="The hint text">
        <title>{{children}}</title>
        <path d="M8 16A8 8 0 118 0a8 8 0 010 16zm1-3V7H7v6h2zM8 5a1 1 0 100-2 1 1 0 000 2z"></path>
      </svg>
    </div>
    </label>
</div>