//-----------------------------
// Credits
//-----------------------------
/*
@import '../../globals/scss/colors';
@import '../../globals/scss/vars';
@import '../../globals/scss/layout';
@import '../../globals/scss/typography';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/vendor/@unitednations/import-once/scss/import-once';
@import '../../globals/scss/css--reset';

@include exports('credits') {
  .#{$prefix}--credits {
    @include reset;
    position: relative;
    > img {
      width: 100%;
    }
  }

  .#{$prefix}--credits__info {
    position: absolute;
    top: 0;
    right: 0;
    padding: rem(5px) rem(7px);
    color: $color__white;
    background: rgba(#000000, 0.5);
  }
}
*/
