.thematic-affected-population-neg { background-image: url('png/affected-population-neg.png'); background-repeat: no-repeat; }

.thematic-affected-population-pos { background-image: url('png/affected-population-pos.png'); background-repeat: no-repeat; }

.thematic-aids-neg { background-image: url('png/aids-neg.png'); background-repeat: no-repeat; }

.thematic-aids-pos { background-image: url('png/aids-pos.png'); background-repeat: no-repeat; }

.thematic-airport-neg { background-image: url('png/airport-neg.png'); background-repeat: no-repeat; }

.thematic-airport-pos { background-image: url('png/airport-pos.png'); background-repeat: no-repeat; }

.thematic-beneficiary-neg { background-image: url('png/beneficiary-neg.png'); background-repeat: no-repeat; }

.thematic-beneficiary-pos { background-image: url('png/beneficiary-pos.png'); background-repeat: no-repeat; }

.thematic-capacity-building-neg { background-image: url('png/capacity-building-neg.png'); background-repeat: no-repeat; }

.thematic-capacity-building-pos { background-image: url('png/capacity-building-pos.png'); background-repeat: no-repeat; }

.thematic-cash-neg { background-image: url('png/cash-neg.png'); background-repeat: no-repeat; }

.thematic-cash-pos { background-image: url('png/cash-pos.png'); background-repeat: no-repeat; }

.thematic-civil-military-coordination-neg { background-image: url('png/civil-military-coordination-neg.png'); background-repeat: no-repeat; }

.thematic-civil-military-coordination-pos { background-image: url('png/civil-military-coordination-pos.png'); background-repeat: no-repeat; }

.thematic-conflict-neg { background-image: url('png/conflict-neg.png'); background-repeat: no-repeat; }

.thematic-conflict-pos { background-image: url('png/conflict-pos.png'); background-repeat: no-repeat; }

.thematic-contact-neg { background-image: url('png/contact-neg.png'); background-repeat: no-repeat; }

.thematic-contact-pos { background-image: url('png/contact-pos.png'); background-repeat: no-repeat; }

.thematic-drought-neg { background-image: url('png/drought-neg.png'); background-repeat: no-repeat; }

.thematic-drought-pos { background-image: url('png/drought-pos.png'); background-repeat: no-repeat; }

.thematic-earthquake-neg { background-image: url('png/earthquake-neg.png'); background-repeat: no-repeat; }

.thematic-earthquake-pos { background-image: url('png/earthquake-pos.png'); background-repeat: no-repeat; }

.thematic-emergency-response-neg { background-image: url('png/emergency-response-neg.png'); background-repeat: no-repeat; }

.thematic-emergency-response-pos { background-image: url('png/emergency-response-pos.png'); background-repeat: no-repeat; }

.thematic-emergencytelecom-neg { background-image: url('png/emergencytelecom-neg.png'); background-repeat: no-repeat; }

.thematic-emergencytelecom-pos { background-image: url('png/emergencytelecom-pos.png'); background-repeat: no-repeat; }

.thematic-evacuation-neg { background-image: url('png/evacuation-neg.png'); background-repeat: no-repeat; }

.thematic-evacuation-pos { background-image: url('png/evacuation-pos.png'); background-repeat: no-repeat; }

.thematic-evaluation-neg { background-image: url('png/evaluation-neg.png'); background-repeat: no-repeat; }

.thematic-evaluation-pos { background-image: url('png/evaluation-pos.png'); background-repeat: no-repeat; }

.thematic-floods-neg { background-image: url('png/floods-neg.png'); background-repeat: no-repeat; }

.thematic-floods-pos { background-image: url('png/floods-pos.png'); background-repeat: no-repeat; }

.thematic-food-distribution-neg { background-image: url('png/food-distribution-neg.png'); background-repeat: no-repeat; }

.thematic-food-distribution-pos { background-image: url('png/food-distribution-pos.png'); background-repeat: no-repeat; }

.thematic-food-for-assets-neg { background-image: url('png/food-for-assets-neg.png'); background-repeat: no-repeat; }

.thematic-food-for-assets-pos { background-image: url('png/food-for-assets-pos.png'); background-repeat: no-repeat; }

.thematic-food-neg { background-image: url('png/food-neg.png'); background-repeat: no-repeat; }

.thematic-food-pos { background-image: url('png/food-pos.png'); background-repeat: no-repeat; }

.thematic-food-security-cluster-neg { background-image: url('png/food-security-cluster-neg.png'); background-repeat: no-repeat; }

.thematic-food-security-cluster-pos { background-image: url('png/food-security-cluster-pos.png'); background-repeat: no-repeat; }

.thematic-gender-neg { background-image: url('png/gender-neg.png'); background-repeat: no-repeat; }

.thematic-gender-pos { background-image: url('png/gender-pos.png'); background-repeat: no-repeat; }

.thematic-logistics-cluster-neg { background-image: url('png/logistics-cluster-neg.png'); background-repeat: no-repeat; }

.thematic-logistics-cluster-pos { background-image: url('png/logistics-cluster-pos.png'); background-repeat: no-repeat; }

.thematic-medical-evacuations-neg { background-image: url('png/medical-evacuations-neg.png'); background-repeat: no-repeat; }

.thematic-medical-evacuations-pos { background-image: url('png/medical-evacuations-pos.png'); background-repeat: no-repeat; }

.thematic-monitoring-neg { background-image: url('png/monitoring-neg.png'); background-repeat: no-repeat; }

.thematic-monitoring-pos { background-image: url('png/monitoring-pos.png'); background-repeat: no-repeat; }

.thematic-nutrition-cluster-neg { background-image: url('png/nutrition-cluster-neg.png'); background-repeat: no-repeat; }

.thematic-nutrition-cluster-pos { background-image: url('png/nutrition-cluster-pos.png'); background-repeat: no-repeat; }

.thematic-p4p-neg { background-image: url('png/p4p-neg.png'); background-repeat: no-repeat; }

.thematic-p4p-pos { background-image: url('png/p4p-pos.png'); background-repeat: no-repeat; }

.thematic-partnership-neg { background-image: url('png/partnership-neg.png'); background-repeat: no-repeat; }

.thematic-partnership-pos { background-image: url('png/partnership-pos.png'); background-repeat: no-repeat; }

.thematic-population-displacement-neg { background-image: url('png/population-displacement-neg.png'); background-repeat: no-repeat; }

.thematic-population-displacement-pos { background-image: url('png/population-displacement-pos.png'); background-repeat: no-repeat; }

.thematic-population-return-neg { background-image: url('png/population-return-neg.png'); background-repeat: no-repeat; }

.thematic-population-return-pos { background-image: url('png/population-return-pos.png'); background-repeat: no-repeat; }

.thematic-power-plant-neg { background-image: url('png/power-plant-neg.png'); background-repeat: no-repeat; }

.thematic-power-plant-pos { background-image: url('png/power-plant-pos.png'); background-repeat: no-repeat; }

.thematic-procurement-neg { background-image: url('png/procurement-neg.png'); background-repeat: no-repeat; }

.thematic-procurement-pops { background-image: url('png/procurement-pops.png'); background-repeat: no-repeat; }

.thematic-protection-neg { background-image: url('png/protection-neg.png'); background-repeat: no-repeat; }

.thematic-protection-pos { background-image: url('png/protection-pos.png'); background-repeat: no-repeat; }

.thematic-public-information-neg { background-image: url('png/public-information-neg.png'); background-repeat: no-repeat; }

.thematic-public-information-pos { background-image: url('png/public-information-pos.png'); background-repeat: no-repeat; }

.thematic-refugee-camp-neg { background-image: url('png/refugee-camp-neg.png'); background-repeat: no-repeat; }

.thematic-refugee-camp-pos { background-image: url('png/refugee-camp-pos.png'); background-repeat: no-repeat; }

.thematic-resourcing-neg { background-image: url('png/resourcing-neg.png'); background-repeat: no-repeat; }

.thematic-resourcing-pos { background-image: url('png/resourcing-pos.png'); background-repeat: no-repeat; }

.thematic-school-feeding-neg { background-image: url('png/school-feeding-neg.png'); background-repeat: no-repeat; }

.thematic-school-feeding-pos { background-image: url('png/school-feeding-pos.png'); background-repeat: no-repeat; }

.thematic-security-neg { background-image: url('png/security-neg.png'); background-repeat: no-repeat; }

.thematic-security-pos { background-image: url('png/security-pos.png'); background-repeat: no-repeat; }

.thematic-ship-neg { background-image: url('png/ship-neg.png'); background-repeat: no-repeat; }

.thematic-ship-pos { background-image: url('png/ship-pos.png'); background-repeat: no-repeat; }

.thematic-truck-neg { background-image: url('png/truck-neg.png'); background-repeat: no-repeat; }

.thematic-truck-pos { background-image: url('png/truck-pos.png'); background-repeat: no-repeat; }

.thematic-vam-neg { background-image: url('png/vam-neg.png'); background-repeat: no-repeat; }

.thematic-vam-pos { background-image: url('png/vam-pos.png'); background-repeat: no-repeat; }

.thematic-voucher-neg { background-image: url('png/voucher-neg.png'); background-repeat: no-repeat; }

.thematic-voucher-pos { background-image: url('png/voucher-pos.png'); background-repeat: no-repeat; }

.thematic-warehouse-neg { background-image: url('png/warehouse-neg.png'); background-repeat: no-repeat; }

.thematic-warehouse-pos { background-image: url('png/warehouse-pos.png'); background-repeat: no-repeat; }

