@import '../../globals/scss/vars';
@import '../../globals/scss/colors';
@import '../../globals/scss/typography';
@import '../../globals/scss/spacing';
@import '../../globals/scss/vendor/@un/import-once/scss/import-once';
@import '../../globals/scss/css--reset';

@include exports('sidebar-content') {
  .#{$prefix}--sidebar-content__container {
    display: flex;
    flex: 1;
    flex-shrink: 1;
    overflow: hidden;
    height: 100%;
  }

  .#{$prefix}--sidebar-content__header {
    padding: 1em;
    background-color: var(--ui-02);
    border-bottom: 1px solid var(--ui-03);
    &.#{$prefix}--sidebar-content__header--no-padding {
      padding: 0;
    }
  }

  .#{$prefix}--sidebar-content__children {
    background-color: var(--ui-01);
    flex: 1;
    overflow: auto;
  }

  .#{$prefix}--sidebar-content__scroll {
    overflow: auto;
    flex: 1;
  }

  .#{$prefix}--sidebar-item-content {
    width: 100%;
    @media print {
      display: none;
    }
    @include breakpoint(bp--md--major) {
      width: 30%;
      min-width: 20rem;
      max-width: 30rem;
      border-right: 1px solid var(--ui-04);
    }
    @include breakpoint(bp--md--major) {
      //min-width: auto;
      max-width: 30rem;
    }
    display: flex;
    flex-direction: column;
    height: 100%;

    @include breakpointMax(bp--md--major) {
      top: 0;
      overflow: auto;
    }
  }
  .#{$prefix}--content-section {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    //height: 100vh;
    flex: 1;
    @include breakpointMax(bp--md--major) {
      .#{$prefix}--sidebar-content__container--active & {
        transform: translateX(0%);
      }
      transform: translateX(100%);
      position: fixed;
      top: 0;
      background: var(--ui-01);
      width: 100%;
      height: 100%;
      overflow: auto;
      transition: all 0.4s cubic-bezier(0.25, 1, 0.5, 1);
      z-index: 100;
    }
  }
  .#{$prefix}--sidebar-content-mobile-header {
    display: none;
    @include breakpointMax(bp--md--major) {
      display: block;
      padding: 1em;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: var(--ui-01);
      border-bottom: 1px solid var(--ui-02);
      z-index: 10000;
      width: 100%;
      position: sticky;
      top: 0;
    }
  }

  .#{$prefix}--sidebar-content__back-button {
    font-weight: 500;
    color: var(--interactive-01);
    cursor: pointer;
    display: inline-block;
    text-decoration: none i !important;
    svg {
      margin-right: 0.3em;
      path {
        fill: var(--interactive-01);
      }
    }
  }
}
